<template>
  <div>
    <v-toolbar flat>
      <!-- title -->
      <v-toolbar-title>
        <h2>{{ $t('analytic_list') }}</h2>
      </v-toolbar-title>
    </v-toolbar>

    <!-- dashboard tabs -->
    <v-tabs
      v-if="dashboards.length>1"
    >
      <v-tab
        v-model="dashboards"
        v-for="dashboard_tab in dashboards"
        v-bind:key="dashboard_tab.title"
        @click="setAndDisplayDashboard(dashboard_tab.dashboardId)"
      >
        {{ $t(dashboard_tab.title) }}
      </v-tab>
    </v-tabs>

    <!-- data table -->
    <v-data-table
      v-model="selected"
      class="row-pointer"
      :items="items"
      multi-sort
      :options.sync="options"
      :server-items-length="total"
      :hide-default-header="true"
      :hide-default-footer="true"
      :hide-default-content="true"
    >
      <template slot="no-data">
        <div></div>
      </template>
      <template v-slot:top>
        <!-- filters -->
        <p>{{ date_of_data }}</p>
        <v-container>
          <v-row>
            <v-col
              v-for="onFilter in alwaysOnFilters()"
              :key="onFilter.name"
              :cols="onFilter.cols"
              :sm="onFilter.cols"
              :md="onFilter.cols"
            >
              <filter-choice
                :filter="filter"
                :on-filter="onFilter"
                @filterChanged="filterChanged"
              />
            </v-col>
          </v-row>
        </v-container>
        <!-- end filters -->
      </template>
    </v-data-table>
    <AnalyticDashboard :url="url" />
  </div>
</template>

<script>
import AnalyticDashboard from '@/components/analytic/AnalyticDashboard';

import ResourceListMixin from "@/mixins/ResourceList";
import PageTitleMixin from "@/mixins/PageTitle";
import DateFormatMixin from "@/mixins/DateFormat";
import FilterList from "@/components/filter/FilterList.vue";
import FilterChoice from "@/components/filter/FilterChoice.vue";

import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_views_en, messages_views_fr} from '@/translations/views/Analytics/';
import {messages_routes_en, messages_routes_fr} from "@/translations/routes/";

let messages_en = {...messages_views_en,
  routes: { ...messages_routes_en },
  dates: { ...messages_dates_en }
};
let messages_fr = {...messages_views_fr,
  routes: { ...messages_routes_fr },
   dates: {...messages_dates_fr }
};

export default {
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  components:{
    AnalyticDashboard,
    FilterList,
    FilterChoice,
  },
  mixins: [ResourceListMixin, PageTitleMixin, DateFormatMixin],
  watch: {
    selected: function() {
      let filters = this.$store.getters['an/filter'];
      this.filter_with_territory(filters.territoryFilter);
      this.filter_with_community(filters.communityFilter);
      this.displayDashboard();
    }
  },
  data () {
    return {
      // define the store module used
      resource: 'an',
      dashboards_no_community_filter: [
        {title: 'summary', dashboardId: 1},
        {title: 'saved_CO2', dashboardId: 2},
        {title: 'published_ads', dashboardId: 3},
        {title: 'users', dashboardId: 4},
        {title: 'solidary_users', dashboardId: 5},
        {title: 'communities', dashboardId: 6},
      ],

      dashboards_community_filtered: [
        {title: 'summary', dashboardId: 10},
        {title: 'saved_CO2', dashboardId: 2},
        {title: 'published_ads', dashboardId: 3},
        {title: 'users', dashboardId: 4},
      ],
      dashboard_tabs: null,
      selected_dashboard_tab: 1,
      selected_territory: null,
      selected_community: null
    };
  },
  computed:{
    dashboards: {
      get: function() {
        return this.dashboard_tabs;
      },
      set: function(dashboard_tabs) {
        this.dashboard_tabs = dashboard_tabs;
        if (this.selected_dashboard_tab == 1) {
          if(this.selected_community !== null) {
            this.selected_dashboard_tab = 10;
          }
        } else if (this.selected_dashboard_tab == 10) {
          if(this.selected_community === null) {
            this.selected_dashboard_tab = 1;
          }
        } else if (this.selected_dashboard_tab > dashboard_tabs.length) {
          if(this.selected_community === null) {
            this.selected_dashboard_tab = 1;
          } else {
            this.selected_dashboard_tab = 10;
          }
        }
      }
    },
    url(){
      return (this.$store.getters['an/item']) ? this.$store.getters['an/item'].url : null;
    },
    date_of_data(){
      var yesterday = new Date();
      yesterday.setDate(yesterday.getDate() - 1);
      return this.$t("date_data") + " " + yesterday.toLocaleDateString();
    }
  },
  created(){
    this.dashboard_tabs = this.dashboards_no_community_filter;
    let filters = this.$store.getters['an/filter'];
    let territory_filter = (filters.territoryFilter) ? filters.territoryFilter: null;
    let community_filter = (filters.communityFilter) ? filters.communityFilter: null;
    this.filter_with_territory(territory_filter);
    this.filter_with_community(community_filter);
  },
  mounted(){
    this.displayDashboard();
  },
  methods:{
    // define the fields (used for guessing headers and filters)
    fields() {
      let territory_filter = {
          label: this.$t("territoryFilter"),
          name: "territoryFilter",
          filter: {
            type: "autocomplete",
            resource: "t",
            cols: "4",
            alwaysOn: true,
          },
      };

      let community_filter = {
          label: this.$t('communityFilter'),
          name: 'communityFilter',
          filter: {
            type: 'autocomplete',
            resource: 'c',
            cols: '4',
            alwaysOn: true,
          },
      };
      if (this.selected_dashboard_tab == 5 || this.selected_dashboard_tab == 6) {
        return [territory_filter];
      } else {
        return [territory_filter, community_filter];
      }
    },
    displayDashboard() {
      let dashboardId = this.selected_dashboard_tab;
      let territoryId = this.selected_territory;
      let communityId = this.selected_community;
      this.$store.dispatch('an/loadItem', {
        id: dashboardId,
        territoryId: territoryId,
        communityId: communityId,
      });
    },
    setAndDisplayDashboard(dashboardId) {
      this.selected_dashboard_tab = dashboardId;
      this.displayDashboard();
    },
    filter_with_territory(territory_item) {
      this.selected_territory = territory_item;
    },
    filter_with_community(community_item) {
      if (community_item === null) {
        this.selected_community = null;
        this.dashboards = this.dashboards_no_community_filter;
      } else if (community_item !== undefined) {
        this.selected_community = community_item;
        this.dashboards = this.dashboards_community_filtered;
      }
    },
  }
};
</script>
