<template>
  <v-row>
    <v-col cols="9">
      <v-select
        :value="value"
        :items="items"
        :menu-props="{ maxHeight: '400' }"
        label=""
        hide-details
        @change="change"
      />
    </v-col>
    <v-col
      v-if="edited"
      cols="3"
    >
      <v-btn 
        color="primary"
        :loading="moderating"
        :disabled="moderating"
        @click="save()"
      >
        <v-icon>
          mdi-content-save
        </v-icon>
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
import {messages_models_en, messages_models_fr} from '@/translations/models/Community/';

export default {
  props: {
    initValue: {
      type: Number,
      default: null
    },
    id: {
      type: Number,
      default: null
    },
    refresh: {
      type: Boolean,
      default: false
    },
    moderating: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      value: this.initValue,
      edited: false,
      loading: false
    };
  },
  i18n: {
    messages: {
      'en': messages_models_en,
      'fr': messages_models_fr
    }
  },
  computed: {
    items() {
      return [ 
        { text: this.$t('member.status.items.pending.name'), value: parseInt(this.$t('member.status.items.pending.value')) },
        { text: this.$t('member.status.items.member.name'), value: parseInt(this.$t('member.status.items.member.value')) },
        { text: this.$t('member.status.items.moderator.name'), value: parseInt(this.$t('member.status.items.moderator.value')) },
        { text: this.$t('member.status.items.refused.name'), value: parseInt(this.$t('member.status.items.refused.value')) }
      ];
    }
  },
  watch: {
    refresh(val) {
      // force the refresh
      if (val) this.value = this.initValue;
      this.edited = false;
    },
    initValue() {
      this.edited = this.value !== this.initValue;
    }
  },
  methods: {
    save() {
      this.$emit('moderate', {
        id: this.id,
        status: this.value
      });
    },
    change(val) {
      this.value = val;
      this.edited = this.value !== this.initValue;
    }
  }
};
</script>