<template>
  <div>
    <v-card outlined :loading="loading" loader-height="8">
      <!-- data table -->
      <v-data-table
        :value="selected"
        :headers="headers()"
        :items="items"
        :show-select="!edit"
        multi-sort
        :options.sync="options"
        :server-items-length="total"
        :footer-props="footerProps"
        @input="$emit('selected', $event)"
      >
        <template v-slot:top>
          <!-- filters -->
          <v-container>
            <v-row>
              <v-col
                v-for="onFilter in alwaysOnFilters()"
                :key="onFilter.name"
                :cols="onFilter.cols"
                :sm="onFilter.cols"
                :md="onFilter.cols"
              >
                <filter-choice
                  :filter="filter"
                  :on-filter="onFilter"
                  @filterChanged="filterChanged"
                />
              </v-col>
              <v-col v-if="optionalFilters().length > 0" cols="4" sm="4" md="4">
                <filter-list
                  v-model="selectedOptionalFilters"
                  :list="optionalFilters()"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-for="onFilter in displayedOptionalFilters()"
                :key="onFilter.name"
                :cols="onFilter.cols"
                :sm="onFilter.cols"
                :md="onFilter.cols"
              >
                <filter-choice
                  :filter="filter"
                  :on-filter="onFilter"
                  @filterChanged="filterChanged"
                />
              </v-col>
            </v-row>
          </v-container>
          <!-- end filters -->
        </template>

        <!-- overload the columns data format -->
        <!-- eslint-disable -->
        <template v-slot:[`item.username`]="{ item }">
          <v-chip color="primary" label>
            <v-avatar left>
              <v-img v-if="item.avatar" :src="item.avatar" />
              <v-icon v-else> mdi-account-circle-outline </v-icon>
            </v-avatar>
            {{ item.username }}
          </v-chip>
        </template>
        <template v-slot:[`item.givenName`]="{ item }">
          <span>{{ item.givenName }}</span>
        </template>
        <template v-slot:[`item.familyName`]="{ item }">
          <span>{{ item.familyName }}</span>
        </template>
        <template v-slot:[`item.status`]="{ item }">
          <span v-if="!edit">{{
            $t("community.member.status.values." + item.status)
          }}</span>
          <community-member-moderate
            v-else
            :id="item.id"
            :init-value="item.status"
            :refresh="refresh"
            :moderating="moderating"
            @moderate="moderate"
          />
        </template>
        <template v-slot:[`item.newsSubscription`]="{ item }">
          <v-simple-checkbox v-model="item.newsSubscription" disabled />
        </template>
        <template v-slot:[`item.createdDate`]="{ item }">
          <span>{{ asSimpleDate(item.createdDate) }}</span>
        </template>
        <template v-slot:[`item.acceptedDate`]="{ item }">
          <span>{{ asSimpleDate(item.acceptedDate) }}</span>
        </template>
        <template v-slot:[`item.refusedDate`]="{ item }">
          <span>{{ asSimpleDate(item.refusedDate) }}</span>
        </template>
        <template v-slot:[`item.lastActivityDate`]="{ item }">
          <span>{{ asSimpleDate(item.lastActivityDate) }}</span>
        </template>
        <template v-slot:[`item.adType`]="{ item }">
          <v-icon v-for="(icon, key) in getAdTypeIcons(item.adType)" :key="key">
            >
            {{ icon }}
          </v-icon>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-btn
            v-if="canRemoveMember"
            class="ma-2"
            color="error"
            text
            @click.stop="removeMember(item)"
          >
            {{ $t("community.member.removeMember") }}
            <v-icon right> mdi-alert </v-icon>
          </v-btn>
        </template>
        <!-- end column overload -->
      </v-data-table>
    </v-card>
    <!-- remove member dialog -->
    <v-dialog v-model="removeMemberDialog" persistent max-width="500">
      <v-card>
        <v-card-title class="text-h5">
          {{ $t("community.member.removeMemberDialog.title") }}
        </v-card-title>
        <v-card-text
          v-if="memberToRemove"
          v-html="
            $t('community.member.removeMemberDialog.text', {
              memberToRemove:
                memberToRemove.givenName + ' ' + memberToRemove.familyName,
            })
          "
        />
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn text color="error" @click="removeMemberDialog = false">
            {{ $t("cancel") }}
          </v-btn>
          <v-btn
            text
            color="success"
            :loading="loading"
            @click.stop="confirmRemoveMember(memberToRemove.id)"
          >
            {{ $t("valid") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ResourceListMixin from "@/mixins/ResourceList";
import PageTitleMixin from "@/mixins/PageTitle";
import DateFormatMixin from "@/mixins/DateFormat";
import FilterList from "@/components/filter/FilterList.vue";
import FilterChoice from "@/components/filter/FilterChoice.vue";
// ---
import CommunityMemberModerate from "@/components/community/CommunityMemberModerate";

// import the translations
import { messages_routes_en, messages_routes_fr } from "@/translations/routes/";
import {
  messages_views_en,
  messages_views_fr,
} from "@/translations/views/Communities/";
import {
  messages_dates_en,
  messages_dates_fr,
} from "@/translations/views/Dates/";
import {
  messages_models_en,
  messages_models_fr,
} from "@/translations/models/Community/";

let messages_en = {
  ...messages_views_en,
  dates: { ...messages_dates_en },
  routes: { ...messages_routes_en },
  community: { ...messages_models_en },
};
let messages_fr = {
  ...messages_views_fr,
  dates: { ...messages_dates_fr },
  routes: { ...messages_routes_fr },
  community: { ...messages_models_fr },
};

export default {
  components: {
    CommunityMemberModerate,
    FilterList,
    FilterChoice,
  },
  mixins: [ResourceListMixin, PageTitleMixin, DateFormatMixin],
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    field: {
      type: String,
      default: "",
    },
    edit: {
      type: Boolean,
      default: false,
    },
    refresh: {
      type: Boolean,
      default: false,
    },
  },
  i18n: {
    messages: {
      en: messages_en,
      fr: messages_fr,
    },
  },
  data() {
    return {
      // define the store module used
      resource: "cm",
      // used to know when the moderation of a member is pending
      moderating: false,
      removeMemberDialog: false,
      memberToRemove: null,
      pendingRemoveMember: false,
      canRemoveMember:
        this.$store.getters["auth/authorized"]("community_manage"),
    };
  },
  computed: {
    curMember() {
      // only used to trigger watch, that will refresh member list after status change
      return this.$store.getters[this.resource + "/item"];
    },
    loading() {
      return this.$store.getters[this.resource + "/loading"];
    },
  },
  watch: {
    refresh(val) {
      // force the refresh
      if (val) this.getItems();
    },
    curMember(val) {
      if (val !== null) this.getItems();
      this.moderating = false;
    },
    loading(val) {
      if (!val) {
        if (this.pendingRemoveMember) {
          this.pendingRemoveMember = false;
          this.removeMemberDialog = false;
        }
        this.$emit("refreshed");
      }
    },
    pendingRemoveMember() {
      this.getItems();
    },
  },
  methods: {
    // define the fields (used for guessing headers and filters)
    fields() {
      return [
        { label: this.$t("community.member.id"), name: "id", hidden: true },
        { label: this.$t("community.member.username"), name: "username" },
        {
          label: this.$t("community.member.givenName"),
          name: "givenName",
          filter: { type: "text", cols: "4", alwaysOn: true },
        },
        {
          label: this.$t("community.member.familyName"),
          name: "familyName",
          filter: { type: "text", cols: "4", alwaysOn: true },
        },
        { label: this.$t("community.member.status.label"), name: "status" },
        {
          label: this.$t("community.member.newsSubscription"),
          name: "newsSubscription",
          sortable: false,
        },
        { label: this.$t("community.member.createdDate"), name: "createdDate" },
        {
          label: this.$t("community.member.acceptedDate"),
          name: "acceptedDate",
        },
        { label: this.$t("community.member.refusedDate"), name: "refusedDate" },
        {
          label: this.$t("community.member.lastActivityDate"),
          name: "lastActivityDate",
        },
        {
          label: this.$t("community.member.adType"),
          name: "adType",
          sortable: false,
        },
        { label: this.$t("community.member.actions"), name: "actions" },
      ];
    },
    getAdTypeIcons(val) {
      switch (val) {
        case 1:
          return ["mdi-steering"];
        case 2:
          return ["mdi-walk"];
        case 3:
          return ["mdi-steering", "mdi-walk"];
        default:
          return ["mdi-cancel"];
      }
    },
    // get the items to populate the datatable
    getItems() {
      this.$store.dispatch(this.resource + "/loadItems", this.item.id);
    },
    moderate(item) {
      this.moderating = true;
      this.$store.dispatch(this.resource + "/patchItem", {
        id: item.id,
        item: { status: item.status },
      });
    },
    removeMember(member) {
      this.removeMemberDialog = true;
      this.memberToRemove = member;
    },
    confirmRemoveMember(id) {
      this.pendingRemoveMember = true;
      this.$store.dispatch("cm/deleteItem", id);
    },
  },
};
</script>
