<template>
  <div class="community">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn 
          v-if="item"
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="item"
        >
          <h2>
            {{ $t('community_show') }} 
            <v-chip
              class="ma-2"
              outlined
              color="primary"
              label
            >
              <v-icon left>
                mdi-account-group
              </v-icon>
              {{ item.name }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <!-- mass mailing -->
          <v-menu
            v-if="mtab == 1 && showCampaignButton"
            close-on-click
            down
            offset-y
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                text
                color="green"
                v-bind="attrs"
                v-on="on"
              >
                {{ $t('mass_mailing') }}
                <v-icon right>
                  mdi-email-multiple
                </v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item-group
                color="green"
              >
                <v-list-item
                  two-line
                  @click="emailAll()"
                >
                  <v-list-item-icon>
                    <v-icon>mdi-account-group</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ $t('mass_mailing_all') }}
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      {{ $t('mass_mailing_accepters') }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item
                  v-if="selected.length>0"
                  two-line
                  @click="emailSelected()"
                >
                  <v-list-item-icon>
                    <v-icon>mdi-account-multiple-check</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ $tc('mass_mailing_selected', selected.length, { nb: selected.length}) }}
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      {{ $tc('mass_mailing_accepters_selected', selected.length, { nb: selected.length}) }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-menu>

          <!-- Members export -->
          <v-btn
            v-if="mtab == 1 && canExport"
            text
            color="green"
            :loading="loading"
            @click="onExport()"
          >
            Exporter
            <v-icon right>
              mdi-download
            </v-icon>
          </v-btn>

          <!-- edit item -->
          <v-btn
            v-if="item"
            text
            color="green"
            :to="editItem()"
          >
            {{ $t('edit') }}
            <v-icon right>
              mdi-pencil
            </v-icon>
          </v-btn>
          <!-- refresh -->
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="hardRefresh()"
          >
            {{ $t('refresh') }}
            <v-icon>
              mdi-refresh
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail tabs -->
      <v-container
        v-if="item"
      >
        <v-row>
          <v-col
            :cols="side().label != undefined ? 9 : 12"
          >
            <v-card
              flat
            >
              <!-- tabs list -->
              <v-tabs
                v-if="tabs().length>1"
                v-model="mtab"
              >
                <v-tab
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  {{ tab.label }}
                </v-tab>
              </v-tabs>
              <v-divider />

              <!-- tabs content -->
              <v-tabs-items 
                v-model="mtab"
              >
                <v-tab-item
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  <!-- container for regular fields -->
                  <v-container
                    v-if="tab.rows"
                  >
                    <v-row 
                      v-for="row in tab.rows"
                      :key="row.id"
                    >
                      <v-col
                        v-for="field in row.fields"
                        :key="field.name"
                        :cols="field.cols"
                        :sm="field.cols"
                        :md="field.cols"
                      >
                        <field-choice
                          :resource="resource"
                          :field="field"
                          :read-only="true"
                        />
                      </v-col>
                    </v-row>
                  </v-container>
                  <!-- special fields, handled by their dedicated component -->
                  <component 
                    :is="tab.component"
                    v-else-if="tab.component"
                    :field="tab.name"
                    :item="item"
                    :read-only="true"
                    @selected="selectedMembers"
                  />
                </v-tab-item>
              </v-tabs-items>
            </v-card> 
          </v-col>
          <!-- side -->
          <v-col
            v-if="side().label != undefined"
            cols="3"
          >
            <v-card
              flat
            >
              <!-- side title -->
              <v-card-title>
                {{ side().label }}
              </v-card-title>
              <!-- side items -->
              <v-card-text>
                <v-list dense> 
                  <v-list-item
                    v-for="(sideItem, i) in side().items"
                    :key="i"
                  >
                    <v-list-item-icon>
                      <v-icon 
                        v-if="sideItem.icon"
                        v-text="sideItem.icon"
                      />
                      <v-icon 
                        v-else
                        v-text="getSideItemData(sideItem.name,item[sideItem.name]).icon"
                      />
                    </v-list-item-icon>
                    <v-list-item-content
                      v-if="sideItem.value"
                    >
                      {{ sideItem.text }}
                    </v-list-item-content>
                    <v-list-item-content
                      v-else-if="sideItem.text"
                    >
                      {{ sideItem.text }}
                    </v-list-item-content>
                    
                    <v-list-item-content
                      v-else
                    >
                      {{ getSideItemData(sideItem.name,item[sideItem.name]).text }}
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-card-text>
            </v-card> 
          </v-col>
        </v-row>
      </v-container>
    </v-card>

    <!-- emailing action dialog -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="800"
    >
      <v-card
        :loading="associateLoading"
      >
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>
          {{ dialogText }}
          <campaign-field
            v-model="campaign"
          />
        </v-card-text>
        <v-card-subtitle><h3>{{ $t('dialog.mass_mailing.gpdr_title') }}</h3></v-card-subtitle>
        <v-card-text>
          <p 
            class="text-justify"
            v-html="$t('dialog.mass_mailing.gpdr_text', { instance: platformName})" 
          />
        </v-card-text>
        <v-card-text>
          <v-checkbox
            v-model="gpdr"
            :label="$t('dialog.mass_mailing.gpdr_label')"
          />
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            :disabled="associateLoading"
            text
            @click="gpdr = false;dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :disabled="campaign === null || campaign === undefined || associateLoading || !gpdr"
            :color="dialogColor"
            text
            @click="associateCampaign"
          >
            {{ $t('dialog.mass_mailing.associateCampaign') }}
            <v-icon
              right
            >
              mdi-link
            </v-icon>
          </v-btn>
          <v-btn
            :disabled="associateLoading || !gpdr"
            :color="dialogColor"
            text
            @click="newCampaign"
          >
            {{ $t('dialog.mass_mailing.newCampaign') }}
            <v-icon right>
              mdi-plus
            </v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import getEnv from '@/utils/env';
import FieldChoice from '@/components/field/FieldChoice.vue';
import ResourceShowMixin from '@/mixins/ResourceShow';
import PageTitleMixin from '@/mixins/PageTitle';
import DateFormatMixin from '@/mixins/DateFormat';
import CommunityMemberList from '@/components/community/CommunityMemberList';
import CampaignField from '@/components/field/CampaignField.vue';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Communities/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Community/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, routes: {...messages_routes_en }, community: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, routes: {...messages_routes_fr }, community: { ...messages_models_fr }};

export default {
  components: {
    FieldChoice,
    CommunityMemberList,
    CampaignField
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceShowMixin,
    PageTitleMixin,
    DateFormatMixin
  ],
  data() {
    return {
      // define the store module used
      resource: 'c',
      // selected items in the members datatable
      selected: [],
      // dialog
      dialog: false,
      dialogTitle: '',
      dialogText: '',
      dialogAction: '',
      dialogColor: '',
      campaign: null,
      gpdr: null,
      platformName: getEnv('VUE_APP_PLATFORM_NAME'),
      // associate campaign loader
      associateLoading: false
    };
  },
  computed: {
    associated: {
      get: function() {
        return this.$store.getters['cm/associated'];
      },
      set: function(val) {
        this.$store.dispatch('cm/saveAssociated', val);
      }
    },
    showCampaignButton() {
      return this.$store.getters['auth/authorized']('campaign_create') && getEnv('VUE_APP_CAMPAIGN') === 'true';
    },
    canExport() {
      return getEnv('VUE_APP_EXPORT') == 'true' && this.$store.getters['auth/authorized']('export') && this.$store.getters['auth/authorized']('admin_user_export_all');
    },
  },
  watch: {
    associated(val) {
      if (val == 1) {
        // campaign was associated
        this.endAssociateLoad();
        this.associated = null;
        this.$store.dispatch('cp/clearDeliveries', val);
        this.dialog = false;
        this.$router.push(this.$router.options.routes.find( proute => proute.name === 'campaign_send' ).path.replace(':id',this.campaign));
      }
      this.endAssociateLoad();
    }
  },
  methods: {
    // define the fields by tabs (mandatory)
    // at least one tab is needed 
    // if there's only one tab modify the v-tab above to display the content only and not the tab label
    tabs() {
      return [
        {
          // detail tab
          label: this.$t('community.tab.detail'), id: 1, 
          rows: [ 
            { 
              id: 1,
              fields: 
              [
                { label: this.$t('community.id'), name: 'id', type: 'text', cols:'2' },
                { label: this.$t('community.name'), name: 'name', type: 'text', cols:'10' }
              ]
            },
            { 
              id: 2,
              fields: 
              [
                { label: this.$t('community.nbMembers'), name: 'nbMembers', type: 'text', cols:'2' },
                { label: this.$t('community.referrer'), name: 'referrer', type: 'text', cols:'5', icon: 'mdi-account-tie' },
                { label: this.$t('community.validationType.label'), name: 'validationType', type: 'select', 
                  values: [ 
                    { text: this.$t('community.validationType.items.auto.name'), value: parseInt(this.$t('community.validationType.items.auto.value')) }, 
                    { text: this.$t('community.validationType.items.manual.name'), value: parseInt(this.$t('community.validationType.items.manual.value')) },
                    { text: this.$t('community.validationType.items.domain.name'), value: parseInt(this.$t('community.validationType.items.domain.value')) },
                    { text: this.$t('community.validationType.items.secured.name'), value: parseInt(this.$t('community.validationType.items.secured.value')) }
                  ], cols:'4' 
                },
                { label: this.$t('community.domain'), name: 'domain', type: 'text', cols:'5', hidden: (this.item && this.item.validationType !== parseInt(this.$t('community.validationType.items.domain.value'))) },
              ]
            },
            { 
              id: 3,
              fields: 
              [
                { label: this.$t('community.image'), name: 'image', type: 'image', cols:'4' }
              ]
            },
            { 
              id: 4,
              fields: 
              [
                { label: this.$t('community.address'), name: 'address', type: 'geocomplete', cols:'12', icon: 'mdi-home-map-marker' }
              ]
            },
            { 
              id: 5,
              fields: 
              [
                { label: this.$t('community.description'), name: 'description', type: 'textarea', cols:'12' }
              ]
            },
            { 
              id: 6,
              fields: 
              [
                { label: this.$t('community.fullDescription'), name: 'fullDescription', type: 'html', cols:'12' }
              ]
            },
          ]
        },
        // members tab
        {
          label: this.$t('community.tab.members'), id: 2, 
          component: 'CommunityMemberList',
          name: 'members'
        }
      ];
    },
    // define the side element (optional)
    // - if an item can have different values, define the different values; the right value will be picked up in the template
    // - if an item has a single value (eg. a date) we translate it directly and send the value to the template (juste add 'value: true')
    side() {
      return {
        label: this.$t('community.side.parameters'),
        items: [
          { name: 'membersHidden', values: [
            { value: true, icon: 'mdi-account-off', text: this.$t('community.membersHidden.items.true.name') },
            { value: false, icon: 'mdi-account', text: this.$t('community.membersHidden.items.false.name') },
            { value: null, icon: 'mdi-account', text: this.$t('community.membersHidden.items.false.name') }
          ]},
          { name:'proposalsHidden', values: [
            { value: true, icon: 'mdi-car-off', text: this.$t('community.proposalsHidden.items.true.name') },
            { value: false, icon: 'mdi-car', text: this.$t('community.proposalsHidden.items.false.name') },
            { value: null, icon: 'mdi-car', text: this.$t('community.proposalsHidden.items.false.name') }
          ]},
          { name: 'validationType', values: [
            { value: 0, icon: 'mdi-shield-check', text: this.$t('community.validationType.items.auto.name') },
            { value: 1, icon: 'mdi-shield-account', text: this.$t('community.validationType.items.manual.name') },
            { value: 2, icon: 'mdi-shield-home', text: this.$t('community.validationType.items.domain.name') },
          ]},
          { icon: 'mdi-calendar', text: this.$tc('community.infoCreatedDate', this.item.createdDate === null ? 1 : 2, { date: this.asDateTime(this.item.createdDate) }), value: true },
          { icon: 'mdi-calendar-check', text: this.$tc('community.infoUpdatedDate', this.item.updatedDate === null ? 1 : 2, { date: this.asDateTime(this.item.updatedDate) }), value: true }
        ]
      };
    },
    selectedMembers(members) {
      this.selected = members;  
    },
    // mass mailing all items action (=filtered without filter)
    emailAll() {
      this.dialog = true;
      this.dialogTitle = this.$t('dialog.mass_mailing.all.title');
      this.dialogText = this.$t('dialog.mass_mailing.all.text');
      this.$store.dispatch('cp/saveDeliveries',{
        deliveries: [],
        source: 2,
        filterType: 2,
        sourceId:this.item.id,
        sourceName: this.item.name,
        filters: this.filter,
        count: this.item.nbMembers
      });
    },
    // mass mailing filtered items action
    emailFiltered() {
      this.dialog = true;
      this.dialogTitle = this.$t('dialog.mass_mailing.filtered.title');
      this.dialogText = this.$t('dialog.mass_mailing.filtered.text');
      this.$store.dispatch('cp/saveDeliveries',{
        deliveries: [],
        source: 2,
        filterType: 2,
        sourceId: this.item.id,
        sourceName: this.item.name,
        filters: this.filter,
        count: this.item.nbMembers
      });
    },
    // mass mailing selected items action
    emailSelected() {
      this.dialog = true;
      this.dialogTitle = this.$t('dialog.mass_mailing.selection.title');
      this.dialogText = this.$t('dialog.mass_mailing.selection.text');
      this.$store.dispatch('cp/saveDeliveries',{
        deliveries: this.selected.filter(member => member.newsSubscription).map(member => member.id),
        source: 2,
        filterType: 1,
        sourceId:this.item.id,
        sourceName: this.item.name,
        count: this.selected.length
      });
    },
    associateCampaign() {
      this.associateLoading = true;
      this.$store.dispatch('cm/associate',{
        campaign: this.campaign,
        filterType: this.$store.getters['cp/deliveryFilterType'],
        deliveries: this.$store.getters['cp/deliveries'],
        community: this.$store.getters['cp/deliverySourceId'],
      });
    },
    newCampaign() {
      this.dialog = false;
      this.$router.push(this.$router.options.routes.find( proute => proute.name === 'campaign_create' ));
    },
    // stop the associate loading
    endAssociateLoad() {
      this.associateLoading = false;
    },
    onExport() {
      this.$store.dispatch(`${this.resource}/exportAll`, this.item.id);
    }
  }
};
</script>