<template>
  <div class="community">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn 
          v-if="editedItem"
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="editedItem"
        >
          <h2>
            {{ edit ? $t('community_edit') : $t('community_add') }} 
            <v-chip
              class="ma-2"
              outlined
              :color="edited ? 'warning' : 'primary'"
              label
            >
              <v-icon left>
                mdi-account-group
              </v-icon>
              {{ editedItem.name }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <!-- add member -->
          <v-btn
            v-if="mtab==1 && canAddMember"
            text
            color="green"
            @click="showAddMember()"
          >
            {{ $t('community_member_add') }}
            <v-icon right>
              mdi-plus
            </v-icon>
          </v-btn>

          <v-btn
            text
            color="green"
            :loading="loading"
            @click="edit ? localRefresh() : restart()"
          >
            {{ edit ? $t('refresh') : $t('restart') }}
            <v-icon
              v-if="edit"
            >
              mdi-refresh
            </v-icon>
            <v-icon
              v-else
            >
              mdi-restart
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail -->
      <v-card
        v-if="editedItem"
        flat
      >
        <v-form 
          ref="form"
          v-model="valid"
        >
          <!-- tabs list -->
          <v-tabs
            v-if="tabs.length>0"
            v-model="mtab"
          >
            <v-tab
              v-for="tab in tabs"
              :key="tab.label"
            >
              {{ tab.label }}
            </v-tab>
          </v-tabs>
          <v-divider />

          <!-- tabs content -->
          <v-tabs-items 
            v-model="mtab"
          >
            <v-tab-item
              v-for="tab in tabs"
              :key="tab.label"
            >
              <!-- container for regular fields -->
              <v-container
                v-if="tab.rows"
              >
                <v-row 
                  v-for="row in tab.rows"
                  :key="row.id"
                >
                  <v-col
                    v-for="field in row.fields"
                    :key="field.name"
                    :cols="field.cols"
                    :sm="field.cols"
                    :md="field.cols"
                  >
                    <!-- all fields are handled by a v-model, except some components (geocomplete, image...), this is why there are event handlers -->
                    <field-choice
                      :resource="resource"
                      :field="field"
                      @image-changed="imageChanged"
                      @file-changed="fileChanged"
                      @image-reset="imageReset"
                      @address-changed="addressChanged"
                    />
                  </v-col>
                </v-row>
              </v-container>
              <!-- special fields, handled by their dedicated component -->
              <component 
                :is="tab.component"
                v-else-if="tab.component"
                :field="tab.name"
                :item="editedItem"
                :edit="true"
                :refresh="refreshMembers"
                @change="change"
                @refreshed="membersRefreshed"
              />
            </v-tab-item>
          </v-tabs-items>
        </v-form>
      </v-card>  
      <!-- edit buttons -->
      <v-card-actions
        v-if="mtab==0 && editedItem"
      >
        <!-- save item -->
        <v-btn
          color="primary"
          :disabled="!edited || !valid || loading"
          @click="save()"
        >
          {{ $t('save') }}
          <v-icon right>
            mdi-content-save
          </v-icon>
        </v-btn>
        <v-spacer />
        <!-- delete item -->
        <v-btn
          v-if="edit"
          color="error"
          :disabled="loading"
          @click="remove()"
        >
          {{ $t('remove') }}
          <v-icon right>
            mdi-delete
          </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>

    <!-- confirm action dialog -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>{{ dialogText }}</v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :color="dialogColor"
            text
            @click="launchAction()"
          >
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- add member dialog -->
    <v-dialog
      v-model="addMemberDialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="6"
              >
                <user-complete-field
                  v-model="member"
                  :label="$t('community.member.user')"
                />
              </v-col>
              <v-col
                cols="6"
              >
                <v-select
                  v-model="role"
                  :items="roles"
                  :menu-props="{ maxHeight: '400' }"
                  :label="$t('community.member.role')"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="addMemberDialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :color="dialogColor"
            text
            :disabled="member === null"
            @click="addMember()"
          >
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import FieldChoice from '@/components/field/FieldChoice';
import ResourceEditMixin from '@/mixins/ResourceEdit';
import PageTitleMixin from '@/mixins/PageTitle';
import CommunityMemberList from '@/components/community/CommunityMemberList';
import UserCompleteField from '@/components/field/UserCompleteField';
import CommunityMemberService from '@/services/communityMember.service';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Communities/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Community/';

let messages_en = { ...messages_views_en, routes: {...messages_routes_en }, community: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, routes: {...messages_routes_fr }, community: { ...messages_models_fr }};

export default {
  components: {
    FieldChoice,
    CommunityMemberList,
    UserCompleteField
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceEditMixin,
    PageTitleMixin
  ],
  data() {
    return {
      // define the store module used
      acceptedMimeTypes: 'text/plain,text/csv',
      resource: 'c',
      editor: null,
      addMemberDialog: false,
      // property used to force the member refreshment (the refresh button acts differently depending on the selected tab)
      refreshMembers: false,
      member: null,
      role: parseInt(this.$t('community.member.status.items.member.value'))
    };
  },
  computed: {
    // define the fields by tabs (mandatory)
    // at least one tab is needed 
    // if there's only one tab modify the v-tab above to display the content only and not the tab label
    tabs() {
      let ltabs = [];
      ltabs.push(
        {
          label: this.$t('community.tab.detail'), id: 1, 
          rows: [
            // detail tab
            { 
              id: 1,
              fields: 
              [
                { label: this.$t('community.id'), name: 'id', type: 'text', cols:'2', disabled: true },
                { label: this.$t('community.name'), name: 'name', type: 'text', cols:'10', required: true, nullable: false, validation: { required: this.$t('community.nameRequired'), rule: 'limit', counter: 255, valid: this.$t('community.nameLimit') } },
              ]
            },
            { 
              id: 2,
              fields: [
                { label: this.$t('community.referrer'), name: 'referrerId', type: 'usercomplete', resource: 'u', query: 'q', itemText: 'fullName', cols:'4', icon: 'mdi-account-tie', required: true, nullable: false, validation: { required: this.$t('community.referrerRequired') } },
                { label: this.$t('community.validationType.label'), name: 'validationType', type: 'select', 
                  values: [ 
                    { text: this.$t('community.validationType.items.auto.name'), value: parseInt(this.$t('community.validationType.items.auto.value')) }, 
                    { text: this.$t('community.validationType.items.manual.name'), value: parseInt(this.$t('community.validationType.items.manual.value')) },
                    { text: this.$t('community.validationType.items.domain.name'), value: parseInt(this.$t('community.validationType.items.domain.value')) },
                    { text: this.$t('community.validationType.items.secured.name'), value: parseInt(this.$t('community.validationType.items.secured.value')) }
                  ], cols:'4', required: true, nullable: false, validation: { required: this.$t('community.validationTypeRequired') } 
                },
                { label: this.$t('community.securityFile.label'), name: 'communitySecurities', type: 'uploadfile', newFile: 'newFile', icon: 'mdi-security', required: true, nullable: true, hidden: (this.editedItem && this.editedItem.validationType !== parseInt(this.$t('community.validationType.items.secured.value'))) , popUpTextOnClick: this.$t('community.securityFile.popup.text'), popUpTextAccept: this.$t('community.securityFile.popup.accept'), popUpTextCancel: this.$t('community.securityFile.popup.cancel'), validation: { required: this.$t('community.securityFile.required') }, acceptedMimeTypes: this.acceptedMimeTypes, hint: this.$t('community.acceptedFileTypesHint') },
                { label: this.$t('community.domain'), name: 'domain', nullable: true, type: 'text', cols:'4', hidden: (this.editedItem && this.editedItem.validationType !== parseInt(this.$t('community.validationType.items.domain.value'))) }
              ]
            },
            { 
              id: 3,
              fields: [
                { label: this.$t('community.image'), name: 'image', type: 'image', newImage: 'newImage', resetImage: 'resetImage', edit: this.edit, cols:'12', validation: { valid: this.$t('community.imageSize2'), rule: 'image2' } }
              ]
            },
            { 
              id: 4,
              fields: [
                { label: this.$t('community.proposalsHidden.label'), name: 'proposalsHidden', type: 'switch', cols:'4', tooltip: this.$t('community.proposalsHidden.tooltip') },
                { label: this.$t('community.membersHidden.label'), name: 'membersHidden', type: 'switch', cols:'4', tooltip: this.$t('community.membersHidden.tooltip') },
              ]
            },
            {
              id: 5,
              fields: [
                { label: this.$t('community.address'), name: 'address', type: 'geocomplete', cols:'12', required: true, nullable: false, validation: { required: this.$t('community.addressRequired') }, icon: 'mdi-home-map-marker' },
              ]
            },
            {
              id: 6,
              fields: [
                { label: this.$t('community.description'), name: 'description', required: true, validation: { required: this.$t('community.descriptionRequired'), rule: 'limit', counter: 255, valid: this.$t('community.descriptionLimit') }, type: 'textarea', cols:'12' },
              ]
            },
            {
              id: 7,
              fields: [
                { label: this.$t('community.fullDescription'), name: 'fullDescription', required: true, type: 'editor', cols:'12', validation: {required: this.$t('community.descriptionRequired')} },
              ]
            }
          ]
        }
      );
      // members tab
      if (this.edit) {
        ltabs.push(
          {
            label: this.$t('community.tab.members'), id: 2, 
            component: 'CommunityMemberList',
            name: 'members'
          }
        );
      }
      return ltabs;
    },
    roles() {
      return [ 
        { text: this.$t('community.member.status.items.member.name'), value: parseInt(this.$t('community.member.status.items.member.value')) },
        { text: this.$t('community.member.status.items.moderator.name'), value: parseInt(this.$t('community.member.status.items.moderator.value')) }
      ];
    },
    canAddMember() {
      return this.$store.getters['auth/authorized']('user_list');
    }
  },
  methods: {
    // handler for image change
    imageChanged(image) {
      this.editedItem[image.field] = image.image;
    },
    fileChanged(file) {
      this.editedItem[file.field] = file.file;
    },
    // handler for image reset
    imageReset(field) {
      this.editedItem[field] = false;
      this.$store.dispatch(this.resource+'/saveItem',this.editedItem);
    },
    // handler for geocomplete
    addressChanged(address) {
      this.editedItem[address.field] = address.address;
    },
    // handler for dedicated components events
    change(payload) {
      switch(payload.component) {
      default:
        break;
      }
    },
    // the members have been refreshed
    membersRefreshed() {
      this.refreshMembers = false;
    },
    localRefresh() {
      if (this.mtab == 1) {
        // refresh members
        this.refreshMembers = true;
      } else {
        // refresh community => usual behaviour
        this.refresh();
        // todo: find how to clear new image
      }
    },
    showAddMember() {
      this.dialogTitle = this.$t('dialog.member.title');
      this.dialogColor = 'primary';
      this.addMemberDialog = true;
    },
    addMember() {
      const id = this.$route.params.id;
      CommunityMemberService.postItem(
        {
          user: '/users/'+this.member,
          status: this.role,
          community: '/communities/'+id
        }
      ).then( () => {
        this.refreshMembers = true;
      });
      this.role = parseInt(this.$t('community.member.status.items.member.value'));
      this.member = null;
      this.addMemberDialog = false;
    }
  }
};
</script>