<template>
  <div class="article">
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn 
          v-if="editedItem"
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="editedItem"
        >
          <h2>
            {{ edit ? $t('article_edit') : $t('article_add') }} 
            <v-chip
              class="ma-2"
              outlined
              :color="edited ? 'warning' : 'primary'"
              label
            >
              <v-icon left>
                mdi-book-open
              </v-icon>
              {{ editedItem.title }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="edit ? refresh() : restart()"
          >
            {{ edit ? $t('refresh') : $t('restart') }}
            <v-icon
              v-if="edit"
            >
              mdi-refresh
            </v-icon>
            <v-icon
              v-else
            >
              mdi-restart
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail -->
      <v-card
        v-if="editedItem"
        flat
      >
        <v-form 
          ref="form"
          v-model="valid"
        >
          <!-- tabs list -->
          <v-tabs
            v-if="tabs.length>0"
            v-model="mtab"
          >
            <v-tab
              v-for="tab in tabs"
              :key="tab.label"
            >
              {{ tab.label }}
            </v-tab>
          </v-tabs>
          <v-divider />

          <!-- tabs content -->
          <v-tabs-items 
            v-model="mtab"
          >
            <v-tab-item
              v-for="tab in tabs"
              :key="tab.label"
            >
              <!-- container for regular fields -->
              <v-container
                v-if="tab.rows"
              >
                <v-row 
                  v-for="row in tab.rows"
                  :key="row.id"
                >
                  <v-col
                    v-for="field in row.fields"
                    :key="field.name"
                    :cols="field.cols"
                    :sm="field.cols"
                    :md="field.cols"
                  >
                    <field-choice
                      v-if="!field.component"
                      :resource="resource"
                      :field="field"
                    />
                    <component 
                      :is="field.component"
                      v-else
                    />
                  </v-col>
                </v-row>
              </v-container>
            </v-tab-item>
          </v-tabs-items>
        </v-form>
      </v-card>  
      <!-- edit buttons -->
      <v-card-actions
        v-if="mtab==0 && editedItem"
      >
        <!-- save item -->
        <v-btn
          color="primary"
          :disabled="!edited || !valid || loading"
          @click="save()"
        >
          {{ $t('save') }}
          <v-icon right>
            mdi-content-save
          </v-icon>
        </v-btn>
        <v-spacer />
        <!-- delete item -->
        <v-btn
          v-if="edit"
          color="error"
          :disabled="loading"
          @click="remove()"
        >
          {{ $t('remove') }}
          <v-icon right>
            mdi-delete
          </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>

    <!-- confirm action dialog -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>{{ dialogText }}</v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :color="dialogColor"
            text
            @click="launchAction()"
          >
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import FieldChoice from '@/components/field/FieldChoice.vue';
import ResourceEditMixin from '@/mixins/ResourceEdit';
import PageTitleMixin from '@/mixins/PageTitle';
import SectionList from '@/components/article/SectionList';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Articles/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Article/';

let messages_en = { ...messages_views_en, routes: {...messages_routes_en }, article: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, routes: {...messages_routes_fr }, article: { ...messages_models_fr }};

export default {
  components: {
    FieldChoice,
    SectionList
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceEditMixin,
    PageTitleMixin
  ],
  data() {
    return {
      // define the store module used
      resource: 'a',
      editor: null,
    };
  },
  computed: {
    // define the fields by tabs (mandatory)
    // at least one tab is needed 
    // if there's only one tab modify the v-tab above to display the content only and not the tab label
    tabs() {
      let ltabs = [];
      ltabs.push(
        {
          label: this.$t('article.tab.detail'), id: 1, 
          rows: [
            // detail tab
            { 
              id: 1,
              fields: 
              [
                { label: this.$t('article.id'), name: 'id', type: 'text', cols:'2', disabled: true },
                { label: this.$t('article.title'), name: 'title', type: 'text', cols:'6', required: true, nullable: false, validation: { required: this.$t('article.titleRequired'), rule: 'limit', counter: 255, valid: this.$t('article.titleLimit') } },
                { label: this.$t('article.status.label'), name: 'status', type: 'select', required: true, validation: { required: this.$t('article.statusRequired')}, cols:'4', values: [ 
                  { text: this.$t('article.status.items.pending.name'), value: parseInt(this.$t('article.status.items.pending.value')) }, 
                  { text: this.$t('article.status.items.active.name'), value: parseInt(this.$t('article.status.items.active.value')) }
                ] },
              ]
            },
            { 
              id: 2,
              fields: 
              [
                { name: 'sections', component: 'SectionList', cols:'12' }
              ]
            },
          ]
        }
      );
      return ltabs;
    }
  }
};
</script>