<template>
  <!-- show paragraphs -->
  <div
    v-if="readOnly"
    class="paragraph"
  >
    <div
      v-for="(item,i) in paragraphs"
      :key="i"
      class="mt-2"
    >
      <v-divider class="mb-2" />
      <span
        v-html="item.text"
      />
      <v-chip
        x-small
        class="mb-2"
        :color="item.status == 0 ? 'warning': 'primary'"
      >
        {{ getStatus(item.status) }}
      </v-chip>
    </div>
  </div>
  <!-- edit paragraphs -->
  <div
    v-else
    class="paragraph"
  >
    <v-card
      v-for="(item,i) in items"
      :key="i"
      dense
      class="mb-4"
      elevation="0"
    >
      <v-card-title>
        <v-row align="center">
          <v-col cols="2">
            {{ $t('paragraph_number',{ position: item.position}) }}
          </v-col>
          <v-col cols="2">
            <v-select
              v-model="items[i].status"
              :items="statuses"
              :menu-props="{ maxHeight: '400' }"
              :label="$t('paragraph.status.label')"
              autocomplete="c9d5b0a71a4f"
            />
          </v-col>
          <v-col
            cols="8"
            align="right"
          > 
            <v-btn
              v-if="!isFirst(item.position)"
              class="mr-2"
              fab
              dark
              x-small
              color="primary"
              @click="up(item)"
            >
              <v-icon>
                mdi-arrow-up
              </v-icon>
            </v-btn>
            <v-btn
              v-if="!isLast(item.position)"
              class="mr-2"
              fab
              dark
              x-small
              color="primary"
              @click="down(item)"
            >
              <v-icon>
                mdi-arrow-down
              </v-icon>
            </v-btn>
            <v-btn
              class="mr-2"
              fab
              dark
              x-small
              color="error"
              @click="remove(item)"
            >
              <v-icon>
                mdi-trash-can
              </v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text>
        <tiptap-vuetify
          v-model="items[i].text"
          :extensions="extensions"
          :card-props="{ flat: false, color: $vuetify.theme.dark ? 'grey darken-2' : 'white' }"
          :toolbar-attributes="{ color: $vuetify.theme.dark ? 'grey darken-3' : 'grey lighten-4' }"
        />
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { TiptapVuetify, Heading, Bold, Italic, Strike, Underline, Code, Paragraph, BulletList, OrderedList, ListItem, Link, Blockquote, HardBreak, HorizontalRule, History } from 'tiptap-vuetify';

import {messages_models_en, messages_models_fr} from '@/translations/models/Paragraph/';
import {messages_views_en, messages_views_fr} from '@/translations/views/Articles/';

let messages_en = { ...messages_views_en, paragraph: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, paragraph: { ...messages_models_fr }};

export default {
  components: {
    TiptapVuetify
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  props: {
    paragraphs: {
      type: Array,
      default: () => []
    },
    readOnly: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      items: this.paragraphs,
      extensions: [
        History,
        Blockquote,
        Link,
        Underline,
        Strike,
        Italic,
        ListItem,
        BulletList,
        OrderedList,
        [Heading, {
          options: {
            levels: [1, 2, 3]
          }
        }],
        Bold,
        Code,
        HorizontalRule,
        Paragraph,
        HardBreak
      ],
    };
  },
  computed: {
    statuses() {
      return [
        { text: this.$t('paragraph.status.items.pending.name'), value: parseInt(this.$t('paragraph.status.items.pending.value')) }, 
        { text: this.$t('paragraph.status.items.active.name'), value: parseInt(this.$t('paragraph.status.items.active.value')) }
      ];
    }
  },
  watch: {
    paragraphs() {
      this.items = this.paragraphs;
    }
  },
  methods: {
    getStatus(status) {
      if (status == 0) {
        return this.$t('paragraph.status.items.pending.name');
      }
      if (status == 1) {
        return this.$t('paragraph.status.items.active.name');
      }
      return 'undefined';
    },
    isFirst(position) {
      return (this.items.reduce((min, paragraph) => paragraph.position < min ? paragraph.position : min, this.items[0].position)) == position;
    },
    isLast(position) {
      return (this.items.reduce((max, paragraph) => paragraph.position > max ? paragraph.position : max, this.items[0].position)) == position;
    },
    up(paragraph) {
      // find upper paragraphs
      let upperParagraphs = this.items.filter( item => item.position < paragraph.position );
      // find max position in upper paragraphs
      let upperPosition = upperParagraphs.reduce((max, item) => item.position > max ? item.position : max, upperParagraphs[0].position);
      // switch paragraphs
      this.switch(paragraph.position,upperPosition);
    },
    down(paragraph) {
      // find lower paragraphs
      let lowerParagraphs = this.items.filter( item => item.position > paragraph.position );
      // find min position in lower paragraphs
      let lowerPosition = lowerParagraphs.reduce((min, item) => item.position < min ? item.position : min, lowerParagraphs[0].position);
      // switch paragraphs
      this.switch(paragraph.position,lowerPosition);
    },
    switch(pos1,pos2) {
      let pos1Key = Object.keys(this.items).find(key => this.items[key].position === pos1);
      let pos2Key = Object.keys(this.items).find(key => this.items[key].position === pos2);
      this.items[pos1Key].position = pos2;
      this.items[pos2Key].position = pos1;
      // sort paragraphs
      this.items.sort((a,b) => (a.position > b.position) ? 1 : ((b.position > a.position) ? -1 : 0));
    },
    remove(paragraph) {
      const position = paragraph.position;
      // remove paragraph
      let key = Object.keys(this.items).find(key => this.items[key].position === paragraph.position);
      this.items.splice(key,1);
      // remove 1 position to each lower paragraphs
      this.items.forEach(element => {
        if (element.position>position) {
          element.position--;
        }
      });
    }
  }
};
</script>