<template>
  <div class="user">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn
          v-if="editedItem"  
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title 
          v-if="editedItem"
        >
          <h2>
            {{ edit ? $t('user_edit') : $t('user_add') }} 
            <v-chip
              class="ma-2"
              outlined
              :color="edited ? 'warning' : 'primary'"
              label
            >
              <v-avatar left>
                <v-img 
                  v-if="editedItem.avatar"
                  :src="editedItem.avatar"
                />
                <v-icon
                  v-else
                >
                  mdi-account-circle-outline
                </v-icon>
              </v-avatar>
              {{ editedItem.givenName }} {{ editedItem.familyName }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="edit ? refresh() : restart()"
          >
            {{ edit ? $t('refresh') : $t('restart') }}
            <v-icon
              v-if="edit"
            >
              mdi-refresh
            </v-icon>
            <v-icon
              v-else
            >
              mdi-restart
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail -->
      <v-card
        v-if="editedItem"
        flat
      >
        <v-form 
          ref="form"
          v-model="valid"
        >
          <!-- tabs list -->
          <v-tabs
            v-if="tabs.length>1"
            v-model="mtab"
          >
            <v-tab
              v-for="tab in tabs"
              :key="tab.label"
            >
              {{ tab.label }}
            </v-tab>
          </v-tabs>
          <v-divider />

          <!-- tabs content -->
          <v-tabs-items 
            v-model="mtab"
          >
            <v-tab-item
              v-for="tab in tabs"
              :key="tab.label"
            >
              <!-- container for regular fields -->
              <v-container
                v-if="tab.rows"
              >
                <v-row 
                  v-for="row in tab.rows"
                  :key="row.id"
                >
                  <v-col
                    v-for="field in row.fields"
                    :key="field.name"
                    :cols="field.cols"
                    :sm="field.cols"
                    :md="field.cols"
                  >
                    <!-- all fields are handled by a v-model, except some components (geocomplete, image...), this is why there are event handlers -->
                    <field-choice
                      :resource="resource"
                      :field="field"
                      @image-changed="imageChanged"
                      @image-reset="imageReset"
                      @address-changed="addressChanged"
                    />
                  </v-col>
                </v-row>
              </v-container>
              <!-- special fields, handled by their dedicated component -->
              <component 
                :is="tab.component"
                v-else-if="tab.component"
                :roles-territory="item[tab.name]"
                :field="tab.name"
                :item="editedItem"
                :edit="true"
                @change="change"
              />
            </v-tab-item>
          </v-tabs-items>
        </v-form>
      </v-card>  
      <!-- edit buttons -->
      <v-card-actions
        v-if="editedItem"
      >
        <!-- save item -->
        <v-btn
          color="primary"
          :disabled="!edited || !valid || loading"
          @click="save()"
        >
          {{ $t('save') }}
          <v-icon right>
            mdi-content-save
          </v-icon>
        </v-btn>
        <v-spacer />
        <!-- delete item -->
        <v-tooltip
          top
          color="warning"
          :disabled="!checkOwnership"
        >
          <template v-slot:activator="{ on }">
            <div v-on="on">
              <v-btn
                v-if="edit"
                color="error"
                :disabled="loading || checkOwnership"
                @click="remove()"
              >
                {{ $t('remove') }}
                <v-icon right>
                  mdi-delete
                </v-icon>
              </v-btn>
            </div>
          </template>
          <ul>
            <li 
              v-for="(item,key) in ownershipWarnings" 
              :key="key"
            >
              <span>{{ item.key }}</span>
              <ul>
                <li 
                  v-for="value in item.values" 
                  :key="value"
                >
                  {{ value }}
                </li>
              </ul>
            </li>
          </ul>
        </v-tooltip>
      </v-card-actions>
    </v-card>

    <!-- confirm action dialog -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>{{ dialogText }}</v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :color="dialogColor"
            text
            @click="launchAction()"
          >
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import FieldChoice from '@/components/field/FieldChoice.vue';
import ResourceEditMixin from '@/mixins/ResourceEdit';
import PageTitleMixin from '@/mixins/PageTitle';
import RolesChoice from '@/components/field/RolesChoice';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Users/';
import {messages_models_en, messages_models_fr} from '@/translations/models/User/';

let messages_en = { ...messages_views_en, routes: {...messages_routes_en }, user: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, routes: {...messages_routes_fr }, user: { ...messages_models_fr }};

export default {
  components: {
    FieldChoice, 
    //
    RolesChoice
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceEditMixin,
    PageTitleMixin
  ],
  data() {
    return {
      // define the store module used
      resource: 'u'
    };
  },
  computed: {
    // define the fields by tabs (mandatory)
    // at least one tab is needed 
    // if there's only one tab modify the v-tab above to display the content only and not the tab label
    tabs() {
      return [
        {
          label: this.$t('user.tab.identity'), id: 1, 
          rows: [
            // identity tab
            { 
              id: 1,
              fields: 
              [
                { label: this.$t('user.id'), name: 'id', type: 'text', cols:'1', disabled: true },
                { label: '', name: 'spacer', type: 'spacer', cols:'3' },
                { label: this.$t('user.email'), name: 'email', type: 'text', cols:'4', required: true, nullable: false, icon: 'mdi-email', validation: { required: this.$t('user.emailRequired'), valid: this.$t('user.emailValid'), rule: 'email' } },
                { label: this.$t('user.newsSubscription'), name: 'newsSubscription', type: 'switch', cols:'4' }
              ]
            },
            { 
              id: 2,
              fields: [
                { label: this.$t('user.givenName'), name: 'givenName', type: 'text', cols:'4', required: true, nullable: false, validation: { required: this.$t('user.givenNameRequired'), rule: 'limit', counter: 255, valid: this.$t('user.givenNameLimit') } },
                { label: this.$t('user.familyName'), name: 'familyName', type: 'text', cols:'4', required: true, nullable: false, validation: { required: this.$t('user.familyNameRequired'), rule: 'limit', counter: 255, valid: this.$t('event.familyNameLimit') } }
              ]
            },
            { 
              id: 3,
              fields: [
                { label: this.$t('user.image'), name: 'image', type: 'image', newImage: 'newImage', resetImage: 'resetImage', edit: this.edit, cols:'12', validation: { valid: this.$t('user.imageSize2'), rule: 'image2' } }
              ]
            },
            {
              id: 4,
              fields: [
                { 
                  label: this.$t('user.gender.label'), name: 'gender', type: 'select', 
                  values: [ 
                    { text: this.$t('user.gender.items.other.name'), value: parseInt(this.$t('user.gender.items.other.value')) }, 
                    { text: this.$t('user.gender.items.female.name'), value: parseInt(this.$t('user.gender.items.female.value')) },
                    { text: this.$t('user.gender.items.male.name'), value: parseInt(this.$t('user.gender.items.male.value')) }
                  ], cols:'4', required: true, nullable: false, validation: { required: this.$t('user.genderRequired') } 
                },
                { label: this.$t('user.birthDate'), name: 'birthDate', type: 'date', cols:'4', nullable: false },
              ]
            },
            {
              id: 5,
              fields: [
                { label: this.$t('user.telephone'), name: 'telephone', type: 'text', cols:'4', required: true, nullable: false, icon: 'mdi-phone', validation: { required: this.$t('user.telephoneRequired') } },
                { 
                  label: this.$t('user.phoneDisplay.label'), name: 'phoneDisplay', type: 'select', 
                  values: [ 
                    { text: this.$t('user.phoneDisplay.items.restricted.name'), value: parseInt(this.$t('user.phoneDisplay.items.restricted.value')) }, 
                    { text: this.$t('user.phoneDisplay.items.all.name'), value: parseInt(this.$t('user.phoneDisplay.items.all.value')) }
                  ], cols:'8', required: true, nullable: false, validation: { required: this.$t('user.phoneDisplayRequired') } 
                },
              ]
            },
            {
              id: 6,
              fields: [
                {
                  label: null, 
                  name: 'postalAddress', 
                  type: 'residenceAddress', 
                  cols:'4', 
                  nullable: true, 
                  icon: 'mdi-home-map-marker' 
                },
              ]
            },
          ]
        },
        // preferences tab
        {
          label: this.$t('user.tab.preferences'), id: 2, 
          rows: [ 
            {
              id: 1,
              fields: [
                { 
                  label: this.$t('user.music.label'), name: 'music', type: 'select', 
                  values: [ 
                    { text: this.$t('user.music.items.yes.name'), value: this.$t('user.music.items.yes.value') == '0' ? false : true }, 
                    { text: this.$t('user.music.items.no.name'), value: this.$t('user.music.items.no.value') == '0' ? false : true }
                  ], cols:'4', nullable: false, icon: 'mdi-account-music'
                },
                { label: this.$t('user.musicFavorites'), name: 'musicFavorites', type: 'text', cols:'4', nullable: true },
              ]
            },
            {
              id: 2,
              fields: [
                { 
                  label: this.$t('user.chat.label'), name: 'chat', type: 'select', 
                  values: [ 
                    { text: this.$t('user.chat.items.yes.name'), value: this.$t('user.chat.items.yes.value') == '0' ? false : true }, 
                    { text: this.$t('user.chat.items.no.name'), value: this.$t('user.chat.items.no.value') == '0' ? false : true }
                  ], cols:'4', nullable: false, icon: 'mdi-chat'
                },
                { label: this.$t('user.chatFavorites'), name: 'chatFavorites', type: 'text', cols:'4', nullable: true },
              ]
            },
            {
              id: 3,
              fields: [
                { 
                  label: this.$t('user.smoke.label'), name: 'smoke', type: 'select', 
                  values: [ 
                    { text: this.$t('user.smoke.items.yes.name'), value: parseInt(this.$t('user.smoke.items.yes.value')) }, 
                    { text: this.$t('user.smoke.items.no.name'), value: parseInt(this.$t('user.smoke.items.no.value')) },
                    { text: this.$t('user.smoke.items.notincar.name'), value: parseInt(this.$t('user.smoke.items.notincar.value')) },
                  ], cols:'4', nullable: false, icon: 'mdi-smoking'
                }
              ]
            }
          ]
        },
        // roles tab
        {
          label: this.$t('user.tab.editRoles'), id: 3, 
          component: 'RolesChoice',
          name: 'rolesTerritory'
        }
      ];
    },
    ownershipWarnings() {
      let self = this;
      if (this.editedItem.ownership) {
        return this.editedItem.ownership.map( oItem => { 
          return {
            key: self.$t('user.ownershipWarning.'+Object.keys(oItem)[0]),
            values: oItem[Object.keys(oItem)[0]]
          };
        });   
      };
      return {};   
    },
    checkOwnership() {
      if (this.item.ownership) {
        if (this.item.ownership.length==0) {
          return false;
        } else if (this.item.ownership.length>0){
          return true;
        }
      } 
      return false;
    }
  },
  methods: {
    // handler for image change
    imageChanged(image) {
      this.editedItem[image.field] = image.image;
    },
    // handler for image reset
    imageReset(field) {
      this.editedItem[field] = false;
      this.$store.dispatch(this.resource+'/saveItem',this.editedItem);
    },
    // handler for geocomplete
    addressChanged(address) {
      this.editedItem[address.field] = address.address;
    },
    // handler for dedicated components events
    change(payload) {
      switch(payload.component) {
      case 'RolesChoice':
        this.editedItem['rolesTerritory'] = payload.value;
        break;
      default:
        break;
      }
    }
  }
};
</script>