<template>
  <div class="solidarybeneficiary">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn 
          v-if="item"
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="item"
        >
          <h2>
            {{ $t('solidarybeneficiary_show') }} 
            <v-chip
              class="ma-2"
              outlined
              color="primary"
              label
            >
              <v-avatar left>
                <v-img 
                  v-if="item.avatar"
                  :src="item.avatar"
                />
                <v-icon
                  v-else
                >
                  mdi-account-circle-outline
                </v-icon>
              </v-avatar>
              {{ item.givenName }} {{ item.familyName }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <!-- edit item -->
          <v-btn
            v-if="item && $store.getters['auth/authorized']('solidary_beneficiary_update')"
            text
            color="green"
            :to="editItem()"
          >
            {{ $t('edit') }}
            <v-icon right>
              mdi-pencil
            </v-icon>
          </v-btn>
          <!-- refresh -->
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="hardRefresh()"
          >
            {{ $t('refresh') }}
            <v-icon>
              mdi-refresh
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail tabs -->
      <v-container
        v-if="item"
      >
        <v-row>
          <v-col
            cols="12"
          >
            <v-card
              flat
            >
              <!-- tabs list -->
              <v-tabs
                v-if="tabs().length>0"
                v-model="mtab"
              >
                <v-tab
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  {{ tab.label }}
                </v-tab>
              </v-tabs>
              <v-divider />

              <!-- tabs content -->
              <v-tabs-items 
                v-model="mtab"
              >
                <v-tab-item
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  <!-- container for regular fields -->
                  <v-container
                    v-if="tab.rows"
                  >
                    <v-row 
                      v-for="row in tab.rows"
                      :key="row.id"
                    >
                      <v-col
                        v-for="field in row.fields"
                        :key="field.name"
                        :cols="field.cols"
                        :sm="field.cols"
                        :md="field.cols"
                      >
                        <field-choice
                          v-if="!field.component"
                          :resource="resource"
                          :field="field"
                          :read-only="true"
                        />
                        <component 
                          :is="field.component"
                          v-else
                          :resource="resource"
                          :field="field"
                          :read-only="true"
                        />
                      </v-col>
                    </v-row>
                  </v-container>
                  <!-- special fields, handled by their dedicated component -->
                  <component 
                    :is="tab.component"
                    v-else-if="tab.component"
                    :field="tab.name"
                    :user-id="item.userId"
                    :read-only="true"
                  />
                </v-tab-item>
              </v-tabs-items>
            </v-card> 
          </v-col>
        </v-row>
      </v-container>
      <v-card-actions>
        <v-btn
          v-if="item"
          color="primary"
          @click="solidaryRecords()"
        >
          {{ $t('solidaries') }}
          <v-icon right>
            mdi-seat-passenger
          </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import FieldChoice from '@/components/field/FieldChoice.vue';
import ResourceShowMixin from '@/mixins/ResourceShow';
import PageTitleMixin from '@/mixins/PageTitle';
import DateFormatMixin from '@/mixins/DateFormat';
import SolidaryBeneficiaryDiary from '@/components/solidary/solidaryBeneficiary/SolidaryBeneficiaryDiary.vue';
import SolidaryBeneficiaryProofs from '@/components/solidary/solidaryBeneficiary/SolidaryBeneficiaryProofs.vue';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryBeneficiaries/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryBeneficiary/';
import {messages_models_en as messages_models_user_en, messages_models_fr as messages_models_user_fr} from '@/translations/models/User/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, routes: {...messages_routes_en }, s: { ...messages_models_en }, user: { ...messages_models_user_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, routes: {...messages_routes_fr }, s: { ...messages_models_fr }, user: { ...messages_models_user_fr }};

export default {
  components: {
    FieldChoice,
    SolidaryBeneficiaryDiary,
    SolidaryBeneficiaryProofs
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceShowMixin,
    PageTitleMixin,
    DateFormatMixin
  ],
  data() {
    return {
      // define the store module used
      resource: 'sld_b'
    };
  },
  methods: {
    tabs() {
      return [
        {
          label: this.$t('s.tab.identity'), id: 1, 
          rows: [
            // identity tab
            { 
              id: 1,
              fields: 
              [
                { label: this.$t('s.id'), name: 'id', type: 'text', cols:'2' },
                { label: this.$t('user.email'), name: 'email', type: 'text', cols:'5', icon: 'mdi-email' },
                { label: this.$t('user.telephone'), name: 'telephone', type: 'text', cols:'5', icon: 'mdi-phone' }
              ]
            },
            { 
              id: 2,
              fields: [
                { label: this.$t('user.givenName'), name: 'givenName', type: 'text', cols:'6' },
                { label: this.$t('user.familyName'), name: 'familyName', type: 'text', cols:'6'}
              ]
            },
            { 
              id: 3,
              fields: [
                { 
                  label: this.$t('user.gender.label'), name: 'gender', type: 'select', 
                  values: [ 
                    { text: this.$t('user.gender.items.other.name'), value: parseInt(this.$t('user.gender.items.other.value')) }, 
                    { text: this.$t('user.gender.items.female.name'), value: parseInt(this.$t('user.gender.items.female.value')) },
                    { text: this.$t('user.gender.items.male.name'), value: parseInt(this.$t('user.gender.items.male.value')) }
                  ], cols:'4' 
                },
                { label: this.$t('user.birthDate'), name: 'birthDate', type: 'date', cols:'4' },
                { label: this.$t('user.newsSubscription'), name: 'newsSubscription', type: 'switch', cols:'4' }
              ]
            },
            { 
              id: 4,
              fields: [
                { label: this.$t('user.homeAddress'), name: 'homeAddress', type: 'geocomplete', cols:'8', icon: 'mdi-home-map-marker' },
              ]
            }
          ],
        },
        // diary tab
        {
          label: this.$t('s.tab.diary'), id: 2, 
          component: 'SolidaryBeneficiaryDiary'
        },
        // eligibility tab
        {
          label: this.$t('s.tab.eligibility'), id: 3, 
          component: 'SolidaryBeneficiaryProofs'
        }
      ];
    },
    solidaryRecords() {
      this.$store.dispatch('sld_r/saveFilter', {
        ...this.$store.getters['sld_r/filter'],
        givenName: this.item.givenName,
        familyName: this.item.familyName
      });
      this.$router.push(this.$router.options.routes.find( proute => proute.name === 'solidaryrecords' ));
    }
  }
};
</script>