<template>
  <div>
    <v-card
      v-if="item && item.diary"
      flat
    >
      <v-card-title>
        <v-icon class="mr-2">
          mdi-notebook
        </v-icon>
        {{ showAll ? $t('allActions') : $t('lastAction') }}
        <v-spacer />
        <v-btn
          v-if="editable"
          color="primary"
          @click="addAction = true"
        >
          {{ $t('addAction') }}
          <v-icon right>
            mdi-plus
          </v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <solidary-record-diary
          :only="only"
          :show-all="showAll"
          :add="addAction"
          :default-recipient="userAction"
          @added="addAction = false;$emit('actionAdded')"
        />
      </v-card-text>
      <v-card-actions
        v-if="diary.length>1"
      >
        <v-spacer />
        <v-btn
          color="primary"
          outlined
          @click="showAll ? showAll = false : showAll = true"
        >
          {{ showAll ? $t('showFirst') : $t('showAll',{ nb: diary.length}) }}
          <v-icon 
            v-if="!showAll"
            right
          >
            mdi-table-eye
          </v-icon>
          <v-icon 
            v-else
            right
          >
            mdi-table-eye-off
          </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import SolidaryRecordDiary from '@/components/solidary/solidaryRecord/SolidaryRecordDiary';
import DateFormatMixin from '@/mixins/DateFormat';

// import the translations
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, s: { ...messages_models_fr }};

export default {
  components: { 
    SolidaryRecordDiary
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    // display only entries for the given user
    only: {
      type: Number,
      default: null
    },
    addUserAction: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      showAll: false,
      addAction: false,
      userAction: null
    };
  },
  computed: {
    item() {
      return this.$store.getters['sld_r/item'];
    },
    editable() {
      return this.item && this.item.status != this.$store.getters['sld_r/statusClosedForUpdate'];
    },
    diary() {
      if (this.only) {
        return this.item.diary.filter( item => item.userId === this.only);
      }
      return this.item.diary;
    },
  },
  watch: {
    addUserAction(user) {
      if (user !== null) {
        this.addAction = true;
        this.userAction = user;
      } 
    }
  },
  methods: {
    
  }
};
</script>