<template>
  <div>
    <v-container
      v-for="(schedule,i) in schedules"
      :key="i"
      flat
    >
      <v-row
        align="center"
        no-gutters
      >
        <v-col cols="6">
          <v-chip
            v-for="day in days"
            :key="day.id"
            label
            class="ml-2"
            :color="schedule[day.id] ? 'primary' : 'default'"
          >
            {{ day.name }}
          </v-chip>
        </v-col>
        <v-col
          cols="2"
          offset="1"
        >
          <date-field
            :item="schedule"
            :field="{
              name: 'outwardTime',
              nullable: false
            }"
            read-only
            type="hourMinute"
            icon="mdi-car-arrow-right"
            hide-details
            utc
          />
        </v-col>
        <v-col
          cols="2"
          offset="1"
        >
          <date-field
            :item="schedule"
            :field="{
              name: 'returnTime',
              nullable: true
            }"
            read-only
            type="hourMinute"
            icon="mdi-car-arrow-left"
            hide-details
            utc
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>

// import the translations
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_components_en, messages_components_fr} from '@/translations/components/solidary/SolidaryRecordShow/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import DateFormatMixin from '@/mixins/DateFormat';
import DateField from '@/components/field/DateField';

let messages_en = { ...messages_components_en, dates: {...messages_dates_en }, s: { ...messages_models_en } };
let messages_fr = { ...messages_components_fr, dates: {...messages_dates_fr }, s: { ...messages_models_fr } };

export default {
  components: { 
    DateField
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    
  },
  data() {
    return {
      days: [
        { id: 'mon', name: this.$t('mon') }, 
        { id: 'tue', name: this.$t('tue') }, 
        { id: 'wed', name: this.$t('wed') }, 
        { id: 'thu', name: this.$t('thu') }, 
        { id: 'fri', name: this.$t('fri') }, 
        { id: 'sat', name: this.$t('sat') }, 
        { id: 'sun', name: this.$t('sun') }
      ]
    };
  },
  computed: {
    item() {
      return this.$store.getters['sld_r/item'];
    },
    schedules() {
      return this.item.schedules;
    },
  },
  watch: {
  },
  created() {
    
  },
  methods: {
    
  }
};
</script>