<template>
  <div>
    <v-container>
      <v-row>
        <v-col col="8">
          <v-timeline v-if="thread.length>0">
            <v-timeline-item
              v-for="message in thread"
              :key="message.date"
              :right="message.posterId === item.userId"
              :left="message.posterId !== item.userId"
            >
              <template v-slot:icon>
                <v-avatar>
                  <v-img 
                    v-if="message.posterId === item.userId && message.delegateGivenName && message.delegateAvatar"
                    :src="message.delegateAvatar"
                  />
                  <v-img 
                    v-else-if="message.posterId === item.userId && !message.delegateGivenName && message.posterAvatar"
                    :src="message.posterAvatar"
                  />
                  <v-img 
                    v-else-if="message.posterId !== item.userId && message.posterAvatar"
                    :src="message.posterAvatar"
                  />
                  <v-icon
                    v-else
                  >
                    mdi-account-circle-outline
                  </v-icon>
                </v-avatar>
              </template>
              <template v-slot:opposite>
                {{ asDateTime(message.date) }}
              </template>
              <v-card class="elevation-4">
                <v-card-title 
                  v-if="message.posterId === item.userId && message.delegateGivenName"
                  class="text-subtitle-1"
                >
                  {{ message.delegateGivenName }} {{ message.delegateFamilyName }}
                  <v-spacer />
                  <span class="font-italic">({{ $t('for') }} {{ message.posterGivenName }} {{ message.posterFamilyName }})</span>
                </v-card-title>
                <v-card-title 
                  v-else-if="message.posterGivenName"
                  class="text-subtitle-1"
                >
                  {{ message.posterGivenName }} {{ message.posterFamilyName }}
                </v-card-title>
                <v-card-text>
                  <span v-html="message.text" />
                </v-card-text>
              </v-card>
            </v-timeline-item>
          </v-timeline>
          <v-row align="center">
            <v-col cols="10">
              <v-textarea
                v-model="newMessage"
                :disabled="!editable"
                :label="$t('newMessage')"
                outlined
                hide-details
              />
            </v-col>
            <v-col cols="2">
              <v-btn
                :disabled="!newMessageValid || loading"
                :loading="loading"
                color="primary"
                @click="send"
              >
                {{ $t('send') }}
                <v-icon right>
                  mdi-send
                </v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="4">
          <v-row justify="center">
            <v-chip
              outlined
              label
              large
              :color="statusColor"
            >
              <v-avatar left>
                <v-icon>
                  {{ statusIcon }}
                </v-icon>
              </v-avatar>
              {{ statusText }}
            </v-chip>
            <v-chip
              class="ml-2"
              color="primary"
              label
              large
            >
              <v-avatar left>
                <v-img 
                  v-if="item.avatar"
                  :src="item.avatar"
                />
                <v-icon
                  v-else
                >
                  mdi-account-circle-outline
                </v-icon>
              </v-avatar>
              {{ item.givenName }} {{ item.familyName }}
            </v-chip>
            <v-chip
              v-if="item.telephone"
              class="ml-2"
              label
              large
            >
              <v-avatar left>
                <v-icon>
                  mdi-phone
                </v-icon>
              </v-avatar>
              {{ item.telephone }}
            </v-chip>
          </v-row>
          <v-row justify="center">
            <v-timeline 
              v-if="item.origin"
              class="mt-4"
              dense
            >
              <v-timeline-item 
                color="blue"
                icon="mdi-map-marker"
              >
                <v-card
                  flat
                >
                  <v-card-title v-if="item.origin.displayLabel[0]">
                    {{ item.origin.displayLabel[0] }}
                  </v-card-title>
                  <v-card-text v-if="item.origin.displayLabel[1]">
                    {{ item.origin.displayLabel[1] }}
                  </v-card-text>
                </v-card>
              </v-timeline-item>
              <v-timeline-item 
                color="green"
                icon="mdi-flag-checkered"
              >
                <v-card
                  flat
                >
                  <v-card-title>
                    {{ item.origin.displayLabel[0] !== item.destination.displayLabel[0] ? item.destination.displayLabel[0] : $t('s.destinationAny') }}
                  </v-card-title>
                  <v-card-text v-if="item.destination.displayLabel[1] && item.origin.displayLabel[0] !== item.destination.displayLabel[0]">
                    {{ item.destination.displayLabel[1] }}
                  </v-card-text>
                </v-card>
              </v-timeline-item>
            </v-timeline>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <!-- Add action dialog -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="800"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ $t('addActionTitle') }}
        </v-card-title>
        <v-card-text>
          {{ $t('addActionText', { recipient: recipient}) }}
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="closeDialog"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            color="primary"
            text
            @click="addAction"
          >
            {{ $t('add') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DateFormatMixin from '@/mixins/DateFormat';

// import the translations
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';


let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, s: { ...messages_models_fr }};

export default {
  components: { 
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    solutionId: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      loading: false,
      dialog: false,
      newMessage: '',
      STATUS_ASKED: 0,
      STATUS_REFUSED: 1,
      STATUS_PENDING: 2,
      STATUS_LOOKING_FOR_SOLUTION: 3,
      STATUS_FOLLOW_UP: 4,
      STATUS_CLOSED: 5,
      STATUS_ACCEPTED: 6,
    };
  },
  computed: {
    item() {
      return this.$store.getters['sld_r/item'];
    },
    editable() {
      return this.item && this.item.status != this.$store.getters['sld_r/statusClosedForUpdate'];
    },
    thread() {
      if (this.solutionId) {
        return this.item.solutions.threads[this.solutionId];
      }
      return [];
    },
    newMessageValid() {
      return (this.newMessage && this.newMessage.trim()) ? true : false;
    },
    driver() {
      return this.item.solutions.drivers.find( driver => driver.id === this.solutionId);
    },
    status() {
      return this.driver && this.driver.status;
    },
    recipient() {
      return this.driver && this.driver.givenName+' '+this.driver.familyName;
    },
    statusIcon() {
      return this.$store.getters['sld_r/statusIcon'];
    },
    statusColor() {
      return this.$store.getters['sld_r/statusColor'];
    },
    statusText() {
      return this.$t(this.$store.getters['sld_r/statusText']);
    }
  },
  watch: {
    item: {
      immediate: true,
      deep: true,
      handler() {
        if (this.newMessage && this.loading) {
          this.loading = false;
          this.newMessage = null;
          this.dialog = true;
        }
      }
    },
  },
  methods: {
    send() {
      this.loading = true;
      this.$store.dispatch('sld_r/patchItem', { 
        id: this.item.id, 
        item: {
          message: {
            solution: this.solutionId,
            text: this.newMessage
          }
        }
      });
    },
    addAction() {
      this.$emit('addAction',{ user: this.driver.userId});
      this.closeDialog();
    },
    closeDialog() {
      this.dialog = false;
      // little hack to prevent https://github.com/vuetifyjs/vuetify/issues/5356
      this.$nextTick().then(function() {
        document.documentElement.classList.add('overflow-y-hidden');
      });
    }
  }
};
</script>