<template>
  <div>
    <v-btn-toggle
      v-if="item.proposalType != 1"
      v-model="type"
      group
      color="primary"
      mandatory
    >
      <v-btn value="outward">
        <span class="hidden-sm-and-down">{{ $t('outward') }}</span>

        <v-icon right>
          mdi-arrow-right
        </v-icon>        
      </v-btn>

      <v-btn value="return">
        <v-icon left>
          mdi-arrow-left
        </v-icon>
        <span class="hidden-sm-and-down">{{ $t('return') }}</span>
      </v-btn>
    </v-btn-toggle>

    <v-data-table
      :headers="headers"
      :items="transporters"
      :hide-default-footer="transporters.length>5 ? false : true"
      :no-data-text="$t('noTransportAvailable')"
    >
      <template v-slot:[`item.volunteerId`]="{ item }">
        <v-chip
          color="primary"
          label
        >
          <v-avatar left>
            <v-img 
              v-if="item.volunteerAvatar"
              :src="item.volunteerAvatar"
            />
            <v-icon
              v-else
            >
              mdi-account-circle-outline
            </v-icon>
          </v-avatar>
          {{ item.volunteerGivenName }} {{ item.volunteerFamilyName }}
        </v-chip>
      </template>
      <template v-slot:[`item.centerPoint`]="{ item }">
        <span class="text-overline">{{ item.centerPoint.displayLabel[0] }}</span>
      </template>
      <template v-slot:[`item.maxDistance`]="{ item }">
        {{ $t('s.range', {distance: item.maxDistance/1000}) }}
      </template>
      <template v-slot:[`item.mon`]="{ item }">
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="schedule(item).mMon ? 'success' : 'default'"
        >
          {{ asHourMinute(item.mMinTime, true) }} - {{ asHourMinute(item.mMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="schedule(item).aMon ? 'success' : 'default'"
        >
          {{ asHourMinute(item.aMinTime, true) }} - {{ asHourMinute(item.aMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1 mb-1"
          :color="schedule(item).eMon ? 'success' : 'default'"
        >
          {{ asHourMinute(item.eMinTime, true) }} - {{ asHourMinute(item.eMaxTime, true) }}
        </v-chip>
      </template>

      <template v-slot:[`item.tue`]="{ item }">
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="schedule(item).mTue ? 'success' : 'default'"
        >
          {{ asHourMinute(item.mMinTime, true) }} - {{ asHourMinute(item.mMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="schedule(item).aTue ? 'success' : 'default'"
        >
          {{ asHourMinute(item.aMinTime, true) }} - {{ asHourMinute(item.aMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1 mb-1"
          :color="schedule(item).eTue ? 'success' : 'default'"
        >
          {{ asHourMinute(item.eMinTime, true) }} - {{ asHourMinute(item.eMaxTime, true) }}
        </v-chip>
      </template>

      <template v-slot:[`item.wed`]="{ item }">
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="schedule(item).mWed ? 'success' : 'default'"
        >
          {{ asHourMinute(item.mMinTime, true) }} - {{ asHourMinute(item.mMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="schedule(item).aWed ? 'success' : 'default'"
        >
          {{ asHourMinute(item.aMinTime, true) }} - {{ asHourMinute(item.aMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1 mb-1"
          :color="schedule(item).eWed ? 'success' : 'default'"
        >
          {{ asHourMinute(item.eMinTime, true) }} - {{ asHourMinute(item.eMaxTime, true) }}
        </v-chip>
      </template>

      <template v-slot:[`item.thu`]="{ item }">
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="schedule(item).mThu ? 'success' : 'default'"
        >
          {{ asHourMinute(item.mMinTime, true) }} - {{ asHourMinute(item.mMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="schedule(item).aThu ? 'success' : 'default'"
        >
          {{ asHourMinute(item.aMinTime, true) }} - {{ asHourMinute(item.aMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1 mb-1"
          :color="schedule(item).eThu ? 'success' : 'default'"
        >
          {{ asHourMinute(item.eMinTime, true) }} - {{ asHourMinute(item.eMaxTime, true) }}
        </v-chip>
      </template>

      <template v-slot:[`item.fri`]="{ item }">
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="schedule(item).mFri ? 'success' : 'default'"
        >
          {{ asHourMinute(item.mMinTime, true) }} - {{ asHourMinute(item.mMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="schedule(item).aFri ? 'success' : 'default'"
        >
          {{ asHourMinute(item.aMinTime, true) }} - {{ asHourMinute(item.aMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1 mb-1"
          :color="schedule(item).eFri ? 'success' : 'default'"
        >
          {{ asHourMinute(item.eMinTime, true) }} - {{ asHourMinute(item.eMaxTime, true) }}
        </v-chip>
      </template>

      <template v-slot:[`item.sat`]="{ item }">
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="schedule(item).mSat ? 'success' : 'default'"
        >
          {{ asHourMinute(item.mMinTime, true) }} - {{ asHourMinute(item.mMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="schedule(item).aSat ? 'success' : 'default'"
        >
          {{ asHourMinute(item.aMinTime, true) }} - {{ asHourMinute(item.aMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1 mb-1"
          :color="schedule(item).eSat ? 'success' : 'default'"
        >
          {{ asHourMinute(item.eMinTime, true) }} - {{ asHourMinute(item.eMaxTime, true) }}
        </v-chip>
      </template>

      <template v-slot:[`item.sun`]="{ item }">
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="schedule(item).mSun ? 'success' : 'default'"
        >
          {{ asHourMinute(item.mMinTime, true) }} - {{ asHourMinute(item.mMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="schedule(item).aSun ? 'success' : 'default'"
        >
          {{ asHourMinute(item.aMinTime, true) }} - {{ asHourMinute(item.aMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1 mb-1"
          :color="schedule(item).eSun ? 'success' : 'default'"
        >
          {{ asHourMinute(item.eMinTime, true) }} - {{ asHourMinute(item.eMaxTime, true) }}
        </v-chip>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-tooltip
          v-if="!alreadyPotentialDriver(item)"
          top
          color="warning"
        >
          <template v-slot:activator="{ on }">
            <v-btn
              color="warning"
              class="mr-2"
              :loading="loading"
              :disabled="loading || !editable"
              v-on="on"
              @click="potentialDriverConfirm(item)"
            >
              {{ $t('select') }}
              <v-icon right>
                mdi-steering
              </v-icon>
            </v-btn>
          </template>
          <span>{{ type == 'outward' ? $t('addAsPotentialOutwardDriver') : $t('addAsPotentialReturnDriver') }}</span>
        </v-tooltip>
        <v-tooltip
          v-else
          top
          :disabled="!editable"
          color="primary"
        >
          <template v-slot:activator="{ on }">
            <v-btn
              color="primary"
              class="mr-2"
              outlined
              :disabled="!editable"
              v-on="on"
            >
              {{ $t('alreadySelected') }}
              <v-icon right>
                mdi-steering
              </v-icon>
            </v-btn>
          </template>
          <span>{{ type == 'outward' ? $t('alreadyAddedAsPotentialOutwardDriver') : $t('alreadyAddedAsPotentialReturnDriver') }}</span>
        </v-tooltip>
      </template>
    </v-data-table>
    <!-- Add as potential driver dialog -->
    <v-dialog
      v-if="selectedDriver"
      v-model="dialog"
      persistent
      max-width="800"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ type == 'outward' ? $t('addAsPotentialOutwardDriver') : $t('addAsPotentialReturnDriver') }}
        </v-card-title>
        <v-card-text>
          {{ type == 'outward' ? $t('addAsPotentialOutwardDriverText', { potentialDriver: selectedDriver.volunteerGivenName, beneficiary: item.givenName }) : $t('addAsPotentialReturnDriverText', { potentialDriver: selectedDriver.volunteerGivenName, beneficiary: item.givenName }) }}
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            :disabled="loading"
            @click="dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            color="primary"
            text
            :loading="loading"
            :disabled="loading"
            @click="addPotentialDriver"
          >
            {{ $t('add') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DateFormatMixin from '@/mixins/DateFormat';
// import the translations
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, s: { ...messages_models_fr }};

export default {
  components: { 
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    defaultType: {
      type: String,
      default: 'outward'
    }
  },
  data() {
    return {
      dialog: false,
      selectedDriver: null,
      type: this.defaultType,
      headers: [
        { text: this.$t('s.driver'), value: 'volunteerId', sortable: false },
        { text: this.$t('s.centerPoint'), value: 'centerPoint', sortable: false },
        { text: this.$t('s.maxDistance'), value: 'maxDistance', sortable: false },
        { text: this.$t('s.mon'), value: 'mon', sortable: false },
        { text: this.$t('s.tue'), value: 'tue', sortable: false },
        { text: this.$t('s.wed'), value: 'wed', sortable: false },
        { text: this.$t('s.thu'), value: 'thu', sortable: false },
        { text: this.$t('s.fri'), value: 'fri', sortable: false },
        { text: this.$t('s.sat'), value: 'sat', sortable: false },
        { text: this.$t('s.sun'), value: 'sun', sortable: false },
        { text: null, value: 'action', sortable: false }
      ],
      loading:false,
      MODE_FULL: 1
    };
  },
  computed: {    
    item() {
      return this.$store.getters['sld_r/item'];
    },
    editable() {
      return this.item && this.item.status != this.$store.getters['sld_r/statusClosedForUpdate'];
    },
    transporters() {
      return this.type == 'outward' ? this.item.transporters.outward : this.item.transporters.return;
    },
    drivers() {
      return this.item.solutions.drivers ? this.item.solutions.drivers : [];
    }
  },
  watch: {
    defaultType() {
      this.type = this.defaultType;
    },
    item() {
      if (this.dialog && this.selectedDriver) {
        this.selectedDriver = null;
        this.dialog = false;
        this.loading = false;
      }
    }
  },
  methods: {
    alreadyPotentialDriver(item) {
      return this.drivers.filter( driver => driver.matchingId === item.matchingId ).length == 1;
    },
    potentialDriverConfirm(item) {
      this.dialog = true;
      this.selectedDriver = item;
    },
    cancelPotentialDriver() {
      this.selectedDriver = null;
      this.dialog = false;
    },
    addPotentialDriver() {
      this.loading = true;
      this.$store.dispatch('sld_r/patchItem', { 
        id: this.item.id, 
        item: {
          solution: {
            matching: this.selectedDriver.matchingId,
            transporter: this.selectedDriver.volunteerId
          }
        }
      });
    },
    schedule(item) {
      if (item.volunteerSchedule && this.item.mode !== this.MODE_FULL) {
        return item.volunteerSchedule;
      }
      return item.schedule;
    }
  }
};
</script>