<template>
  <div>
    <v-checkbox
      v-if="modelProof.checkbox && modelProof.activated"
      v-model="proof"
      :label="modelProof.label+(modelProof.mandatory ? ' *' : '')"
      :rules="[ rules ]"
    />
    <v-text-field
      v-else-if="modelProof.input && modelProof.activated"
      :value="proof"
      :label="modelProof.label+(modelProof.mandatory ? ' *' : '')"
      :rules="[ rules ]"
      @input="specialInput"
    />
    <v-select
      v-else-if="modelProof.selectbox && modelProof.activated"
      v-model="proof"
      :items="items"
      :label="modelProof.label+(modelProof.mandatory ? ' *' : '')"
      :rules="[ rules ]"
    />
    <v-radio-group 
      v-else-if="modelProof.radio && modelProof.activated"
      v-model="proof"
      :label="modelProof.label+(modelProof.mandatory ? ' *' : '')"
      :rules="[ rules ]"
      row
    >
      <v-radio
        v-for="item in items"
        :key="item.value"
        :label="item.text"
        :value="item.value"
      />
    </v-radio-group>
    <v-file-input
      v-else-if="modelProof.file && (!edit || !proof || !proof.fileName) && modelProof.activated"
      show-size
      :hint="$t('s.fileHint')"
      persistent-hint
      :label="modelProof.label+(modelProof.mandatory ? ' *' : '')"
      :rules="[ rules ]"
      @change="specialInput"
    />
    <v-row
      v-else-if="proof && proof.fileName && proof.fileSize && proof.originalName"
      align="center"
    >
      <v-col cols="6">
        <v-btn
          block
          :color="!proof.value ? 'primary' : 'error'"
          :href="proof.fileName"
          target="_blank"
        >
          <span
            style="max-width: 150px;"
            class="mr-4 text-truncate"
          >
            {{ modelProof.label }}
          </span>
          <span :class="proof.value ? 'text-decoration-line-through' : ''">
            (
            <span
              style="max-width: 150px;"
              class="text-truncate"
            >
              {{ proof.originalName }}
            </span>
            <span class="ml-2 mr-2">-</span>
            <span class="text-truncate">{{ proof.fileSize }}</span>
            )
          </span>
          <v-icon>
            mdi-file
          </v-icon>
        </v-btn>
      </v-col>
      <v-col 
        v-if="!modelProof.mandatory && !proof.value"
        cols="2"
      >
        <v-btn
          block
          color="error"
          @click="remove"
        >
          {{ $t('remove') }}
          <v-icon right>
            mdi-delete
          </v-icon>
        </v-btn>
      </v-col>
      <v-col 
        :cols="(!modelProof.mandatory && !proof.value) ? 4 : 6"
      >
        <v-file-input
          v-model="proof.value"
          show-size
          :hint="$t('s.fileHint')"
          persistent-hint
          :label="modelProof.label+(modelProof.mandatory ? ' *' : '')"
          :rules="[ rules ]"
          @change="specialInput"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>

// import the translations
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';

let messages_en = { ...messages_views_en, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, s: { ...messages_models_fr }};

export default {
  components: { 
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  props: {
    modelProof: {
      type: Object,
      default: () => {}
    },
    index: {
      type: Number,
      default: null
    },
    edit: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
    };
  },
  computed: {
    editedItem() {
      return this.$store.getters['sld_r/editedItem'];
    },
    items() {
      if (this.modelProof.options) {
        const options = this.modelProof.options.split(';');
        const values = this.modelProof.acceptedValues.split(';');
        return Object.keys(options).map( key => {
          return {
            text: options[key],
            value: values[key]
          };
        });
      }
      return [];
    },
    proof: {
      get () {
        return !this.modelProof.file ? this.editedItem.proofs[this.index].value : this.editedItem.proofs[this.index];
      },
      set (value) {
        this.$store.dispatch('sld_r/saveEditedItemProof', { index: this.index, id: this.modelProof.id, value: value });
      }
    }
  },
  methods: {
    rules(val) {
      if (!val && this.modelProof.mandatory) {
        return this.$t('s.mandatoryField');
      } else if (val && this.modelProof.file && val.size>2000000) {
        return this.$t('s.fileSizeExceeded');
      }
      return true;
    },
    specialInput(val) {
      if (val === '' || val === undefined) {
        this.proof = null;
      } else {
        this.proof = val;
      }
    },
    remove() {      
      this.$store.dispatch('sld_r/removeEditedItemProof', { index: this.index, id: this.modelProof.id });
    }
  }
};
</script>
