<template>
  <div class="solidaryrecord">
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn 
          v-if="item"
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="item"
        >
          <h2>
            {{ $t('solidaryrecord_show') }} 
            <v-chip
              class="ma-2"
              outlined
              color="primary"
              label
            >
              <v-icon left>
                mdi-seat-passenger
              </v-icon>
              #{{ item.id }}
            </v-chip>
            <v-chip
              outlined
              label
              class="ma-2"
              :color="statusColor"
            >
              <v-avatar left>
                <v-icon>
                  {{ statusIcon }}
                </v-icon>
              </v-avatar>
              {{ statusText }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <!-- parent item -->
          <v-btn
            v-if="item && item.solidaryId"
            :disabled="loading"
            text
            color="orange"
            @click="relatedItem(item.solidaryId)"
          >
            {{ $t('parent') }}
            <v-icon right>
              mdi-history
            </v-icon>
          </v-btn>
          <!-- child item -->
          <v-btn
            v-if="item && item.solidaryChildId"
            :disabled="loading"
            text
            color="green"
            @click="relatedItem(item.solidaryChildId)"
          >
            {{ $t('child') }}
            <v-icon right>
              mdi-update
            </v-icon>
          </v-btn>
          <!-- edit item -->
          <v-btn
            v-if="item && editable"
            :disabled="loading"
            text
            color="green"
            :to="editItem()"
          >
            {{ $t('edit') }}
            <v-icon right>
              mdi-pencil
            </v-icon>
          </v-btn>
          <!-- refresh -->
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="hardRefresh()"
          >
            {{ $t('refresh') }}
            <v-icon>
              mdi-refresh
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail tabs -->
      <v-container
        v-if="item"
      >
        <v-row>
          <v-col
            cols="12"
          >
            <v-card
              flat
            >
              <!-- tabs list -->
              <v-tabs
                v-if="tabs().length>0"
                v-model="mtab"
              >
                <v-tab
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  {{ tab.label }}
                </v-tab>
              </v-tabs>
              <v-divider />

              <!-- tabs content -->
              <v-tabs-items 
                v-model="mtab"
              >
                <v-tab-item
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  <component 
                    :is="tab.component"
                    :default-type="type"
                    @changeTab="changeTab"
                  />
                </v-tab-item>
              </v-tabs-items>
            </v-card> 
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import getEnv from '@/utils/env';
import ResourceShowMixin from '@/mixins/ResourceShow';
import PageTitleMixin from '@/mixins/PageTitle';
import DateFormatMixin from '@/mixins/DateFormat';
import SolidaryRecordShowInformations from '@/components/solidary/solidaryRecord/SolidaryRecordShowInformations';
import SolidaryRecordShowContactedDrivers from '@/components/solidary/solidaryRecord/SolidaryRecordShowContactedDrivers';
import SolidaryRecordShowDiary from '@/components/solidary/solidaryRecord/SolidaryRecordShowDiary';
import SolidaryRecordShowCarpools from '@/components/solidary/solidaryRecord/SolidaryRecordShowCarpools';
import SolidaryRecordShowTransporters from '@/components/solidary/solidaryRecord/SolidaryRecordShowTransporters';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, routes: {...messages_routes_en }, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, routes: {...messages_routes_fr }, s: { ...messages_models_fr }};

export default {
  components: {
    SolidaryRecordShowInformations,
    SolidaryRecordShowContactedDrivers,
    SolidaryRecordShowDiary,
    SolidaryRecordShowCarpools,
    SolidaryRecordShowTransporters
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceShowMixin,
    PageTitleMixin,
    DateFormatMixin
  ],
  data() {
    return {
      // define the store module used
      resource: 'sld_r',
      type: 'outward'
    };
  },
  computed: {
    editable() {
      return this.item && this.item.status != this.$store.getters['sld_r/statusClosedForUpdate'];
    },
    statusIcon() {
      return this.$store.getters['sld_r/statusIcon'];
    },
    statusColor() {
      return this.$store.getters['sld_r/statusColor'];
    },
    statusText() {
      return this.$t(this.$store.getters['sld_r/statusText']);
    }
  },
  methods: {
    tabs() {
      let tabs = [];
      tabs.push(
        // informations tab
        {
          label: this.$t('s.tab.informations'), id: 1, 
          component: 'SolidaryRecordShowInformations'
        },
        // carpools tab
        {
          label: this.$t('s.tab.carpools'), id: 2, 
          component: 'SolidaryRecordShowCarpools'
        }
      );
      if (getEnv('VUE_APP_SOLIDARY_TRANSPORT') === 'true') {
        tabs.push(
          // transporters tab
          {
            label: this.$t('s.tab.transporters'), id: 3, 
            component: 'SolidaryRecordShowTransporters'
          }
        );
      }
      tabs.push(
        // drivers tab
        {
          label: this.$t('s.tab.contactedDrivers'), id: 4, 
          component: 'SolidaryRecordShowContactedDrivers'
        },
        // diary tab
        {
          label: this.$t('s.tab.diary'), id: 5, 
          component: 'SolidaryRecordShowDiary'
        }
      );
      return tabs;
    },
    changeTab(val) {
      this.mtab = val.tab;
      this.type = val.type;
    },
    relatedItem (id) {
      const parentRoute = this.$router.options.routes.find( proute => proute.name === this.$route.meta.parent ).meta.show;
      this.$router.push(this.$router.options.routes.find( proute => proute.name === parentRoute ).path.replace(':'+this.itemId,id));
    }
  }
};
</script>
<style> 
.v-chip--disabled {
  opacity:1;
}
</style>
