<template>
  <div>
    <div v-if="contactedDrivers.length>0">
      <solidary-record-show-contacted-driver
        v-for="driver in contactedDrivers"
        :key="driver.id"
        :driver-id="driver.userId"
      />
    </div>
    <v-alert
      v-else
      class="mt-4"
      outlined
      type="info"
    >
      {{ $t('noContactedDrivers') }}
    </v-alert>
  </div>
</template>

<script>
import SolidaryRecordShowContactedDriver from '@/components/solidary/solidaryRecord/SolidaryRecordShowContactedDriver';

// import the translations
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';

let messages_en = { ...messages_views_en, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, s: { ...messages_models_fr }};

export default {
  components: { 
    SolidaryRecordShowContactedDriver
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  props: {
    
  },
  computed: {
    item() {
      return this.$store.getters['sld_r/item'];
    },
    contactedDrivers() {
      if (this.item && this.item.solutions && this.item.solutions.drivers) {
        return this.item.solutions.drivers.filter( solutionDriver => solutionDriver.contacted );
      }
      return [];
    },
  },
  methods: {
    
  }
};
</script>