<template>
  <div>
    <v-container v-if="item">
      <!-- Beneficiary, phone, progression, creation and update dates -->
      <v-row align="center">
        <v-col cols="4">
          <v-chip
            class="mr-2"
            color="primary"
            label
            x-large
          >
            #{{ item.id }}
          </v-chip>
          <v-chip
            class="mr-2"
            color="primary"
            label
            x-large
          >
            <v-avatar left>
              <v-img 
                v-if="item.avatar"
                :src="item.avatar"
              />
              <v-icon
                v-else
              >
                mdi-account-circle-outline
              </v-icon>
            </v-avatar>
            {{ item.givenName }} {{ item.familyName }}
          </v-chip>
          <v-chip
            v-if="item.telephone"
            label
            x-large
          >
            <v-avatar left>
              <v-icon>
                mdi-phone
              </v-icon>
            </v-avatar>
            {{ item.telephone }}
          </v-chip>
        </v-col>
        <v-col
          cols="3"
        >
          <v-container>
            <v-row>
              <v-col>
                <v-progress-linear
                  :value="item.progression"
                  height="25"
                  rounded
                >
                  <template v-slot:default="{ value }">
                    <strong>{{ Math.ceil(value) }}%</strong>
                  </template>
                </v-progress-linear>
              </v-col>
            </v-row>
            <v-row
              justify="center"
            >
              {{ statusText }}
            </v-row>
          </v-container>
        </v-col>
        <v-col
          cols="2"
          offset="1"
        >
          <date-field
            :item="item"
            :field="{name:'createdDate', label: $t('s.createdDate')}"
            type="datetime"
            :show-icon="false"
            read-only
            hide-details
          />
        </v-col>
        <v-col cols="2">
          <date-field
            :item="item"
            :field="{name:'lastActionDate', label: $t('s.updatedDate')}"
            type="datetime"
            :show-icon="false"
            read-only
            hide-details
          />
        </v-col>
      </v-row>
      <!-- Subject, proposal type, frequency, dates -->
      <v-row align="center">
        <v-col
          cols="3"
        >
          <v-text-field
            :label="$t('s.subjectFull')"
            readonly
            :value="item.subject"
            hide-details
          />
        </v-col>
        <v-col
          cols="3"
          offset="1"
          class="d-flex justify-center"
        >
          <v-chip
            outlined
            label
            large
            class="mr-2"
          >
            <v-avatar left>
              <v-icon v-if="item.proposalType == 'oneway'">
                mdi-arrow-right
              </v-icon>
              <v-icon v-else>
                mdi-repeat
              </v-icon>
            </v-avatar>
            {{ item.proposalType == 'oneway' ? $t('s.onewayTrip') : $t('s.roundTrip') }}
          </v-chip>
          <v-chip
            outlined
            label
            large
          >
            <v-avatar left>
              <v-icon v-if="item.frequency == 1">
                mdi-calendar-outline
              </v-icon>
              <v-icon v-else-if="item.frequency == 2">
                mdi-calendar-month-outline
              </v-icon>
              <v-icon v-else>
                mdi-calendar-question
              </v-icon>
            </v-avatar>
            {{ item.frequency == 1 ? $t('s.punctualJourney') : item.frequency == 2 ? $t('s.regularJourney') : $t('s.flexibleJourney') }}
          </v-chip>
        </v-col>
        <!-- Dates -->
        <!-- Regular or flexible, fromDate -->
        <v-col
          v-if="item.frequency != 1"
          cols="2"
          offset="1"
        >
          <date-field
            :item="item"
            :field="{name:'fromDate', label: item.frequency == 2 ? $t('s.fromDate') : $t('s.fromDateFlexible') }"
            type="weekdayDate"
            :show-icon="false"
            read-only
            hide-details
          />
        </v-col>
        <!-- Regular or flexible, toDate -->
        <v-col
          v-if="item.frequency != 1"
          cols="2"
        >
          <date-field
            :item="item"
            :field="{name:'toDate', label: item.frequency == 2 ? $t('s.toDate') : $t('s.toDateFlexible') }"
            type="weekdayDate"
            :show-icon="false"
            read-only
            hide-details
          />
        </v-col>
      </v-row>
      <!-- Journey, schedule -->
      <v-row align="center">
        <v-col cols="6">
          <v-timeline 
            v-if="item.origin"
            dense
          >
            <v-timeline-item 
              color="blue"
              icon="mdi-map-marker"
            >
              <v-card
                flat
              >
                <v-card-title v-if="item.origin.displayLabel[0]">
                  {{ item.origin.displayLabel[0] }}
                </v-card-title>
                <v-card-text v-if="item.origin.displayLabel[1]">
                  {{ item.origin.displayLabel[1] }}
                </v-card-text>
              </v-card>
            </v-timeline-item>
            <v-timeline-item 
              color="green"
              icon="mdi-flag-checkered"
            >
              <v-card
                flat
              >
                <v-card-title>
                  {{ item.origin.displayLabel[0] !== item.destination.displayLabel[0] ? item.destination.displayLabel[0] : $t('s.destinationAny') }}
                </v-card-title>
                <v-card-text v-if="item.destination.displayLabel[1] && item.origin.displayLabel[0] !== item.destination.displayLabel[0]">
                  {{ item.destination.displayLabel[1] }}
                </v-card-text>
              </v-card>
            </v-timeline-item>
          </v-timeline>
        </v-col>
        <v-col cols="6">
          <v-row>{{ $t('onewayDistance') }} : {{ distance }} km</v-row>
          <v-row>
            <!-- Punctual -->
            <v-col 
              v-if="item.frequency == 1"
              cols="12"
            >
              <SolidaryRecordShowInformationsPunctual />
            </v-col>
            <!-- Regular -->
            <v-col 
              v-if="item.frequency == 2"
              cols="12"
            >
              <SolidaryRecordShowInformationsRegular />
            </v-col>
            <!-- Flexible -->
            <v-col 
              v-if="item.frequency == 3"
              cols="8"
              offset="4"
            >
              <SolidaryRecordShowInformationsFlexible />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <!-- Needs -->
      <v-row v-if="item.needs && item.needs.length>0">
        <v-col>
          <v-select
            v-if="item.needs.length>1"
            v-model="item.needs"
            :items="item.needs"
            readonly
            chips
            item-text="label"
            :label="$t('s.otherNeeds')"
            multiple
          />
          <v-text-field
            v-else
            :value="item.needs[0].label"
            readonly
            :label="$t('s.otherNeed')"
          />
        </v-col>
      </v-row>
      <!-- Structure and operator -->
      <v-row>
        <v-col cols="6">
          <v-text-field
            :value="item.structure"
            readonly
            :label="$t('s.structure')"
          />
        </v-col>
        <v-col
          cols="6"
        >
          <v-text-field
            :value="operator"
            readonly
            :label="$t('s.operator')"
          />
        </v-col>
      </v-row>
    </v-container>
    <v-divider />

    <!-- Drivers -->
    <SolidaryRecordShowInformationsDrivers 
      @changeTab="changeTab"
      @addAction="addActionForUser"
    />
    <v-divider />

    <!-- Diary -->
    <SolidaryRecordShowInformationsDiary 
      :add-user-action="actionUser"
      @actionAdded="actionUser = null"
    />
  </div>
</template>

<script>
import DateField from '@/components/field/DateField';
import SolidaryRecordShowInformationsPunctual from '@/components/solidary/solidaryRecord/SolidaryRecordShowInformationsPunctual';
import SolidaryRecordShowInformationsRegular from '@/components/solidary/solidaryRecord/SolidaryRecordShowInformationsRegular';
import SolidaryRecordShowInformationsFlexible from '@/components/solidary/solidaryRecord/SolidaryRecordShowInformationsFlexible';
import SolidaryRecordShowInformationsDrivers from '@/components/solidary/solidaryRecord/SolidaryRecordShowInformationsDrivers';
import SolidaryRecordShowInformationsDiary from '@/components/solidary/solidaryRecord/SolidaryRecordShowInformationsDiary';

// import the translations
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';

let messages_en = { ...messages_views_en, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, s: { ...messages_models_fr }};

export default {
  components: { 
    DateField,
    SolidaryRecordShowInformationsPunctual,
    SolidaryRecordShowInformationsRegular,
    SolidaryRecordShowInformationsFlexible,
    SolidaryRecordShowInformationsDrivers,
    SolidaryRecordShowInformationsDiary
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  props: {
    
  },
  data() {
    return {
      actionUser: null
    };
  },
  computed: {
    distance() {
      const distance = this.item.distance;

      return typeof distance === 'number' && distance !== 0 ? distance.toFixed(2) : 0;
    },
    item() {
      return this.$store.getters['sld_r/item'];
    },
    operator() {
      if (this.item.operatorGivenName) {
        if (this.item.operatorFamilyName) return this.item.operatorGivenName + ' ' + this.item.operatorFamilyName;
        return this.item.operatorGivenName;
      } else if (this.item.operatorFamilyName) {
        return this.item.operatorFamilyName;
      } 
      return this.$t('s.noOperator');
    },
    statusText() {
      return this.$t(this.$store.getters['sld_r/statusText']);
    }
  },
  methods: {
    changeTab(val) {
      this.$emit('changeTab', val );
    },
    addActionForUser(payload) {
      this.actionUser = payload.user;
    }
  }
};
</script>