<template>
  <div>
    <v-container v-if="item">
      <!-- Beneficiary, phone, progression, actions -->
      <v-row align="center">
        <v-col cols="4">
          <v-chip
            class="mr-2"
            color="primary"
            label
            x-large
          >
            #{{ item.id }}
          </v-chip>
          <v-chip
            class="mr-2"
            color="primary"
            label
            x-large
          >
            <v-avatar left>
              <v-img 
                v-if="item.avatar"
                :src="item.avatar"
              />
              <v-icon
                v-else
              >
                mdi-account-circle-outline
              </v-icon>
            </v-avatar>
            {{ item.givenName }} {{ item.familyName }}
          </v-chip>
          <v-chip
            v-if="item.telephone"
            label
            x-large
          >
            <v-avatar left>
              <v-icon>
                mdi-phone
              </v-icon>
            </v-avatar>
            {{ item.telephone }}
          </v-chip>
        </v-col>
        <v-col
          cols="3"
        >
          <v-container>
            <v-row>
              <v-col>
                <v-progress-linear
                  :value="item.progression"
                  height="25"
                  rounded
                >
                  <template v-slot:default="{ value }">
                    <strong>{{ Math.ceil(value) }}%</strong>
                  </template>
                </v-progress-linear>
              </v-col>
            </v-row>
            <v-row
              justify="center"
            >
              {{ statusText }}
            </v-row>
          </v-container>
        </v-col>
        <v-col
          cols="2"
          offset="1"
        >
          <v-btn
            color="primary"
            :disabled="!editable"
            @click="addAction = true"
          >
            {{ $t('addActionFull') }}
            <v-icon right>
              mdi-plus
            </v-icon>
          </v-btn>
        </v-col>
        <v-col cols="2">
          <v-btn
            color="warning"
            :disabled="!editable"
            @click="progressionDialog = true"
          >
            {{ $t('changeProgression') }}
            <v-icon right>
              mdi-percent
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <solidary-record-diary
      :show-all="true"
      :add="addAction"
      @added="addAction = false"
    />
    <!-- Change progression dialog -->
    <v-dialog
      v-model="progressionDialog"
      persistent
      max-width="1100"
    >
      <v-card :loading="loading">
        <v-card-title
          class="text-h5"
        >
          {{ $t('progressionChangeDialogTitle') }}
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="8"
                offset="2"
              >
                <v-slider
                  v-model="newProgression"
                  height="100"
                  :tick-labels="ticksLabels"
                  :max="progressions.length-1"
                  step="1"
                  ticks="always"
                  thumb-label="always"
                  :thumb-size="48"
                  tick-size="5"
                >
                  <template v-slot:thumb-label="{ value }">
                    {{ progressions[value].value+'%' }}
                  </template>
                </v-slider>
              </v-col>
            </v-row>
          </v-container>
          <v-select
            v-model="recipient"
            :items="recipients"
            :label="$t('user')+' *'"
            required
            outlined
          >
            <template v-slot:item="data">
              <template>
                <v-list-item-avatar>
                  <v-icon>
                    {{ data.item.icon }}
                  </v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title v-html="data.item.fullName" />
                </v-list-item-content>
              </template>
            </template>
            <template v-slot:selection="data">
              <template>
                <v-avatar>
                  <v-icon>
                    {{ data.item.icon }}
                  </v-icon>
                </v-avatar>
                {{ data.item.fullName }}
              </template>
            </template>
          </v-select>
          
          <v-textarea
            v-model="comment"
            :label="$t('comment')"
            :hint="$t('optional')"
            persistent-hint
            outlined
          />
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            :disabled="loading"
            @click="progressionDialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            color="primary"
            :disabled="loading"
            text
            @click="changeProgression"
          >
            {{ $t('save') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import SolidaryRecordDiary from '@/components/solidary/solidaryRecord/SolidaryRecordDiary';

// import the translations
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';

let messages_en = { ...messages_views_en, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, s: { ...messages_models_fr }};

export default {
  components: { 
    SolidaryRecordDiary
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  props: {
    
  },
  data() {
    return {
      addAction: false,
      progressionDialog: false,
      progressions: [
        { name: this.$t('s.actions.group1'), value: 25 },
        { name: this.$t('s.actions.group2'), value: 50 },
        { name: this.$t('s.actions.group3'), value: 75 },
        { name: this.$t('s.actions.group4'), value: 100 },
      ],
      newProgression: null,
      ACTION_UPDATE_PROGRESS: 39,
      recipient: null,
      comment: null,
      loading: false
    };
  },
  computed: {
    item() {
      return this.$store.getters['sld_r/item'];
    },
    editable() {
      return this.item && this.item.status != this.$store.getters['sld_r/statusClosedForUpdate'];
    },
    ticksLabels() {
      return this.progressions.map( progression => progression.name );
    },
    recipients() {
      let recipients = [];
      recipients.push({
        value: this.item.userId,
        fullName: this.item.givenName+' '+this.item.familyName,
        avatar: this.item.avatar,
        icon: 'mdi-seat-passenger'
      });
      if (this.item.solutions.drivers.length>0) {
        recipients.push(
          ...this.item.solutions.drivers.map( solution => ({
            value: solution.userId,
            fullName: solution.givenName+' '+solution.familyName,
            avatar: solution.avatar,
            icon: 'mdi-steering'
          })).sort((a,b) => (a.fullName > b.fullName) ? 1 : ((b.fullName > a.fullName) ? -1 : 0))
        );
      }
      return recipients;
    },
    statusText() {
      return this.$t(this.$store.getters['sld_r/statusText']);
    }
  },
  watch: {
    item: {
      immediate: true,
      handler() {
        this.recipient = this.item.userId;
        if (this.newProgression !== null && this.progressionDialog) {
          this.loading = false;
          this.newProgression = null;
          this.comment = null;
          this.progressionDialog = false;
        }
      }
    },
  },
  methods: {
    changeProgression() {
      this.loading = true;
      this.$store.dispatch('sld_r/patchItem', { 
        id: this.item.id, 
        item: {
          animation: {
            action: this.ACTION_UPDATE_PROGRESS,
            user: this.recipient,
            comment: this.comment,
            progression: this.progressions[this.newProgression].value
          }
        }
      });
    }
  }
};
</script>

<style>
.v-application--is-ltr .v-slider--horizontal .v-slider__tick:first-child .v-slider__tick-label {
  transform: translateX(-50%);
}
.v-application--is-ltr .v-slider--horizontal .v-slider__tick:last-child .v-slider__tick-label {
  transform: translateX(-50%);
}
</style>