<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="getItems"
      :hide-default-footer="showAll && getItems.length>5 ? false : true"
      disable-sort
    >
      <template v-slot:[`item.authorFamilyName`]="{ item }">
        <v-chip
          color="primary"
          label
        >
          <v-avatar left>
            <v-img 
              v-if="item.authorAvatar"
              :src="item.authorAvatar"
            />
            <v-icon
              v-else
            >
              mdi-account-circle-outline
            </v-icon>
          </v-avatar>
          {{ item.authorGivenName }} {{ item.authorFamilyName }}
        </v-chip>
      </template>
      <template v-slot:[`item.date`]="{ item }">
        <span>{{ asDateTime(item.date) }}</span>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <span>{{ getAction(item.action) }}</span>
      </template>
      <template v-slot:[`item.comment`]="{ item }">
        <span v-html="item.comment" />
      </template>
      <template v-slot:[`item.progression`]="{ item }">
        <v-progress-linear
          :value="item.progression"
          height="20"
        >
          <template v-slot:default="{ value }">
            <strong>{{ Math.ceil(value) }}%</strong>
          </template>
        </v-progress-linear>
      </template>
      <template v-slot:[`item.familyName`]="{ item }">
        <v-chip
          label
          class="mr-2"
        >
          <v-avatar>
            <v-icon v-if="item.userId == userId">
              mdi-seat-passenger
            </v-icon>
            <v-icon v-else>
              mdi-steering
            </v-icon>
          </v-avatar>
        </v-chip>
        <v-chip
          color="primary"
          label
        >
          <v-avatar left>
            <v-img 
              v-if="item.avatar"
              :src="item.avatar"
            />
            <v-icon
              v-else
            >
              mdi-account-circle-outline
            </v-icon>
          </v-avatar>
          {{ item.givenName }} {{ item.familyName }}
        </v-chip>
      </template>
    </v-data-table>
    <!-- Add action dialog -->
    <v-dialog
      v-model="actionDialog"
      persistent
      max-width="800"
    >
      <v-card :loading="loading">
        <v-card-title
          class="text-h5"
        >
          {{ $t('actionAddDialogTitle') }}
        </v-card-title>
        <v-card-text>
          <v-select
            v-model="action"
            :items="actions"
            :label="$t('action')+' *'"
            required
            outlined
          >
            <template v-slot:item="data">
              <template>
                <v-chip
                  small
                  color="primary"
                  label
                  outlined
                  class="mr-4"
                >
                  {{ data.item.progression > 0 ? Math.ceil(data.item.progression)+'%' : "-" }}
                </v-chip>
                {{ data.item.text }}
              </template>
            </template>
            <template v-slot:selection="data">
              <template>
                <v-chip
                  small
                  label
                  class="mr-4"
                >
                  {{ data.item.progression > 0 ? Math.ceil(data.item.progression)+'%' : "-" }}
                </v-chip>
                {{ data.item.text }}
              </template>
            </template>
          </v-select>
          <v-select
            v-model="recipient"
            :items="recipients"
            :label="$t('user')+' *'"
            required
            outlined
          >
            <template v-slot:item="data">
              <template>
                <v-list-item-avatar>
                  <v-icon>
                    {{ data.item.icon }}
                  </v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title v-html="data.item.fullName" />
                </v-list-item-content>
              </template>
            </template>
            <template v-slot:selection="data">
              <template>
                <v-avatar>
                  <v-icon>
                    {{ data.item.icon }}
                  </v-icon>
                </v-avatar>
                {{ data.item.fullName }}
              </template>
            </template>
          </v-select>
          <v-textarea
            v-model="comment"
            :label="$t('comment')"
            :hint="$t('optional')"
            persistent-hint
            outlined
          />
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            :disabled="loading"
            @click="cancelAction"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :disabled="action == 0 || !recipient || loading"
            color="primary"
            text
            @click="addAction"
          >
            {{ $t('add') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DateFormatMixin from '@/mixins/DateFormat';

// import the translations
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';


let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, s: { ...messages_models_fr }};

export default {
  components: { 
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    showAll: {
      type: Boolean,
      default: true
    },
    add: {
      type: Boolean,
      default: false
    },
    // display only entries for the given user
    only: {
      type: Number,
      default: null
    },
    defaultRecipient: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      actions: [],
      headers: [
        { text: this.$t('author'), value: 'authorFamilyName' },
        { text: this.$t('date'), value: 'date' },
        { text: this.$t('action'), value: 'action' },
        { text: this.$t('comment'), value: 'comment', width: '250px' },
        { text: this.$t('s.progression'), value: 'progression' },
        { text: this.$t('user'), value: 'familyName' },
      ],
      actionDialog: false,
      action: 0,
      recipient: this.defaultRecipient,
      comment: null,
      loading: false
    };
  },
  computed: {
    item() {
      return this.$store.getters['sld_r/item'];
    },
    userId() {
      return this.item.userId;
    },
    rawActions() {
      return this.$store.getters['sld_r/solidaryActions'];
    },
    diary() {
      if (this.only) {
        return this.item.diary.filter( item => item.userId === this.only);
      }
      return this.item.diary;
    },
    getItems() {
      if (this.showAll) {
        return this.diary;
      }
      return this.diary.filter( (item, index) => index == 0);
    },
    recipients() {
      let recipients = [];
      recipients.push({
        value: this.item.userId,
        fullName: this.item.givenName+' '+this.item.familyName,
        avatar: this.item.avatar,
        icon: 'mdi-seat-passenger'
      });
      if (this.item.solutions.drivers.length>0) {
        recipients.push(
          ...this.item.solutions.drivers.map( solution => ({
            value: solution.userId,
            fullName: solution.givenName+' '+solution.familyName,
            avatar: solution.avatar,
            icon: 'mdi-steering'
          })).sort((a,b) => (a.fullName > b.fullName) ? 1 : ((b.fullName > a.fullName) ? -1 : 0))
        );
      }
      return recipients;
    }
  },
  watch: {
    rawActions: {
      immediate: true,
      deep: true,
      handler() {
        this.completeActions();
      }
    },
    item: {
      immediate: true,
      handler() {
        this.recipient = this.item.userId;
        if (this.action>0 && this.actionDialog) {
          this.loading = false;
          this.action = 0;
          this.comment = null;
          this.actionDialog = false;
          this.$emit('added');
        }
      }
    },
    defaultRecipient(val) {
      if (val !== null) {
        this.recipient = val;
      }
    },
    add(val) {
      if (val) {
        this.actionDialog = true;
      }
    }
  },
  mounted() {
    if (this.actions.length == 0) {
      this.$store.dispatch('sld_r/loadActions');
    }
  },
  methods: {
    completeActions() {
      if (this.rawActions?.length > 0) {
        let incompleteActions = this.rawActions.map( action => ({
          text: this.$t('s.actions')[action.name] ? this.$t('s.actions')[action.name] : null,
          value: action.id,
          type: action.type,
          progression: action.progression,
          header: null,
          divider: null
        }));
        let completedActions = [];
        let type = 0;
        incompleteActions.forEach( element => {
          if (type < element.type) {
            type++;
            completedActions.push({
              text: null,
              value: null,
              type: null,
              header: this.$t('s.actions')['group'+type] ? this.$t('s.actions')['group'+type] : null,
              divider: null
            },
            {
              text: null,
              value: null,
              type: null,
              header: null,
              divider: true
            });
          }
          completedActions.push(element);
        });
        this.actions = completedActions;
      }
      return [];
    },
    getAction(val) {
      return this.$t('s.actions')[val] ? this.$t('s.actions')[val] : val;
    },
    addAction() {
      this.loading = true;
      this.$store.dispatch('sld_r/patchItem', { 
        id: this.item.id, 
        item: {
          animation: {
            action: this.action,
            user: this.recipient,
            comment: this.comment
          }
        }
      });
    },
    cancelAction() {
      this.actionDialog = false;
      this.$emit('added');
    }
  }
};
</script>