<template>
  <div class="solidaryrecord">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn 
          v-if="editedItem"
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="editedItem"
        >
          <h2>
            {{ edit ? $t('solidaryrecord_edit') : $t('solidaryrecord_add') }} 
            <v-chip
              class="ma-2"
              outlined
              :color="edited ? 'warning' : 'primary'"
              label
            >
              <v-avatar
                v-if="editedItem.beneficiary"
                left
              >
                <v-img 
                  v-if="editedItem.beneficiary.avatar"
                  :src="editedItem.beneficiary.avatar"
                />
                <v-icon
                  v-else
                >
                  mdi-account-circle-outline
                </v-icon>
              </v-avatar>
              {{ editedItem.beneficiary ? editedItem.beneficiary.givenName : null }} {{ editedItem.beneficiary ? editedItem.beneficiary.familyName : null }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="edit ? refresh() : restart()"
          >
            {{ edit ? $t('refresh') : $t('restart') }}
            <v-icon
              v-if="edit"
            >
              mdi-refresh
            </v-icon>
            <v-icon
              v-else
            >
              mdi-restart
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail -->
      <v-card
        v-if="editedItem"
        flat
      >
        <v-alert
          v-if="editWarn"
          class="ma-2"
          outlined
          prominent
          type="warning"
        >
          {{ $t('warningEdit') }}
        </v-alert>
        <v-form 
          ref="form"
          v-model="valid"
        >
          <solidary-record-stepper 
            :edit="edit"
            :edited="edited"
            :loading="loading"
            :default-step="step"
            @stepInitialized="stepInitialized"
            @save="save"
          />
        </v-form>
      </v-card>  
      <!-- edit buttons -->
      <v-card-actions
        v-if="editedItem"
      >
        <v-spacer />
        <!-- delete item -->
        <v-btn
          v-if="edit"
          color="error"
          :disabled="loading || !editedItem.removable"
          @click="remove()"
        >
          {{ $t('remove') }}
          <v-icon right>
            mdi-delete
          </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>

    <!-- confirm action dialog -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>{{ dialogText }}</v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :color="dialogColor"
            text
            @click="launchAction()"
          >
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ResourceEditMixin from '@/mixins/ResourceEdit';
import PageTitleMixin from '@/mixins/PageTitle';
import SolidaryRecordStepper from '@/components/solidary/solidaryRecord/SolidaryRecordStepper';
import { isEqual } from 'lodash';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';

let messages_en = { ...messages_views_en, routes: {...messages_routes_en }, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, routes: {...messages_routes_fr }, s: { ...messages_models_fr }};

export default {
  components: {
    SolidaryRecordStepper
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceEditMixin,
    PageTitleMixin
  ],
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      // define the store module used
      resource: 'sld_r',
      step: 1
    };
  },
  computed: {
    tabs() {
      return [];
    },
    editWarn() {
      if (!this.edit || !this.edited) return false;
      const sensibleProperties = [
        'origin',
        'destinationAny',
        'destination',
        'regular',
        'punctualOutwardDateChoice',
        'punctualOutwardMinDate',
        'punctualOutwardMaxDate',
        'punctualOutwardTimeChoice',
        'punctualOutwardMinTime',
        'punctualOutwardMaxTime',
        'punctualReturnDateChoice',
        'regularSchedules',
        'regularDateChoice',
        'regularMinDate',
        'regularMaxDate'
      ];
      let modifiedProperties = this.getObjectDiff(this.item,this.editedItem);
      return modifiedProperties.some(item => sensibleProperties.includes(item));
    },
    editedItem() {
      // overloaded as we need to return to the solidary list after update
      const storeEditedItem = this.$store.getters[this.resource+'/editedItem'];
      if (storeEditedItem == null && this.edit && this.firstLoadFinished === true) {
        // we are in edit mode and the item was deleted => we go back to the item list
        this.goParent();
      } else if (storeEditedItem && storeEditedItem.id && !this.edit) {
        // we are in create mode and the item was created => we go back to the item list
        this.goParent();
      } else if (storeEditedItem && Object.prototype.hasOwnProperty.call(storeEditedItem,'updated')) {
        // we are in edit mode and the item was edited => we go back to the item list
        this.goParent();
      }
      return storeEditedItem;
    },
  },
  mounted() {
    this.$store.dispatch('auth/setSolidaryEdit',true);
  },
  methods: {
    // refresh without confirmation (overloaded)
    hardRefresh() {
      this.$store.dispatch(this.resource+'/initEditedItem');
      this.getItem();
    },
    hardRestart() {
      // method overloaded to go back to step 1
      this.$store.dispatch(this.resource+'/initEditedItem');
      this.$refs.form.resetValidation();
      this.step = 1;
    },
    stepInitialized() {
      this.step = 0;
    },
    // get the item (overloaded)
    getItem() {
      this.loading = true;
      if (this.edit) {
        this.$store.dispatch(this.resource+'/loadItemForEdition', { id: this.$route.params.id, fields:this.fields});
      } else {
        this.$store.dispatch(this.resource+'/loadItem', { id: this.$route.params.id, fields:this.fields});
      }
    },
    getObjectDiff(obj1, obj2) {
      const diff = Object.keys(obj1).reduce((result, key) => {
        if (!Object.prototype.hasOwnProperty.call(obj2,key)) {
          result.push(key);
        } else if (isEqual(obj1[key], obj2[key])) {
          const resultKeyIndex = result.indexOf(key);
          result.splice(resultKeyIndex, 1);
        }
        return result;
      }, Object.keys(obj2));
      return diff;
    },
    // save with confirmation (overloaded)
    save() {
      this.dialogAction = 'save';
      this.dialogColor = 'warning';
      if (this.edit && this.editWarn) {
        this.dialogTitle = this.$t('dialog.saveEditedWarning.title');
        this.dialogText = this.$t('dialog.saveEditedWarning.text');
      } else if (this.edit) {
        this.dialogTitle = this.$t('dialog.saveEdited.title');
        this.dialogText = this.$t('dialog.saveEdited.text');
      } else {
        this.dialogTitle = this.$t('dialog.save.title');
        this.dialogText = this.$t('dialog.save.text');
      }
      this.dialog = true;
    }
  }
};
</script>