<template>
  <div>
    <v-card v-if="item && item.solutions && item.solutions.drivers">
      <v-card-title>
        <v-icon class="mr-2"> mdi-steering </v-icon>
        {{ $t("selectedDrivers") }}
        <v-spacer />
        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-if="editable" color="primary" v-bind="attrs" v-on="on">
              {{ $t("search") }}
              <v-icon right> mdi-magnify </v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item
              v-for="(action, index) in searchActions"
              :key="index"
              link
              @click="changeTab({ tab: action.tab, type: action.type })"
            >
              <v-list-item-title>{{ action.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-card-title>
      <v-card-text>
        <v-alert v-if="item.solutions.drivers.length == 0" outlined type="info">
          {{ $t("noSelectedDrivers") }}
        </v-alert>
        <v-data-table
          v-else
          :headers="headers"
          :items="drivers"
          :hide-default-footer="drivers.length > 5 ? false : true"
          hide-default-header
        >
          <template v-slot:[`item.familyName`]="{ item }">
            <v-chip color="primary" label>
              <v-avatar left>
                <v-img v-if="item.avatar" :src="item.avatar" />
                <v-icon v-else> mdi-account-circle-outline </v-icon>
              </v-avatar>
              {{ item.givenName }} {{ item.familyName }}
            </v-chip>
          </template>
          <template v-slot:[`item.type`]="{ item }">
            {{
              item.type == "carpooler" ? $t("s.carpooler") : $t("s.volunteer")
            }}
          </template>
          <template v-slot:[`item.finalWay`]="{ item }">
            {{
              item.finalWay == 1
                ? $t("outward")
                : item.finalWay == 2
                ? $t("return")
                : $t("roundTrip")
            }}
          </template>
          <template v-slot:[`item.action`]="{ item }">
            <v-menu v-if="item.mode == MODE_FULL" offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn color="primary" v-bind="attrs" v-on="on">
                  {{ $t("contact") }}
                  <v-icon right> mdi-email </v-icon>
                </v-btn>
              </template>

              <v-list>
                <v-list-item
                  v-for="(action, index) in contactActions"
                  :key="index"
                  link
                  @click="contact(item, action.type)"
                >
                  <v-list-item-title>{{ action.title }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
            <v-btn v-else color="primary" @click="contact(item, 'message')">
              {{ $t("mailbox") }}
              <v-icon right> mdi-email </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <!-- Contact dialog -->
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar>
          <v-btn icon @click="dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ dialogTitle }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <SolidaryRecordMessager
            :solution-id="dialogItem ? dialogItem.id : null"
            @addAction="addAction"
          />
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn text @click="dialog = false">
            {{ $t("close") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import SolidaryRecordMessager from '@/components/solidary/solidaryRecord/SolidaryRecordMessager';

// import the translations
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';

let messages_en = { ...messages_views_en, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, s: { ...messages_models_fr }};

export default {
  components: {
    SolidaryRecordMessager
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  props: {
    structureSolidaryTransport: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      contactActions: [
        { title: this.$t('contactMessage'), type:'message' },
        { title: this.$t('contactSms'), type: 'sms' }
      ],
      headers: [
        { text: this.$t('selectedDriver'), value: 'familyName' },
        { text: this.$t('s.type'), value: 'type' },
        { text: this.$t('s.way'), value: 'finalWay' },
        { text: this.$t('s.telephone'), value: 'telephone' },
        { text: null, value: 'action' }
      ],
      dialog: false,
      dialogType: null,
      dialogItem: null,
      MODE_FULL: 1
    };
  },
  computed: {
    item() {
      return this.$store.getters['sld_r/item']
    },
    editable() {
      return this.item && this.item.status != this.$store.getters['sld_r/statusClosedForUpdate'];
    },
    drivers() {
      // we need to group solutions by driver
      let result = [];
      if (this.item && this.item.solutions && this.item.solutions.drivers) {
        this.item.solutions.drivers.forEach(solutionDriver => {
          let driver = result.find( driver => driver.userId === solutionDriver.userId);
          if (driver !== undefined) {
          // driver already added, we change the way to roundTrip
            driver.finalWay = 3;
          } else {
          // driver not already added, we add it
            result.push({ ...solutionDriver, finalWay: solutionDriver.way == 3 ? 2 : 1});
          }
        });
      }
      return result;
    },
    dialogTitle() {
      if (!this.dialogItem) return '';
      if (this.dialogType == 'message') {
        return this.$t('contactDialogTitleMessage', { recipient: this.dialogItem.givenName+ ' '+this.dialogItem.familyName});
      } else {
        return this.$t('contactDialogTitleSms', { recipient: this.dialogItem.givenName+ ' '+this.dialogItem.familyName});
      }
    },
    searchActions() {
      let searchActions = [
        { title: this.$t('searchOutwardCarpool'), tab: 1, type: 'outward' },
        { title: this.$t('searchReturnCarpool'), tab: 1, type: 'return' }
      ]

      const searchOptionnalActions = [
        { title: this.$t('searchOutwardVolunteer'), tab: 2, type: 'outward' },
        { title: this.$t('searchReturnVolunteer'), tab: 2, type: 'return' }
      ]

      return this.item.structureSolidaryTransport
        ? [...searchActions, ...searchOptionnalActions] : searchActions
    }
  },
  methods: {
    changeTab(val) {
      this.$emit('changeTab', val );
    },
    contact(item,type) {
      this.dialogType = type;
      this.dialogItem = item;
      this.dialog = true;
    },
    addAction(payload) {
      this.dialog = false;
      this.$emit('addAction',payload);
    }
  }
};
</script>
