<template>
  <div>
    <v-card
      v-if="campaign"
      flat
    >
      <v-card-text>
        <v-row>
          <v-col
            cols="6"
          >
            <v-text-field
              dense
              readonly
              outlined
              :label="$t('source')"
              class="ml-1"
              :value="$t('sources.'+campaign.source, { name: campaign.sourceName} )"
              hide-details="auto"
            />
          </v-col>
          <v-col cols="2">
            <v-text-field
              dense
              outlined
              readonly
              :label="campaign.id ? $t('campaign.deliveryCount') : $t('campaign.deliveryCountPotential')"
              class="ml-1"
              :value="campaign.deliveryCount"
              hide-details="auto"
            />
          </v-col>
          <v-col cols="2">
            <v-text-field
              dense
              outlined
              readonly
              :label="$t('filter.type')"
              class="ml-1"
              :value="campaign.filterType == 1 ? $t('filter.typeSelection') : (campaign.filters != '' ? $t('filter.typeSource') : $t('filter.typeAll'))"
              hide-details="auto"
            />
          </v-col>
          <v-col cols="2">
            <v-text-field
              dense
              outlined
              readonly
              :label="$t('campaign.updatedDate')"
              class="ml-1"
              :value="asDateTime(campaign.updatedDate)"
              hide-details="auto"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-subtitle v-if="campaign.filterType == 2 && filters.length>0">
        {{ $t('filtersApplied') }}
      </v-card-subtitle>
      <v-card-text>
        <v-row v-if="campaign.filterType == 2 && filters.length>0">
          <v-col
            v-for="filter in filters"
            :key="filter.key"
            cols="3"
          >
            <v-switch
              v-if="filter.type && filter.type == 'switch'"
              dense
              inset
              readonly
              :label="filter.key"
              class="ml-1"
              :value="filter.values[0]"
            />
            <v-text-field
              v-else-if="filter.values.length<2"
              dense
              outlined
              readonly
              :label="filter.key"
              class="ml-1"
              :value="filter.values[0]"
              hide-details="auto"
            />
            <v-select
              v-else
              v-model="filter.values"
              dense
              readonly
              outlined
              :label="filter.key"
              class="ml-1"
              :items="filter.values"
              hide-details="auto"
              multiple
            >
              <template #selection="{ item }">
                <v-chip
                  small
                  color="primary"
                >
                  {{ item }}
                </v-chip>
              </template>
            </v-select>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-tooltip right>
          <template v-slot:activator="{ on }">
            <v-btn
              :disabled="campaign.status == null || !!loading"
              :loading="loading == 1"
              color="primary"
              v-on="on"
              @click="send(1)"
            >
              {{ $t('send_test') }}
              <v-icon right>
                mdi-email
              </v-icon>
            </v-btn>
          </template>
          <span>{{ $t('send_test_recipient', {email: campaign.creatorEmail}) }}</span>
        </v-tooltip>
        <v-spacer />
        <v-btn
          :disabled="campaign.status != 1 || !!loading"
          :loading="loading == 2"
          color="warning"
          @click="send(2)"
        >
          {{ $t('send_prod') }}
          <v-icon
            v-if="campaign.status != 1"
            right
          >
            mdi-email-lock
          </v-icon>
          <v-icon
            v-else
            right
          >
            mdi-email-check
          </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import DateFormatMixin from '@/mixins/DateFormat';
import {messages_models_en, messages_models_fr} from '@/translations/models/Campaign/';
import {messages_models_en as messages_models_user_en, messages_models_fr as messages_models_user_fr} from '@/translations/models/User/';
import {messages_views_en, messages_views_fr} from '@/translations/views/Campaigns/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';

let messages_en = { ...messages_views_en, campaign: { ...messages_models_en }, user: { ...messages_models_user_en }, dates: {...messages_dates_en } };
let messages_fr = { ...messages_views_fr, campaign: { ...messages_models_fr }, user: { ...messages_models_user_fr }, dates: {...messages_dates_fr } };

export default {
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    campaign: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      // constants for sources
      SOURCE_USER: 1,
      SOURCE_COMMUNITY: 2,
      loading:false
    };
  },
  computed: {
    filters() {
      if (this.campaign.filterType == 1) return [];
      // Set is used to deduplicate the keys
      const keys = [...new Set(this.campaign.filters.split('&').map(param => param.split('=')[0]))];
      // we create a filters array containing the keys without possible values
      let filters = keys.map( key => ({
        key: key,
        values: []
      }));
      // we will add the values for each key
      // first we create an array from the filters string 
      this.campaign.filters.split('&').map(param => ({
        key: param.split('=')[0],
        value: param.split('=')[1]
      })).forEach(element => {
        // then for each element of this array we add the value
        let key = Object.keys(filters).find( key => filters[key].key == element.key);
        filters[key].values.push(this.getFilterValue(element.key,element.value));
      });
      // finally we return the array with translated keys and evaluated values if needed
      return filters.map( element => ({
        key: this.getFilterName(element.key),
        values: element.values,
        type: this.getFilterType(element.key),
      }));
    },
    sentTest() {
      if (this.campaign.source == this.SOURCE_USER) {
        return this.$store.getters['u/sentTest'];
      } else if (this.campaign.source == this.SOURCE_COMMUNITY) {
        return this.$store.getters['cm/sentTest'];
      }
      return null;
    },
    sentProd() {
      if (this.campaign.source == this.SOURCE_USER) {
        return this.$store.getters['u/sentProd'];
      } else if (this.campaign.source == this.SOURCE_COMMUNITY) {
        return this.$store.getters['cm/sentProd'];
      }
      return null;
    }
  },
  watch: {
    sentTest(val) {
      if (val !== null) {
        this.loading = false;
        this.$emit('refresh');
        if (this.campaign.source == this.SOURCE_USER) {
          this.$store.dispatch('u/saveSentTest', null);
        } else if (this.campaign.source == this.SOURCE_COMMUNITY) {
          this.$store.dispatch('cm/saveSentTest', null);
        }
      }
    },
    sentProd(val) {
      if (val !== null) {
        this.loading = false;
        this.$emit('refresh');
        if (this.campaign.source == this.SOURCE_USER) {
          this.$store.dispatch('u/saveSentProd', null);
        } else if (this.campaign.source == this.SOURCE_COMMUNITY) {
          this.$store.dispatch('cm/saveSentProd', null);
        }
      }
    }
  },
  methods: {
    send(mode) {
      let filters = [];
      if (this.campaign.filterType == 2) {
        const keys = [...new Set(this.campaign.filters.split('&').map(param => param.split('=')[0]))];
        // we create a filters array containing the keys without possible values
        filters = keys.map( key => ({
          key: key,
          values: []
        }));
        // we will add the values for each key
        // first we create an array from the filters string 
        this.campaign.filters.split('&').map(param => ({
          key: param.split('=')[0],
          value: param.split('=')[1]
        })).forEach(element => {
          // then for each element of this array we add the value
          let key = Object.keys(filters).find( key => filters[key].key == element.key);
          filters[key].values.push(element.value);
        });
      }
      this.loading = mode;
      if (this.campaign.source == this.SOURCE_USER) {
        this.$store.dispatch('u/sendCampaign',{
          campaign: this.campaign.id,
          filters: filters,
          mode: mode
        });
      } else if (this.campaign.source == this.SOURCE_COMMUNITY) {
        this.$store.dispatch('cm/sendCampaign',{
          campaign: this.campaign.id,
          filters: filters,
          mode: mode
        });
      } 
    },
    filterList() {
      // todo : see how to use the same elements than in UserList
      return { 
        user: [
          { label: this.$t('user.givenName'), name: 'givenName' },
          { label: this.$t('user.familyName'), name: 'familyName' },
          { label: this.$t('user.gender.label'), name: 'gender', 
            values: [ 
              { text: this.$t('user.gender.items.other.name'), value: this.$t('user.gender.items.other.value') }, 
              { text: this.$t('user.gender.items.female.name'), value: this.$t('user.gender.items.female.value') },
              { text: this.$t('user.gender.items.male.name'), value: this.$t('user.gender.items.male.value') }
            ] },
          { label: this.$t('user.email'), name: 'email' },
          { label: this.$t('user.telephone'), name: 'telephone' },
          { label: this.$t('user.createdDate'), name: 'createdDate' },
          { label: this.$t('user.lastActivityDate'), name: 'lastActivityDate' },
          { label: this.$t('user.proposalValidUntil'), name: 'proposalValidUntil' },
          { label: this.$t('user.territories'), name: 'homeAddressODTerritory' },
          { label: this.$t('user.communitiesExclude'), name: 'communitiesExclude' },
          { label: this.$t('user.range'), name: 'range' },
          { label: this.$t('user.solidaryExclusive'), name: 'solidaryExclusive', type: 'switch' }, 
        ],
        // no filtering yet on community members !
        community: []
      };
    },
    getFilterName(key) {
      if (this.campaign.source == this.SOURCE_USER) {
        let fkey = Object.keys(this.filterList().user).find( lkey => this.filterList().user[lkey].name == key);
        if (fkey !== undefined) {
          return this.filterList().user[fkey].label;
        }
      } else if (this.campaign.source == this.SOURCE_COMMUNITY) {
        let fkey = Object.keys(this.filterList().community).find( lkey => this.filterList().community[lkey].name == key);
        if (fkey !== undefined) {
          return this.filterList().community[fkey].label;
        }
      }
      return '';
    },
    getFilterValue(key,value) {
      if (this.campaign.source == this.SOURCE_USER) {
        let fkey = Object.keys(this.filterList().user).find( lkey => this.filterList().user[lkey].name == key);
        if (fkey !== undefined && this.filterList().user[fkey].values !== undefined) {
          // the key may have determined possible values
          let vkey = Object.keys(this.filterList().user[fkey].values).find( lkey => this.filterList().user[fkey].values[lkey].value == value);
          return this.filterList().user[fkey].values[vkey].text;
        }
        return value;
      } else if (this.campaign.source == this.SOURCE_COMMUNITY) {
        let fkey = Object.keys(this.filterList().community).find( lkey => this.filterList().community[lkey].name == key);
        if (fkey !== undefined && this.filterList().community[fkey].values !== undefined) {
          // the key may have determined possible values
          let vkey = Object.keys(this.filterList().community[fkey].values).find( lkey => this.filterList().community[fkey].values[lkey].value == value);
          return this.filterList().community[fkey].values[vkey].text;
        }
        return value;
      }
      return '';
    },
    getFilterType(key) {
      if (this.campaign.source == this.SOURCE_USER) {
        let fkey = Object.keys(this.filterList().user).find( lkey => this.filterList().user[lkey].name == key);
        if (fkey !== undefined) {
          return this.filterList().user[fkey].type ? this.filterList().user[fkey].type : null;
        }
      } else if (this.campaign.source == this.SOURCE_COMMUNITY) {
        let fkey = Object.keys(this.filterList().community).find( lkey => this.filterList().community[lkey].name == key);
        if (fkey !== undefined) {
          return this.filterList().community[fkey].type ? this.filterList().community[fkey].type : null;
        }
      }
      return '';
    },
  }
};
</script>