<template>
  <!-- show body -->
  <div
    v-if="readOnly"
    class="part"
  >
    <v-container>
      <v-row 
        v-for="(item,i) in items"
        :key="i"
      >
        <v-col
          cols="12"
        >
          <v-text-field
            v-if="item.type == 'title'"
            :value="items[i].value"
            :label="$t('campaign.body.title')"
            readonly
          />
          <v-img
            v-else-if="item.type=='image'"
            :src="items[i].src"
            max-height="300"
            contain
          />
          <div
            v-else-if="item.type=='text'"
          >
            <span v-html="items[i].value" />
          </div>
          <div
            v-else
          >
            <p class="font-italic">
              {{ $t('deprecated') }}
            </p>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
  <!-- edit body -->
  <v-container
    v-else
  >
    <v-row
      v-for="(item,i) in items"
      :key="i"
      align="center"
    >
      <v-col
        v-if="item.type !== 'image'"
        cols="10"
      >
        <v-text-field
          v-if="item.type == 'title'"
          v-model="items[i].value"
          :label="$t('campaign.body.title')"
          clearable
          counter="255"
          autocomplete="63b4186214f3"
        />
        <tiptap-vuetify
          v-else-if="item.type == 'text'"
          v-model="items[i].value"
          :extensions="extensions"
          :card-props="{ flat: true }"
          :toolbar-attributes="{ color: $vuetify.theme.dark ? 'grey darken-2' : 'grey lighten-4' }"
        />
        <p
          v-else
          class="font-italic"
        >
          {{ $t('deprecated') }}
        </p>
      </v-col>
      <v-col
        v-else
        cols="10"
      >
        <v-row 
          v-if="item.src !== null && item.id !== null"
          align="center"
        >
          <v-col 
            cols="6"
          >
            <v-card flat>
              <v-img
                :src="item.src+'?'+new Date().getTime()"
                max-height="200"
                contain
              />
              <v-card-title class="justify-center text-subtitle-1">
                {{ $t('image_current') }}
              </v-card-title>
            </v-card>
          </v-col>
          <v-col
            cols="6"
          >
            <v-card 
              flat
            >
              <v-file-input
                v-model="items[i].newSrc"
                :label="$t('image_new')"
                show-size
                chips
                truncate-length="40"
                accept="image/png, image/jpeg"
                prepend-icon="mdi-camera"
                @change="onNewFileChange(i)"
              />
              <v-img
                v-if="items[i].preview"
                :src="items[i].preview"
                max-height="200"
                contain
              />
            </v-card>
          </v-col>
        </v-row>
        <v-row 
          v-else
          align="center"
        >
          <v-col 
            cols="12"
          >
            <v-card 
              flat
            >
              <v-file-input
                v-model="items[i].src"
                :label="$t('campaign.body.image')"
                show-size
                chips
                truncate-length="40"
                accept="image/png, image/jpeg"
                prepend-icon="mdi-camera"
                @change="onFileChange(i)"
              />
              <v-img
                v-if="items[i].preview"
                :src="items[i].preview"
                max-height="200"
                contain
              />
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        cols="2"
        align="right"
      > 
        <v-btn
          v-if="!isFirst(item.position)"
          class="mr-2"
          fab
          dark
          x-small
          color="primary"
          @click="up(item)"
        >
          <v-icon>
            mdi-arrow-up
          </v-icon>
        </v-btn>
        <v-btn
          v-if="!isLast(item.position)"
          class="mr-2"
          fab
          dark
          x-small
          color="primary"
          @click="down(item)"
        >
          <v-icon>
            mdi-arrow-down
          </v-icon>
        </v-btn>
        <v-btn
          class="mr-2"
          fab
          dark
          x-small
          color="error"
          @click="remove(item)"
        >
          <v-icon>
            mdi-trash-can
          </v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-btn
          class="mr-2"
          color="primary"
          @click="addTitle"
        >
          {{ $t('title_add') }}
          <v-icon right>
            mdi-plus
          </v-icon>
        </v-btn>
        <v-btn
          class="mr-2"
          color="primary"
          @click="addText"
        >
          {{ $t('text_add') }}
          <v-icon right>
            mdi-plus
          </v-icon>
        </v-btn>
        <v-btn
          color="primary"
          @click="addImage"
        >
          {{ $t('image_add') }}
          <v-icon right>
            mdi-plus
          </v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { TiptapVuetify, Heading, Bold, Italic, Strike, Underline, Code, Paragraph, BulletList, OrderedList, ListItem, Link, Blockquote, HardBreak, HorizontalRule, History } from 'tiptap-vuetify';

import {messages_models_en, messages_models_fr} from '@/translations/models/Campaign/';
import {messages_views_en, messages_views_fr} from '@/translations/views/Campaigns/';

let messages_en = { ...messages_views_en, campaign: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, campaign: { ...messages_models_fr }};

export default {
  components: {
    TiptapVuetify
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  props: {
    body: {
      type: Array,
      default: () => []
    },
    readOnly: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      items: this.body,
      extensions: [
        History,
        Blockquote,
        Link,
        Underline,
        Strike,
        Italic,
        ListItem,
        BulletList,
        OrderedList,
        [Heading, {
          options: {
            levels: [1, 2, 3]
          }
        }],
        Bold,
        Code,
        HorizontalRule,
        Paragraph,
        HardBreak
      ],
    };
  },
  watch: {
    body() {
      this.items = this.body;
    }
  },
  methods: {
    checkItems() {
      if (this.items === null) {
        this.items = [];
        // the following is important => we bind the parent 'body' to the local items
        this.$emit('bodyChanged', this.items );
      }
    },
    addTitle() {
      this.checkItems();
      this.items.push({
        type: 'title',
        value: '',
        position: this.items.length
      });
    },
    addText() {
      this.checkItems();
      this.items.push({
        type: 'text',
        value: '',
        position: this.items.length
      });
    },
    addImage() {
      this.checkItems();
      this.items.push({
        type: 'image',
        id: null,
        src: null,
        newSrc: null,
        preview: null,
        position: this.items.length
      });
    },
    onFileChange(i) {
      if (this.items[i].src) {
        this.items[i].preview = URL.createObjectURL(this.items[i].src);
        URL.revokeObjectURL(this.items[i].src); // free memory
      } else {
        this.items[i].preview = null;
      }
    },
    onNewFileChange(i) {
      if (this.items[i].newSrc) {
        this.items[i].preview = URL.createObjectURL(this.items[i].newSrc);
        URL.revokeObjectURL(this.items[i].newSrc); // free memory
      } else {
        this.items[i].preview = null;
      }
    },
    isFirst(position) {
      return (this.items.reduce((min, item) => item.position < min ? item.position : min, this.items[0].position)) == position;
    },
    isLast(position) {
      return (this.items.reduce((max, item) => item.position > max ? item.position : max, this.items[0].position)) == position;
    },
    up(item) {
      // find upper items
      let upperItems = this.items.filter( element => element.position < item.position );
      // find max position in upper items
      let upperPosition = upperItems.reduce((max, item) => item.position > max ? item.position : max, upperItems[0].position);
      // switch items
      this.switch(item.position,upperPosition);
    },
    down(item) {
      // find lower items
      let lowerItems = this.items.filter( element => element.position > item.position );
      // find min position in lower items
      let lowerPosition = lowerItems.reduce((min, item) => item.position < min ? item.position : min, lowerItems[0].position);
      // switch items
      this.switch(item.position,lowerPosition);
    },
    switch(pos1,pos2) {
      let pos1Key = Object.keys(this.items).find(key => this.items[key].position === pos1);
      let pos2Key = Object.keys(this.items).find(key => this.items[key].position === pos2);
      this.items[pos1Key].position = pos2;
      this.items[pos2Key].position = pos1;
      // sort items
      this.items.sort((a,b) => (a.position > b.position) ? 1 : ((b.position > a.position) ? -1 : 0));
    },
    remove(item) {
      const position = item.position;
      // remove item
      let key = Object.keys(this.items).find(key => this.items[key].position === item.position);
      this.items.splice(key,1);
      // remove 1 position to each lower items
      this.items.forEach(element => {
        if (element.position>position) {
          element.position--;
        }
      });
      // reinit if no element left
      if (this.items.length == 0) {
        this.items = null;
        this.$emit('bodyChanged', this.items );      }
    },
  },
};
</script>