<template>
  <v-card
    outlined
    :loading="loading"
    loader-height="8"
  >
    <v-toolbar flat>
      <!-- title -->
      <v-toolbar-title>
        <h2>{{ $t('relaypointtype_list') }}</h2>
      </v-toolbar-title>
      <v-spacer />

      <!-- buttons -->
      <v-toolbar-items>
        <!-- add item -->
        <v-btn
          text
          color="green"
          :to="addItem()"
          :disabled="loading"
        >
          {{ $t('add') }}
          <v-icon right>
            mdi-plus
          </v-icon>
        </v-btn>

        <!-- refresh -->
        <v-btn
          text
          color="green"
          :loading="loading"
          @click="getItems()"
        >
          {{ $t('refresh') }}
          <v-icon right>
            mdi-table-refresh
          </v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <!-- data table -->
    <v-data-table
      class="row-pointer"
      :headers="headers()"
      :items="items"
      multi-sort
      :options.sync="options"
      :server-items-length="total"
      :footer-props="footerProps"
      @click:row="pushTo"
    >
      <template v-slot:top>
        <!-- filters -->
        <v-container>
          <v-row>
            <v-col
              v-for="onFilter in alwaysOnFilters()"
              :key="onFilter.name"
              :cols="onFilter.cols"
              :sm="onFilter.cols"
              :md="onFilter.cols"
            >
              <filter-choice
                :filter="filter"
                :on-filter="onFilter"
              />
            </v-col>
            <v-col
              v-if="optionalFilters().length>0"
              cols="4"
              sm="4"
              md="4"
            >
              <filter-list 
                v-model="selectedOptionalFilters"
                :list="optionalFilters()"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col
              v-for="onFilter in displayedOptionalFilters()"
              :key="onFilter.name"
              :cols="onFilter.cols"
              :sm="onFilter.cols"
              :md="onFilter.cols"
            >
              <filter-choice
                :filter="filter"
                :on-filter="onFilter"
              />
            </v-col>
          </v-row>
        </v-container>
        <!-- end filters -->
      </template>
      
      <!-- overload the columns data format -->
      <template v-slot:[`item.iconUrl`]="{ item }">
        <v-img 
          v-if="item.iconUrl"
          :src="item.iconUrl"
          aspect-ratio="1"
          height="50"
          contain
        />
      </template>
      <template v-slot:[`item.iconPrivateUrl`]="{ item }">
        <v-img 
          v-if="item.iconPrivateUrl"
          :src="item.iconPrivateUrl"
          aspect-ratio="1"
          height="50"
          contain
        />
      </template>
      <!-- end column overload -->

      <!-- action column -->
      <template v-slot:[`item.actions`]="{ item }">
        <v-btn
          class="ma-2"
          color="primary"
          text
          :to="editItem(item)"
        >
          {{ $t('edit') }}
          <v-icon
            right
          >
            mdi-pencil
          </v-icon>
        </v-btn>
      </template>
      <!-- end action column -->
    </v-data-table>
  </v-card>
</template>

<script>
import ResourceListMixin from '@/mixins/ResourceList';
import PageTitleMixin from '@/mixins/PageTitle';
import DateFormatMixin from '@/mixins/DateFormat';
import FilterList from '@/components/filter/FilterList.vue';
import FilterChoice from '@/components/filter/FilterChoice.vue';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/RelayPointTypes/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_models_en, messages_models_fr} from '@/translations/models/RelayPointType/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, routes: {...messages_routes_en }, rpt: { ...messages_models_en } };
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, routes: {...messages_routes_fr }, rpt: { ...messages_models_fr } };

export default {
  components: {
    FilterList,
    FilterChoice
  },
  // keep the translations (or change it if needed)
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  // keep the mixins
  mixins: [
    ResourceListMixin,
    PageTitleMixin,
    DateFormatMixin
  ],
  data: () => ({
    // define the store module used
    resource: 'rpt',
  }),
  methods: {
    // define the fields (used for guessing headers and filters)
    fields() {
      return [
        { label: this.$t('rpt.id'), name: 'id', filter: { type: 'number', cols: '2', alwaysOn: true} },
        { label: this.$t('rpt.name'), name: 'name', filter: { type: 'text', cols: '2', alwaysOn: true} },
        { label: this.$t('rpt.icon'), name: 'iconUrl', sortable: false },
        { label: this.$t('rpt.iconPrivate'), name: 'iconPrivateUrl', sortable: false },
        { label: this.$t('actions'), name: 'actions', sortable: false },
      ];
    },
  }
};
</script>

<style> 
  @import "../../styles/ResourceList.scss";
</style>