<template>
  <v-card
    outlined
  >
    <!-- data table -->
    <v-data-table
      v-if="item[field]"
      :headers="headers()"
      :items="item[field]"
    >
      <template v-slot:[`item.operatorDate`]="{ item }">
        <span>{{ asSimpleDate(item.operatorDate) }}</span>
      </template>
      <!-- action column -->
      <template v-slot:[`item.actions`]="{ item }">
        <v-btn
          class="ma-2"
          color="warning"
          text
          @click="remove(item)"
        >
          {{ $t('remove') }}
          <v-icon
            right
          >
            mdi-trash
          </v-icon>
        </v-btn>
      </template>
      <!-- end action column -->
    </v-data-table>
  </v-card>
</template>

<script>
import DateFormatMixin from '@/mixins/DateFormat';
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryStructures/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_models_en, messages_models_fr} from '@/translations/models/User';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, operator: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, operator: { ...messages_models_fr }};

export default {
  mixins: [
    DateFormatMixin
  ],
  props: {
    item: {
      type: Object,
      default: () => {}
    },
    field: {
      type: String,
      default: ''
    },
    edit: {
      type: Boolean,
      default: false
    }
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  methods: {
    // define the fields (used for guessing headers and filters)
    fields() {
      let fields = [
        { label: this.$t('operator.givenName'), name: 'givenName' },
        { label: this.$t('operator.familyName'), name: 'familyName' },
        { label: this.$t('operator.email'), name: 'email' },
        { label: this.$t('operator.operatorDate'), name: 'operatorDate' }
      ];
      if (this.edit) fields.push({ label: this.$t('actions'), name: 'actions', sortable: false });
      return fields;
    },
    // get the headers of the datatable (columns)
    headers() {
      return this.fields()
        .filter(function(field) {
          if (field.hidden !== undefined) {
            return false;
          }
          return true;
        })
        .map(field => ({
          text: field.label,
          value: field.name,
          sortable: field.sortable !== undefined ? field.sortable : true
        }));
    },
    remove(item) {
      this.$emit('removeOperator',item.id);
    }
  }
};
</script>