<template>
  <v-card
    outlined
    :loading="loading"
    loader-height="8"
  >
    <v-toolbar flat>
      <!-- title -->
      <v-toolbar-title>
        <h2>{{ $t('solidarystructure_list') }}</h2>
      </v-toolbar-title>
      <v-spacer />

      <!-- buttons -->
      <v-toolbar-items>
        <!-- add item -->
        <v-btn
          v-if="$store.getters['auth/authorized']('structure_create')"
          text
          color="green"
          :to="addItem()"
          :disabled="loading"
        >
          {{ $t('add') }}
          <v-icon right>
            mdi-plus
          </v-icon>
        </v-btn>

        <!-- refresh -->
        <v-btn
          text
          color="green"
          :loading="loading"
          @click="getItems()"
        >
          {{ $t('refresh') }}
          <v-icon right>
            mdi-table-refresh
          </v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <!-- data table -->
    <v-data-table
      class="row-pointer"
      :headers="headers()"
      :items="items"
      multi-sort
      :options.sync="options"
      :server-items-length="total"
      :footer-props="footerProps"
      @click:row="pushTo"
    >
      <template v-slot:top>
        <!-- filters -->
        <v-container>
          <v-row>
            <v-col
              v-for="onFilter in alwaysOnFilters()"
              :key="onFilter.name"
              :cols="onFilter.cols"
              :sm="onFilter.cols"
              :md="onFilter.cols"
            >
              <filter-choice
                :filter="filter"
                :on-filter="onFilter"
              />
            </v-col>
            <v-col
              v-if="optionalFilters().length>0"
              cols="4"
              sm="4"
              md="4"
            >
              <filter-list 
                v-model="selectedOptionalFilters"
                :list="optionalFilters()"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col
              v-for="onFilter in displayedOptionalFilters()"
              :key="onFilter.name"
              :cols="onFilter.cols"
              :sm="onFilter.cols"
              :md="onFilter.cols"
            >
              <filter-choice
                :filter="filter"
                :on-filter="onFilter"
              />
            </v-col>
          </v-row>
        </v-container>
        <!-- end filters -->
      </template>
      
      <!-- action column -->
      <template v-slot:[`item.actions`]="{ item }">
        <v-btn
          v-if="$store.getters['auth/authorized']('structure_update')"
          class="ma-2"
          color="primary"
          text
          :to="editItem(item)"
        >
          {{ $t('edit') }}
          <v-icon
            right
          >
            mdi-pencil
          </v-icon>
        </v-btn>
      </template>
      <!-- end action column -->
    </v-data-table>
  </v-card>
</template>

<script>
import ResourceListMixin from '@/mixins/ResourceList';
import PageTitleMixin from '@/mixins/PageTitle';
import FilterList from '@/components/filter/FilterList.vue';
import FilterChoice from '@/components/filter/FilterChoice.vue';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryStructures/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryStructure/';

let messages_en = { ...messages_views_en, routes: {...messages_routes_en }, s: { ...messages_models_en } };
let messages_fr = { ...messages_views_fr, routes: {...messages_routes_fr }, s: { ...messages_models_fr } };

export default {
  components: {
    FilterList,
    FilterChoice
  },
  // keep the translations (or change it if needed)
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  // keep the mixins
  mixins: [
    ResourceListMixin,
    PageTitleMixin
  ],
  data: () => ({
    // define the store module used
    resource: 'sld_s',
  }),
  methods: {
    // define the fields (used for guessing headers and filters)
    fields() {
      return [
        { label: this.$t('s.id'), name: 'id', filter: { type: 'number', cols: '2', alwaysOn: true} },
        { label: this.$t('s.name'), name: 'name', filter: { type: 'text', cols: '2', alwaysOn: true} },
        { label: this.$t('actions'), name: 'actions', sortable: false },
      ];
    },
  }
};
</script>

<style> 
  @import "../../../styles/ResourceList.scss";
</style>