<template>
  <div  
    :class="!visible ? 'd-none': ''"
  >
    <v-autocomplete
      :value="value"
      multiple
      chips
      small-chips
      deletable-chips
      dense
      outlined
      clearable   
      cache-items
      hide-no-data
      :items="items"
      :loading="loading"
      :search-input.sync="search"
      class="ml-1"
      :item-text="itemText"
      :item-value="itemValue"
      :label="label"
      autocomplete="c1d167acf3a5"
      hide-details
      @input="$emit('input', $event)"
    />
  </div>
</template>

<script>
import debounce from 'lodash/debounce';

export default {
  props: {
    value: {
      type: Array,
      default: () => []
    },
    label: {
      type: String,
      default: ''
    },
    visible: {
      type: Boolean,
      default: true
    },
    itemText: {
      type: String,
      default: 'name'
    },
    itemValue: {
      type: String,
      default: 'id'
    },
    maxResults: {
      type: Number,
      default: 15
    },
    resource: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    model: [],
    search: null,
  }),
  computed: {
    items() {
      return this.$store.getters[this.resource+'/items'];
    },
    loading() {
      return this.$store.getters[this.resource+'/loading'];
    },
  },
  watch: {
    search() {
      this.debouncedSearch();
    },
  },
  created() {
    this.debouncedSearch = debounce(this.getItems, 500);
  },
  methods: {
    getItems() {
      let params = {};
      params[this.itemText] = this.search;
      params['order['+this.itemText+']'] = 'asc';
      params['perPage'] = this.maxResults;
      this.$store.dispatch(this.resource+'/saveFilter', params);
      this.$store.dispatch(this.resource+'/loadItems');
    },
  }  
};
</script>