<template>
  <v-select
    :value="value"
    :items="list"
    outlined
    dense
    small-chips
    deletable-chips
    :menu-props="{ maxHeight: '400' }"
    :label="$t('label')"
    multiple
    autocomplete="dadb989434fa"
    hide-details
    @input="$emit('input', $event)"
  />
</template>

<script>
import {messages_components_en, messages_components_fr} from '@/translations/components/filter/FilterList/';

export default {
  i18n: {
    messages: {
      'en': messages_components_en,
      'fr': messages_components_fr
    }
  },
  props: {
    value: {
      type: Array,
      default: () => []
    },
    list: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
  }),
};
</script>