<template>
  <div class="filter_choice">
    <component
      :is="onFilter.componentType"
      v-if="onFilter.type == 'component'"
      :label="onFilter.label"
      :type="onFilter.type"
      :value="filter[onFilter.name]"
      @change="change"
    />
    <autocomplete-multiple-filter
      v-else-if="onFilter.type == 'autocompleteMultiple'"
      v-model="filter[onFilter.name]"
      :label="onFilter.label"
      :type="onFilter.type"
      :resource="onFilter.resource"
    />
    <autocomplete-filter
      v-else-if="onFilter.type == 'autocomplete'"
      v-model="filter[onFilter.name]"
      :label="onFilter.label"
      :type="onFilter.type"
      :resource="onFilter.resource"
    />
    <select-multiple-filter
      v-else-if="onFilter.type == 'selectMultiple'"
      v-model="filter[onFilter.name]"
      :label="onFilter.label"
      :list="onFilter.values"
    />
    <select-filter
      v-else-if="onFilter.type == 'select'"
      v-model="filter[onFilter.name]"
      :label="onFilter.label"
      :list="onFilter.values"
    />
    <select-multiple-filter
      v-else-if="onFilter.type == 'selectMultipleResource'"
      v-model="filter[onFilter.name]"
      :label="onFilter.label"
      :resource="onFilter.resource"
    />
    <select-filter
      v-else-if="onFilter.type == 'selectResource'"
      v-model="filter[onFilter.name]"
      :label="onFilter.label"
      :resource="onFilter.resource"
    />
    <user-complete-filter
      v-else-if="onFilter.type == 'userCompleteFilter'"
      v-model="filter[onFilter.name]"
      :label="onFilter.label"
      :resource="onFilter.resource"
    />
    <v-menu
      v-else-if="onFilter.type == 'date'"
      v-model="menuDate"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          :value="computedDate"
          :label="onFilter.label"
          readonly
          clearable
          autocomplete="dfd4f9adcaf0"
          v-on="on"
          @click:clear="clearDate"
        >
          <v-icon slot="prepend"> mdi-calendar </v-icon>
        </v-text-field>
      </template>
      <v-date-picker
        v-model="
          filter[
            onFilter.name +
              (onFilter.interval ? '[' + onFilter.interval + ']' : '')
          ]
        "
        no-title
        first-day-of-week="1"
        @input="menuDate = false"
      />
    </v-menu>
    <switch-filter
      v-else-if="onFilter.type == 'switch'"
      v-model="filter[onFilter.name]"
      :label="onFilter.label"
    />

    <text-filter
      v-else
      v-model="
        filter[
          onFilter.name +
            (onFilter.interval ? '[' + onFilter.interval + ']' : '')
        ]
      "
      :label="onFilter.label"
      :type="onFilter.type"
    />
  </div>
</template>

<script>
import TextFilter from "@/components/filter/TextFilter.vue";
import SwitchFilter from "@/components/filter/SwitchFilter.vue";
import AutocompleteFilter from "@/components/filter/AutocompleteFilter.vue";
import AutocompleteMultipleFilter from "@/components/filter/AutocompleteMultipleFilter.vue";
import SelectFilter from "@/components/filter/SelectFilter.vue";
import SelectMultipleFilter from "@/components/filter/SelectMultipleFilter.vue";
import CarpoolRangeFilter from "@/components/filter/CarpoolRangeFilter.vue";
import ProgressionSwitchFilter from "@/components/filter/ProgressionSwitchFilter.vue";
import DateFormatMixin from "@/mixins/DateFormat";
import UserCompleteFilter from "./UserCompleteFilter.vue";
import {
  messages_dates_en,
  messages_dates_fr,
} from "@/translations/views/Dates/";

let messages_en = { dates: { ...messages_dates_en } };
let messages_fr = { dates: { ...messages_dates_fr } };

export default {
  components: {
    TextFilter,
    SwitchFilter,
    AutocompleteFilter,
    AutocompleteMultipleFilter,
    SelectFilter,
    SelectMultipleFilter,
    CarpoolRangeFilter,
    ProgressionSwitchFilter,
    UserCompleteFilter,
  },
  i18n: {
    messages: {
      en: messages_en,
      fr: messages_fr,
    },
  },
  mixins: [DateFormatMixin],
  props: {
    filter: {
      type: Object,
      default: () => {},
    },
    onFilter: {
      type: Object,
      default: () => {},
    },
  },
  data: () => ({
    menuDate: false,
  }),
  computed: {
    computedDate() {
      if (
        this.filter[
          this.onFilter.name +
            (this.onFilter.interval ? "[" + this.onFilter.interval + "]" : "")
        ] !== undefined
      ) {
        return this.asSimpleDate(
          this.filter[
            this.onFilter.name +
              (this.onFilter.interval ? "[" + this.onFilter.interval + "]" : "")
          ]
        );
      }
      return null;
    },
  },
  methods: {
    clearDate() {
      this.filter[
        this.onFilter.name +
          (this.onFilter.interval ? "[" + this.onFilter.interval + "]" : "")
      ] = null;
    },
    // handler for dedicated components events
    change(payload) {
      switch (payload.component) {
        case "CarpoolRangeFilter":
          if (payload.origin || payload.destination) {
            this.filter[this.onFilter.name] = payload.radius;
            // we add the special needed filters
            if (payload.origin) {
              this.filter["origin"] =
                '{"lgt":' +
                payload.origin.longitude +
                ',"lat":' +
                payload.origin.latitude +
                "}";
            }
            if (payload.destination) {
              this.filter["destination"] =
                '{"lgt":' +
                payload.destination.longitude +
                ',"lat":' +
                payload.destination.latitude +
                "}";
            }
          } else {
            this.filter[this.onFilter.name] = null;
            this.filter["origin"] = null;
            this.filter["destination"] = null;
          }
          this.$emit("filterChanged", this.filter);
          break;
        case "ProgressionSwitchFilter":
          this.filter[this.onFilter.name] = payload.value;
          this.$emit("filterChanged", this.filter);
          break;
        default:
          break;
      }
    },
  },
};
</script>
