<template>
  <div  
    :class="!visible ? 'd-none': ''"
  >
    <v-select
      :value="value"
      :items="localList"
      outlined
      dense
      clearable
      :menu-props="{ maxHeight: '400' }"
      :label="label"
      autocomplete="6755ae1d46fe"
      hide-details
      @input="$emit('input', $event)"
    />
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    visible: {
      type: Boolean,
      default: true
    },
    // default list of items
    list: {
      type: Array,
      default: () => []
    },
    // item text field name if resource based list
    itemText: {
      type: String,
      default: 'name'
    },
    // item value field name if resource based list
    itemValue: {
      type: String,
      default: 'id'
    },
    // max results if resource based list
    maxResults: {
      type: Number,
      default: 50
    },
    // ressource alias if resource based list
    resource: {
      type: String,
      default: ''
    }
  },
  computed: {
    // we use a local list to replace the default list for resource based list
    localList() {
      if (this.resource !== '') {
        return this.$store.getters[this.resource+'/items'].map(item => ({
          text: item[this.itemText],
          value: item[this.itemValue].toString()
        }));  
      } else {
        return this.list;
      }
    }
  },
  mounted() {
    // if resource based list, we get the items when the component is mounted
    if (this.resource !== '') {
      this.getItems();
    }
  },
  methods: {
    getItems() {
      let params = {};
      params['order['+this.itemText+']'] = 'asc';
      params['perPage'] = this.maxResults;
      this.$store.dispatch(this.resource+'/saveFilter', params);
      this.$store.dispatch(this.resource+'/loadItems');
    }
  }
};
</script>