<template>
  <div  
    :class="!visible ? 'd-none': ''"
  >
    <v-switch
      dense
      inset
      :label="label"
      class="ml-1"
      :input-value="value"
      hide-details
      @change="$emit('input', $event)"
    />
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: ''
    },
    visible: {
      type: Boolean,
      default: true
    }
  }
};
</script>