<template>
  <analytic />
</template>

<script>
import Analytic from '@/components/analytic/Analytic.vue';

export default {
  components: {
    Analytic
  },
  props: {
  },
  data: () => ({
    
  })
};
</script>