<template>
  <article-edit
    v-if="$route.name == 'article_create' || $route.name == 'article_edit'" 
    :edit="edit"
  />
  <article-show v-else-if="$route.name == 'article_show'" />
  <article-list v-else />
</template>

<script>
import ArticleEdit from '@/components/article/ArticleEdit.vue';
import ArticleShow from '@/components/article/ArticleShow.vue';
import ArticleList from '@/components/article/ArticleList.vue';

export default {
  components: {
    ArticleEdit,
    ArticleShow,
    ArticleList
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    
  })
};
</script>