<template>
  <community-edit
    v-if="$route.name == 'community_create' || $route.name == 'community_edit'" 
    :edit="edit"
  />
  <community-show v-else-if="$route.name == 'community_show'" />
  <community-list v-else />
</template>

<script>
import CommunityEdit from '@/components/community/CommunityEdit.vue';
import CommunityShow from '@/components/community/CommunityShow.vue';
import CommunityList from '@/components/community/CommunityList.vue';

export default {
  components: {
    CommunityEdit,
    CommunityShow,
    CommunityList
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    
  })
};
</script>