<template>
  <editorial-edit
    v-if="$route.name == 'editorial_create' || $route.name == 'editorial_edit'" 
    :edit="edit"
  />
  <editorial-show v-else-if="$route.name == 'editorial_show'" />
  <editorial-list v-else />
</template>

<script>
import EditorialEdit from '@/components/editorial/EditorialEdit.vue';
import EditorialShow from '@/components/editorial/EditorialShow.vue';
import EditorialList from '@/components/editorial/EditorialList.vue';

export default {
  components: {
    EditorialEdit,
    EditorialShow,
    EditorialList
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    
  })
};
</script>