<template>
  <event-edit
    v-if="$route.name == 'event_create' || $route.name == 'event_edit'" 
    :edit="edit"
  />
  <event-show v-else-if="$route.name == 'event_show'" />
  <event-list v-else />
</template>

<script>
import EventEdit from '@/components/event/EventEdit.vue';
import EventShow from '@/components/event/EventShow.vue';
import EventList from '@/components/event/EventList.vue';

export default {
  components: {
    EventEdit,
    EventShow,
    EventList
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    
  })
};
</script>