<template>
  <relay-point-edit
    v-if="$route.name == 'relaypoint_create' || $route.name == 'relaypoint_edit'" 
    :edit="edit"
  />
  <relay-point-show v-else-if="$route.name == 'relaypoint_show'" />
  <relay-point-list v-else />
</template>

<script>
import RelayPointEdit from '@/components/relayPoint/RelayPointEdit.vue';
import RelayPointShow from '@/components/relayPoint/RelayPointShow.vue';
import RelayPointList from '@/components/relayPoint/RelayPointList.vue';

export default {
  components: {
    RelayPointEdit,
    RelayPointShow,
    RelayPointList
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    
  })
};
</script>