<template>
  <solidary-record-edit
    v-if="$route.name == 'solidaryrecord_create' || $route.name == 'solidaryrecord_edit'" 
    :edit="edit"
  />
  <solidary-record-show v-else-if="$route.name == 'solidaryrecord_show'" />
  <solidary-record-list v-else />
</template>

<script>
import SolidaryRecordEdit from '@/components/solidary/solidaryRecord/SolidaryRecordEdit.vue';
import SolidaryRecordShow from '@/components/solidary/solidaryRecord/SolidaryRecordShow.vue';
import SolidaryRecordList from '@/components/solidary/solidaryRecord/SolidaryRecordList.vue';

export default {
  components: {
    SolidaryRecordEdit,
    SolidaryRecordShow,
    SolidaryRecordList
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    
  })
};
</script>