<template>
  <solidary-volunteer-edit
    v-if="$route.name == 'solidaryvolunteer_create' || $route.name == 'solidaryvolunteer_edit'" 
    :edit="edit"
  />
  <solidary-volunteer-show v-else-if="$route.name == 'solidaryvolunteer_show'" />
  <solidary-volunteer-list v-else />
</template>

<script>
import SolidaryVolunteerEdit from '@/components/solidary/solidaryVolunteer/SolidaryVolunteerEdit.vue';
import SolidaryVolunteerShow from '@/components/solidary/solidaryVolunteer/SolidaryVolunteerShow.vue';
import SolidaryVolunteerList from '@/components/solidary/solidaryVolunteer/SolidaryVolunteerList.vue';

export default {
  components: {
    SolidaryVolunteerEdit,
    SolidaryVolunteerShow,
    SolidaryVolunteerList
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    
  })
};
</script>