<template>
  <div
    v-if="!readOnly"
    class="date_field"
  >
    <v-menu
      v-model="menuDate"
      :disabled="disabled"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          :disabled="disabled"
          :value="computedDate"
          :label="label"
          readonly
          :clearable="field.nullable"
          autocomplete="a40429f09587"
          :rules="rules"
          :hide-details="rules.length==0"
          v-on="on"
          @click:clear="clearDate"
        >
          <v-icon
            v-if="showIcon"
            slot="prepend"
          >
            {{ icon }}
          </v-icon>
        </v-text-field>
      </template>
      <v-date-picker
        v-if="showDate"
        v-model="date"
        no-title
        :min="minDate"
        :max="maxDate"
        first-day-of-week="1"
        @input="switchTime"
      />
      <v-time-picker
        v-if="showTime && menuDate"
        v-model="time"
        format="24hr"
        :min="getMinTime"
        :max="getMaxTime"
        no-title
        :allowed-minutes="allowedStep"
        :close-on-content-click="false"
        @click:minute="setTime"
      />
    </v-menu>
  </div>
  <div
    v-else
    class="date_field"
  >
    <v-text-field
      :value="computedDate"
      :label="field.label"
      :prepend-icon="showIcon ? icon : null"
      readonly
      :hide-details="hideDetails"
    />
  </div>
</template>

<script>
import DateFormatMixin from '@/mixins/DateFormat';
import moment from 'moment';

import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
let messages_en = { dates: {...messages_dates_en } };
let messages_fr = { dates: {...messages_dates_fr } };

export default {
  components: {
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    item: {
      type: Object,
      default: () => {}
    },
    label: {
      type: String,
      default: ''
    },
    field: {
      type: Object,
      default: () => {}
    },
    type: {
      type: String,
      default: 'date'
    },
    minDate: {
      type: String,
      default: null
    },
    maxDate: {
      type: String,
      default: null
    },
    minTime: {
      type: String,
      default: null
    },
    maxTime: {
      type: String,
      default: null
    },
    rules: {
      type: Array,
      default: () => []
    },
    readOnly: {
      type: Boolean,
      default: false
    },
    hideDetails: {
      type: Boolean,
      default: false
    },
    timePrecision: {
      type: Number,
      default: 5
    },
    includeTime: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String,
      default: 'mdi-calendar'
    },
    showIcon: {
      type: Boolean,
      default: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
    utc: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      menuDate:false,
      showDate:false,
      showTime:false,
      date:this.getDate(),
      time:this.getTime()
    };
  },
  computed: {
    computedDate() {
      if (this.item[this.field.name] !== undefined) {
        switch (this.type) {
        case 'date':
          return this.asSimpleDate(this.date ? this.date : this.item[this.field.name]);
        case 'time':
          return this.item[this.field.name];
        case 'hourMinute':
          return this.asHourMinute(this.item[this.field.name],this.utc);
        case 'weekdayDate':
          return this.asWeekdayDate(this.item[this.field.name],this.$i18n.locale);
        default:
          return this.asDateTime(this.item[this.field.name], this.utc);
        }
      }
      return null;
    },
    allowedStep: function () {
      return m => m % this.timePrecision === 0;
    },
    getMinTime() {
      if (this.minDate) {
        return moment(this.date).isSame(moment(this.minDate)) ? this.minTime : null;
      }
      return this.minTime;
    },
    getMaxTime() {
      if (this.maxDate) {
        return moment(this.date).isSame(moment(this.maxDate)) ? this.maxTime : null;
      }
      return this.maxTime;
    }
  },
  created() {
    switch (this.type) {
    case 'date':
      this.showDate = true;
      break;
    case 'time':
      this.showTime = true;
      break;
    default:
      this.showDate = true;
    }
  },
  methods: {
    getDate() {
      if (this.item) {
        return this.asIsoDate(this.item[this.field.name]);
      }
      return null;
    },
    getTime() {
      if (this.item) {
        return this.asHourMinute(this.item[this.field.name], this.utc);
      }
      return null;
    },
    clearDate() {
      this.item[this.field.name] = null;
    },
    switchTime() {
      if (this.type == 'date') {
        this.menuDate = false;
        this.formatDate();
      } else {
        this.showDate = false;
        this.showTime = true;
      }
    },
    setTime() {
      this.menuDate = false;
      this.showDate = this.type !== 'time';
      this.showTime = this.type === 'time';
      this.formatDate();
    },
    formatDate() {
      if (this.type == 'date') {
        this.item[this.field.name] = this.includeTime ? this.asIsoDateTime(this.date+'T00:00:00') : this.asIsoDate(this.date);
      } else if (this.type == 'time') {
        this.item[this.field.name] = this.time;
      } else {
        this.item[this.field.name] = this.asIsoDateTime(this.date+'T'+this.time+':00', this.utc);
      }
    }
  }
};
</script>