<template>
  <div>
    <v-row>
      <v-textarea
        rows="3"
        v-model="getDisplayedAddress"
        :disabled="$store.state.u.residenceAddressDisabled"
        :label="label"
        :prepend-icon="prependIcon"
      />
      <v-btn
        color="info"
        small
        @click="dialogDisplay = true"
      >
        <v-icon class="mr-1">mdi-home-edit</v-icon>
        {{ $t('homeAddressEditBtn') }}
      </v-btn>
    </v-row>
    <v-dialog
      v-model="dialogDisplay"
      persistent
      max-width="500"
    >
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">{{ prependIcon }}</v-icon>
          {{ label }}
        </v-card-title>
        <v-card-text>
          <geo-complete-field
            required="true"
            :label="`${label} *`"
            @address-changed="addressChanged"
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="success"
            :disabled="!newAddress"
            @click="validateAddress()"
          >
            {{ $t('homeAddressEditDialog.btns.valid') }}
          </v-btn>
          <v-btn
            color="error"
            outlined
            @click="dialogDisplay = false"
          >
            {{ $t('homeAddressEditDialog.btns.cancel') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import getEnv from '@/utils/env';
import GeoCompleteField from '@/components/field/GeoCompleteField';
import {messages_models_en, messages_models_fr} from '@/translations/models/User/';

export default {
    components: {
        GeoCompleteField
    },
    i18n: {
    messages: {
      'en': messages_models_en,
      'fr': messages_models_fr
    }
  },
    props: {
        prependIcon: {
          type: String,
          default: null
        },
        value: {
          type: Object,
          default: () => {}
        },
    },
    data: () => {
      return {
        dialogDisplay: false,
        label: null,
        newAddress: null
      }
    },
    computed: {
      getDisplayedAddress() {
        return this.isRZPInstance ? this.value.postalAddress : `${this.value.homeAddress.addressLocality} (${this.value.homeAddress.postalCode})`;
      },
      isRZPInstance()
      {
        return true === getEnv('VUE_APP_HITCH_HIKING') ? true : false;
      }
    },
    watch: {
      value: {
        handler(n, o) {
          this.label = n && this.isRZPInstance ? this.$t('residenceAddress') : this.$t('homeAddress');
        },
        immediate: true
      }
    },
    methods: {
      addressChanged(address) {
        if (address) {
          this.newAddress = address;
        }
      },
      validateAddress() {
        switch (this.isRZPInstance) {
          case true:
            this.value.postalAddress = `${this.value.givenName} ${this.value.familyName}\n${this.newAddress.houseNumber} ${this.newAddress.street}\n${this.newAddress.postalCode} ${this.newAddress.addressLocality}`;   
            break;
        
          default:
            this.value.homeAddress = {...this.newAddress};
            break;
        }

        this.newAddress = null;
        this.dialogDisplay = false;
        this.$store.commit('u/DISABLED_RESIDENCE_ADDRESS', false);
      }
    }
}
</script>

<style></style>
