<template>
  <v-container v-if="roles.length>0">
    <role-choice
      v-for="(roleTerritory, index) in localRolesTerritory"
      :id="index"
      :key="index+'.'+roleTerritory.role+'.'+roleTerritory.territory"
      :role="roleTerritory.role"
      :territory="roleTerritory.territory"
      :roles="roles"
      :removable="index>0"
      :read-only="readOnly"
      @remove="remove"
      @change="change"
    />
    <v-row
      v-if="!readOnly"
    >
      <v-col cols="2">
        <v-btn
          color="success"
          @click="add()"
        >
          {{ $t('add') }}
          <v-icon right>
            mdi-plus
          </v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import RoleChoice from '@/components/field/RoleChoice';
import {messages_components_en, messages_components_fr} from '@/translations/components/field/RoleChoice/';
import cloneDeep from 'lodash/cloneDeep';

export default {
  components: {
    RoleChoice
  },
  i18n: {
    messages: {
      'en': messages_components_en,
      'fr': messages_components_fr
    }
  },
  props: {
    field: {
      type: String,
      default: null
    },
    item: {
      type: Object,
      default: () => {}
    },
    rolesTerritory: {
      type: Array,
      default: () => []
    },
    readOnly: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      // we clone the rolesTerritory to be sure the localRolesTerritory is not a simple reference
      localRolesTerritory: this.rolesTerritory !== null ? cloneDeep(this.rolesTerritory) : []
    };
  }, 
  computed: {
    roles() {
      return this.$store.getters['ro/items'];
    }
  },
  watch: {
    // when rolesTerritory prop change
    rolesTerritory() {
      this.localRolesTerritory = this.rolesTerritory !== null ? cloneDeep(this.rolesTerritory) : [];
    }
  },
  created() {
    this.getRoles();
  },
  methods: {
    getRoles() {
      this.$store.dispatch('ro/loadItems');
    },
    add() {
      this.localRolesTerritory.push({ role: null, territory: null });
    },
    change(roleTerritory) {
      this.localRolesTerritory.forEach( (element, index) => {
        if (roleTerritory.id == index) {
          element.role = roleTerritory.role;
          element.territory = roleTerritory.territory;
        }
      });
      this.$emit('change',{
        component: 'RolesChoice',
        value: cloneDeep(this.localRolesTerritory)
      });
    },
    remove(id) {
      this.localRolesTerritory.splice(id,1);
      this.$emit('change',{
        component: 'RolesChoice',
        value: cloneDeep(this.localRolesTerritory)
      });
    }
  }
};
</script>