<template>
  <v-container>
    <v-row>
      <v-col
        cols="4"
        sm="4"
        md="4"
      >
        <v-select
          v-if="!readOnly"
          v-model="localRole"
          :items="localRoles"
          item-text="id"
          item-value="value"
          :menu-props="{ maxHeight: '400' }"
          :label="this.localRole ? $t(localRole) : $t('role')"
          autocomplete="fba5a1994c36"
          prepend-icon="mdi-account-tie"
          @change="change"
        />
        <v-text-field
          v-else
          :value="$t(localRole)"
          :label="$t('role')"
          prepend-icon="mdi-account-tie"
          readonly
        />
      </v-col>
      <v-col
        cols="4"
        sm="4"
        md="4"
      >
        <territory-complete-field
          v-model="localTerritory"
          :label="$t('territory')"
          :read-only="readOnly"
        />
      </v-col>
      <v-col 
        v-if="removable && !readOnly"
        cols="2"
      >
        <v-btn
          color="warning"
          @click="remove()"
        >
          {{ $t('remove') }}
          <v-icon right>
            mdi-delete
          </v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import TerritoryCompleteField from '@/components/field/TerritoryCompleteField';
import {messages_components_en, messages_components_fr} from '@/translations/components/field/RoleChoice/';

export default {
  components: {
    TerritoryCompleteField
  },
  i18n: {
    messages: {
      'en': messages_components_en,
      'fr': messages_components_fr
    }
  },
  props: {
    id: {
      type: Number,
      default: 0
    },
    role: {
      type: Number,
      default: null
    },
    territory: {
      type: Number,
      default: null
    },
    roles: {
      type: Array,
      default: () => []
    },
    removable: {
      type: Boolean,
      default: true
    },
    readOnly: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      localRole: this.role,
      localTerritory: this.territory
    };
  },
  computed: {
    localRoles() {
      // computed roles to change the id of the role from a number to a translated text
      return this.roles.map( (item) =>({
        id: this.$t(item.id),
        value: item.value
      }));
    }
  }, 
  watch: {
    localTerritory() {
      if (this.localRole !== undefined && this.localRole !== null) {
        // emit event only if role is set
        this.change();
      }
    }
  },
  methods: {
    change() {
      this.$emit('change', {
        id: this.id,
        role: this.localRole,
        territory: this.localTerritory
      });
    },
    remove() {
      this.$emit('remove', this.id);
    }
  }
};
</script>