<template>
  <div>
    <v-container v-if="item[field].length>0">
      <v-row
        v-for="(subject, index) in item[field]"
        :key="index" 
      >
        <v-col cols="6">
          <v-text-field
            v-model="item[field][index].label"
            :label="$t('label')+' *'"
            :readonly="readOnly"
            :hint="!readOnly && !item[field][index].removable ? $t('used') : null"
            :rules="[ rules ]"
            :counter="!readOnly ? 255 : null"
            :color="!readOnly && !item[field][index].removable ? 'warning' : ''"
          />
        </v-col>
        <v-col 
          v-if="!readOnly"
          cols="2"
        >
          <v-btn
            color="warning"
            :disabled="!item[field][index].removable"
            @click="remove(index)"
          >
            {{ $t('remove') }}
            <v-icon right>
              mdi-delete
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <v-container>
      <v-row
        v-if="!readOnly"
      >
        <v-col cols="2">
          <v-btn
            color="success"
            @click="add()"
          >
            {{ $t('add') }}
            <v-icon right>
              mdi-plus
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import {messages_components_en, messages_components_fr} from '@/translations/components/field/SolidaryStructureSubjectsChoice/';

export default {
  i18n: {
    messages: {
      'en': messages_components_en,
      'fr': messages_components_fr
    }
  },
  props: {
    field: {
      type: String,
      default: null
    },
    item: {
      type: Object,
      default: () => {}
    },
    readOnly: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    rules(val) {
      if (val === null || val === undefined || val === '') {
        return this.$t('labelRequired');
      }
      if (val && val.length > 255) {
        return this.$t('labelLimit');
      }
      return true;
    },
    add() {
      this.item[this.field].push({
        label: null,
        removable: true
      });
    },
    remove(id) {
      this.item[this.field].splice(id,1);
    }
  }
};
</script>