<template>
  <div>
    <v-row
      v-if="showVolunteerData"
      align="center"
    >
      <v-col cols="4">
        <v-chip
          class="mr-2"
          color="primary"
          label
          x-large
        >
          <v-avatar left>
            <v-img 
              v-if="item.avatar"
              :src="item.avatar"
            />
            <v-icon
              v-else
            >
              mdi-account-circle-outline
            </v-icon>
          </v-avatar>
          {{ item.givenName }} {{ item.familyName }}
        </v-chip>
        <v-chip
          v-if="item.telephone"
          label
          x-large
        >
          <v-avatar left>
            <v-icon>
              mdi-phone
            </v-icon>
          </v-avatar>
          {{ item.telephone }}
        </v-chip>
      </v-col>
    </v-row>
    <v-row>
      <v-col :cols="cols">
        <v-data-table
          dense
          hide-default-footer
          :headers="headers"
          :items="item.availabilities"
          disable-sort
          class="justify-center"
        >
          <template v-slot:[`item.day`]="{ item }">
            {{ $t(item.day) }}
          </template>
          <template
            v-slot:[`item.mAvailable`]="{ item }"
            class="justify-center"
          >
            <v-checkbox
              v-model="item.mAvailable"
              color="success"
              :readonly="readOnly"
            />
          </template>
          <template v-slot:[`item.aAvailable`]="{ item }">
            <v-checkbox
              v-model="item.aAvailable"
              color="success"
              :readonly="readOnly"
            />
          </template>
          <template v-slot:[`item.eAvailable`]="{ item }">
            <v-checkbox
              v-model="item.eAvailable"
              color="success"
              :readonly="readOnly"
            />
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import DateFormatMixin from '@/mixins/DateFormat';
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryVolunteers/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryVolunteer/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, s: { ...messages_models_fr }};

export default {
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    field: {
      type: String,
      default: null
    },
    item: {
      type: Object,
      default: () => {}
    },
    readOnly: {
      type: Boolean,
      default: false
    },
    showVolunteerData: {
      type: Boolean,
      default: true
    },
    cols:{
      type: Number,
      default: 6
    }
  },
  computed:{
    headers() {
      let headers = [{ text: '', value: 'day' }];
      if (this.item) {
        headers.push(
          { text: this.$t('mAvailability', { minTime: this.asHourMinute(this.item.mMinTime, true), maxTime: this.asHourMinute(this.item.mMaxTime, true)}), value: 'mAvailable', align: 'center' },
          { text: this.$t('aAvailability', { minTime: this.asHourMinute(this.item.aMinTime, true), maxTime: this.asHourMinute(this.item.aMaxTime, true)}), value: 'aAvailable', align: 'center' },
          { text: this.$t('eAvailability', { minTime: this.asHourMinute(this.item.eMinTime, true), maxTime: this.asHourMinute(this.item.eMaxTime, true)}), value: 'eAvailable', align: 'center' }
        );
      }
      return headers;
    }      
  }
};
</script>