<template>
  <div class="switch_field">
    <v-switch
      :input-value="value"
      :label="label"
      @change="change"
    >
      <template v-slot:label>
        {{ label }} 
        <v-tooltip
          v-if="tooltip"
          top
        >
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              class="ml-2"
              v-bind="attrs"
              v-on="on"
            >
              mdi-help-circle
            </v-icon>
          </template>
          <span>{{ tooltip }}</span>
        </v-tooltip>
      </template>
    </v-switch>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: null
    },
    label: {
      type: String,
      default: ''
    },
    tooltip: {
      type: String,
      default: null
    }
  },
  methods: {
    change(val) {
      this.$emit('input',val);
    }
  }
};
</script>