<template>
  <div class="autocomplete_field">
    <v-autocomplete
      v-if="!readOnly"
      :value="value"
      hide-no-data
      :items="items"
      :loading="loading"
      :search-input.sync="search"
      class="ml-1"
      item-text="name"
      item-value="id"
      :label="label"
      prepend-icon="mdi-map"
      autocomplete="faab72487f0d"
      @input="$emit('input', $event)"
    />
    <v-text-field
      v-else-if="value"
      :label="label"
      :value="result"
      prepend-icon="mdi-map"
      readonly
    />
  </div>
</template>

<script>
import debounce from 'lodash/debounce';
import TerritoryService from '@/services/territory.service';

export default {
  props: {
    value: {
      type: Number,
      default: null
    },
    label: {
      type: String,
      default: ''
    },
    maxResults: {
      type: Number,
      default: 15
    },
    readOnly: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      loading: false,
      search: null,
      items: [],
      result: null
    };
  },
  watch: {
    search(val) {
      if (val !== null && this.search !== this.result) {
        this.debouncedSearch();
      }
    }
  },
  created() {
    this.debouncedSearch = debounce(this.getItems, 500);
    this.getInitItem();
  },
  methods: {
    getInitItem() {
      if (this.value !== null && this.search === null) {
        this.loading = true;
        TerritoryService.getItem(this.value).then(response => {
          this.items = [response];
          this.result = response.name;
          this.loading = false;
        }).catch( () => {
          this.loading = false;
        });
      }
    },
    getItems() {
      if (this.search !== null) {
        this.loading = true;
        let params = {
          sortBy: 'name',
          sortDesc: false,
          page: 1,
          perPage: this.maxResults,
          filter: {}
        };
        params.filter.name = this.search;
        TerritoryService.getItems(params.sortBy, params.sortDesc, params.page, params.perPage, params.filter).then(response => {
          this.items = response.items;
          this.loading = false;
        }).catch( () => {
          this.loading = false;
        });
      }
    }
  }  
};
</script>