<template>
  <div>
    <v-card
      v-if="!currentSource || !currentSource.length"
      flat
    >
      <v-file-input
        v-model="newFile"
        ref="fileUpload"
        show-size
        persistent-hint
        :accept="acceptedMimeTypes"
        :hint="hint"
        :label="label"
        :prepend-icon="prependIcon"
        :rules="rules"
        @change="onFileChange"
      />
    </v-card>
    <v-card
      v-else
      flat
    >
      <v-btn
        block
        color="primary"
        @click="checkIfModal"
      >
        <v-icon>{{ prependIcon }}</v-icon>
        {{ source[0].filename }}
      </v-btn>          
    </v-card>
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card>
        <v-card-title class="text-h5">
          {{ $t('popup.title') }}
        </v-card-title>
        <v-card-text>{{ popUpTextOnClick }}</v-card-text>
        <v-card-actions v-if="popUpTextAccept || popUpTextCancel">
          <v-spacer />

          <v-btn
            v-if="popUpTextCancel"
            color="red darken-1"
            text
            @click="dialog = false"
          >
            {{ popUpTextCancel }}
          </v-btn>

          <v-btn
            v-if="popUpTextAccept"
            color="green darken-1"
            text
            @click="chooseNewFile"
          >
            {{ popUpTextAccept }}
          </v-btn>
        </v-card-actions>        
      </v-card>
    </v-dialog>    
  </div>
</template>

<script>
import {messages_components_en, messages_components_fr} from '@/translations/components/field/UploadFileField/';

export default {
  i18n: {
    messages: {
      'en': messages_components_en,
      'fr': messages_components_fr
    }
  },
  props: {
    acceptedMimeTypes: {
      type: String,
      default: null
    },
    hint: {
      type: String,
      default: null
    },
    source: {
      type: Array,
      default: null
    },
    label:{
      type: String,
      default: ''
    },
    prependIcon:{
      type: String,
      default: ''
    },
    rules: {
      type: Array,
      default: () => []
    },
    popUpTextOnClick: {
      type: String,
      default: null
    },
    popUpTextAccept: {
      type: String,
      default: null
    },
    popUpTextCancel: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      currentSource: this.source,
      newFile:null,
      dialog: false
    };
  },
  watch: {},
  methods: {
    checkIfModal(){
      if(this.popUpTextOnClick){
        this.dialog = true;
      }
      else{
        this.currentSource = null;
      }
    },
    chooseNewFile(){
      this.currentSource = null;
      this.dialog = false;
      this.$nextTick(function () {
        this.$refs.fileUpload.$refs.input.click();
      });
    },
    onFileChange() {
      this.$emit('changed',this.newFile);
    }
  }
};
</script>