<template>
  <v-container>
    <v-row>
      <v-col
        :cols="readOnly ? 10 : 12"
      >
        <v-text-field
          :label="label"
          :readonly="readOnly"
          prepend-icon="mdi-web"
          :rules="rules"
          :value="value"
          @input="$emit('input', $event)"
        />
      </v-col>
      <v-col 
        v-if="readOnly"
        cols="2"
      >
        <v-btn
          color="primary"
          :href="value"
          :disabled="!value"
          target="_blank"
        >
          <v-icon>
            mdi-open-in-new
          </v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    rules: {
      type: Array,
      default: () => []
    },
    readOnly: {
      type: Boolean,
      default: false
    },
  },
};
</script>