<template>
  <div class="solidaryvolunteer">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn 
          v-if="item"
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="item"
        >
          <h2>
            {{ $t('solidaryvolunteer_show') }} 
            <v-chip
              class="ma-2"
              outlined
              color="primary"
              label
            >
              <v-avatar left>
                <v-img 
                  v-if="item.avatar"
                  :src="item.avatar"
                />
                <v-icon
                  v-else
                >
                  mdi-account-circle-outline
                </v-icon>
              </v-avatar>
              {{ item.givenName }} {{ item.familyName }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <!-- edit item -->
          <v-btn
            v-if="item && $store.getters['auth/authorized']('solidary_volunteer_update')"
            text
            color="green"
            :to="editItem()"
          >
            {{ $t('edit') }}
            <v-icon right>
              mdi-pencil
            </v-icon>
          </v-btn>
          <!-- refresh -->
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="hardRefresh()"
          >
            {{ $t('refresh') }}
            <v-icon>
              mdi-refresh
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail tabs -->
      <v-container
        v-if="item"
      >
        <v-row>
          <v-col
            cols="12"
          >
            <v-card
              flat
            >
              <!-- tabs list -->
              <v-tabs
                v-if="tabs().length>0"
                v-model="mtab"
              >
                <v-tab
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  {{ tab.label }}
                </v-tab>
              </v-tabs>
              <v-divider />

              <!-- tabs content -->
              <v-tabs-items 
                v-model="mtab"
              >
                <v-tab-item
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  <!-- special fields, handled by their dedicated component -->
                  <component 
                    :is="tab.component"
                    :field="tab.name"
                    :user-id="item.userId"
                    :item="item"
                    :read-only="true"
                  />
                </v-tab-item>
              </v-tabs-items>
            </v-card> 
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import FieldChoice from '@/components/field/FieldChoice.vue';
import ResourceShowMixin from '@/mixins/ResourceShow';
import PageTitleMixin from '@/mixins/PageTitle';
import DateFormatMixin from '@/mixins/DateFormat';
import SolidaryVolunteerProofs from '@/components/solidary/solidaryVolunteer/SolidaryVolunteerProofs.vue';
import SolidaryVolunteerAvailability from '@/components/field/SolidaryVolunteerAvailability.vue';
import SolidaryVolunteerSchedule from '@/components/solidary/solidaryVolunteer/SolidaryVolunteerSchedule.vue';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryVolunteers/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryVolunteer/';
import {messages_models_en as messages_models_user_en, messages_models_fr as messages_models_user_fr} from '@/translations/models/User/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, routes: {...messages_routes_en }, s: { ...messages_models_en }, user: { ...messages_models_user_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, routes: {...messages_routes_fr }, s: { ...messages_models_fr }, user: { ...messages_models_user_fr }};

export default {
  components: {
    FieldChoice,
    SolidaryVolunteerProofs,
    SolidaryVolunteerAvailability,
    SolidaryVolunteerSchedule
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceShowMixin,
    PageTitleMixin,
    DateFormatMixin
  ],
  data() {
    return {
      // define the store module used
      resource: 'sld_v'
    };
  },
  methods: {
    tabs() {
      return [
        {
          label: this.$t('s.tab.availability'), id: 1, 
          component: 'SolidaryVolunteerAvailability',
          name: 'availabilities'
        },
        // schedule tab
        {
          label: this.$t('s.tab.schedule'), id: 2, 
          component: 'SolidaryVolunteerSchedule'
        },
        // eligibility tab
        {
          label: this.$t('s.tab.eligibility'), id: 3, 
          component: 'SolidaryVolunteerProofs'
        }
      ];
    }
  }
};
</script>