<template>
  <v-card
    outlined
    :loading="loading"
    loader-height="8"
  >
    <v-toolbar flat>
      <!-- title -->
      <v-toolbar-title>
        <h2>
          {{ $t('scope') }} 
        </h2>
      </v-toolbar-title>
      <v-spacer />

      <!-- buttons -->
      <v-toolbar-items>
        <!-- other dashboards -->
        <v-btn
          v-if="logged == 1 && type == 1"
          text
          color="green"
          :disabled="loading"
          :href="scopeDashboards"
          target="_blank"
        >
          {{ $t('otherDashboards') }}
          <v-icon right>
            mdi-chart-line
          </v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-card-text>
      <v-alert
        v-if="!loading && logged == 2"
        border="left"
        type="error"
        dark
      >
        {{ $t('loginError') }}
      </v-alert>
      <iframe
        v-if="!loading && logged != 2"
        name="scopeFrame"
        :src="scopeUrl"
        height="500px"
        width="100%"
        title="Scope"
      />
    </v-card-text>
  </v-card>
</template>

<script>
import getEnv from '@/utils/env';
import {messages_components_en, messages_components_fr} from '@/translations/components/Dashboard/';
import ScopeService from '@/services/scope.service';
import CommunityService from '@/services/community.service';

export default {
  name: 'Dashboard',
  i18n: {
    messages: {
      'en': messages_components_en,
      'fr': messages_components_fr
    }
  },
  props: {
    type: {
      type: Number,
      default: 1
    },
    maxCommunities: {
      type: Number,
      default: 5
    },
  },
  data() {
    return {
      loading: true,
      logged: 0,
      scopeBaseUrl: this.type == 1 ? 
        getEnv('VUE_APP_SCOPE_URL')+getEnv('VUE_APP_SCOPE_URL_DASHBOARD')+getEnv('VUE_APP_SCOPE_DASHBOARD_GENERAL_ID')+'?embed=true' : 
        getEnv('VUE_APP_SCOPE_URL')+getEnv('VUE_APP_SCOPE_URL_DASHBOARD')+getEnv('VUE_APP_SCOPE_DASHBOARD_COMMUNITY_ID') +'?embed=true',
      scopeDashboards: getEnv('VUE_APP_SCOPE_URL')+getEnv('VUE_APP_SCOPE_URL_DASHBOARDS'),
      communities: []
    };
  },
  computed: {
    scopeUrl() {
      if (this.type == 1) {
        return this.scopeBaseUrl;
      } else if (this.type == 2) {
        return this.scopeBaseUrl+this.filters;
      }
      return null;
    },
    filters() {
      if (!this.communities.length) return '';

      const filterPattern = this.communities
        .slice(0, this.maxCommunities)
        .map((c) => `( match_phrase:(community_name.keyword:'${encodeURI(c)}') )`)
        .join(',');

      const filters = `&_g=
        (
          filters:!
          (
            (
              '$state':(store:globalState),
              query:
              (
                bool:
                (
                  minimum_should_match:1,
                  should:!
                  (
                    ${filterPattern}
                  )
                )
              )
            )
          ),
          refreshInterval:(pause:!t,value:0),
          time:(from:now-1y,to:now)
        )`;
      return filters.replace(/[\n\t ]+/g, '');
    }
  },
  mounted() {
    ScopeService.auth()
      .then( () => {
        if (this.type == 2) {
          return this.getModeratedCommunities();
        }
        return Promise.resolve();
      })
      .then( () => {
        this.logged = 1;
        this.loading = false;
        return Promise.resolve();
      })
      .catch( () => {
        this.logged = 2;
        this.loading = false;
      });
  },
  methods: {
    getModeratedCommunities() {
      CommunityService.getModerated(1,5)
        .then(response => {
          this.communities = response.items.map(community => community.name);
          return Promise.resolve();
        })
        .catch( () => Promise.reject());
    }
  }
};
</script>