<template>
  <div>
    <v-card
      v-if="proofs.length==0"
    >
      <v-card-title>
        {{ $t('identity.noIdentityProof') }}
      </v-card-title>
    </v-card>
      
    <v-card 
      v-for="proof in proofs"
      :key="proof.id"
      class="mt-2"
      outlined
      :loading="loading && id == proof.id"
      loader-height="8"
    >
      <v-card-title>
        <v-icon 
          left
          class="mr-10"
        >
          mdi-smart-card
        </v-icon>
        {{ $t('identity.createdDate') }}{{ asDateTime(proof.createdDate) }}
        <v-chip
          :color="getProofColor(proof.status)"
          outlined
          label
          class="ml-10"
        >
          {{ getStatus(proof.status) }}
          <v-icon
            right
          >
            {{ getProofIcon(proof.status) }}
          </v-icon>
        </v-chip>
      </v-card-title>
      <v-card-text>
        <v-container
          v-if="edit && proof.status == 1"
        >
          <v-row>
            <v-col 
              cols="6"
            >
              <v-alert
                outlined
                type="warning"
              >
                {{ $t('identity.information') }}
              </v-alert>
            </v-col>
          </v-row>
        </v-container>
        <v-chip
          v-if="proof.status != 1"
          outlined
          label
          large
          class="ml-10"
        >
          {{ proof.originalName }}
        </v-chip>
        <v-btn
          v-else
          class="ml-10"
          color="primary"
          :href="proof.fileName"
          target="_blank"
        >
          {{ proof.originalName }}
          <v-icon>
            mdi-download
          </v-icon>
        </v-btn>
        <v-chip
          outlined
          label
          large
          class="ml-10"
        >
          <v-icon
            left
          >
            mdi-weight
          </v-icon>
          {{ proof.fileSize }}
        </v-chip>
        <v-chip
          v-if="proof.status == 2"
          outlined
          label
          large
          class="ml-10"
        >
          {{ $t('identity.acceptedDate', { acceptedDate: asDateTime(proof.acceptedDate), validator: proof.validator}) }}
        </v-chip>
        <v-chip
          v-if="proof.status == 3"
          outlined
          label
          large
          class="ml-10"
        >
          {{ $t('identity.rejectedDate', { rejectedDate: asDateTime(proof.refusedDate), validator: proof.validator}) }}
        </v-chip>
        <v-chip
          v-if="proof.status == 4"
          outlined
          label
          large
          class="ml-10"
        >
          {{ $t('identity.canceledDate', { canceledDate: asDateTime(proof.updatedDate)}) }}
        </v-chip>
      </v-card-text>
      <v-card-actions
        v-if="edit && $store.getters['auth/authorized']('user_update')"
      >
        <v-btn
          v-if="proof.status === 1"
          color="success"
          :loading="loading && validate"
          :disabled="loading"
          text
          @click="validateProof(proof.id,true)"
        >
          {{ $t('identity.validateProof') }}
        </v-btn>
        <v-btn
          v-if="proof.status === 1"
          color="error"
          :loading="loading && !validate"
          :disabled="loading"
          text
          @click="validateProof(proof.id,false)"
        >
          {{ $t('identity.rejectProof') }}
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-card
      v-if="canAddProofManualy && edit && $store.getters['auth/authorized']('user_update')"
    >
    <v-card-actions>
        <v-btn
          color="success"
          :loading="loading"
          :disabled="loading"
          @click="validateExternalProof"
        >
        {{ $t('identity.manualIdentityValidation') }}
        </v-btn>
      </v-card-actions>
    </v-card>
    <!-- confirm action dialog -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="550"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>{{ dialogText }}</v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="closeDialog"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :color="dialogColor"
            :loading="loading"
            :disabled="loading"
            text
            @click="doValidate"
          >
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DateFormatMixin from '@/mixins/DateFormat';
// import the translations
import {messages_views_en, messages_views_fr} from '@/translations/views/Users/';
import {messages_models_en, messages_models_fr} from '@/translations/models/User/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, u: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, u: { ...messages_models_fr }};

export default {
  components: { 
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    edit: {
      type: Boolean,
      default: false
    },
    proofs: {
      type: Array,
      default: () => []
    },
    userId: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      dialog: false,
      id: null,
      validate: null,
      dialogTitle: null,
      dialogText: null,
      dialogColor: null
    };
  },
  computed: {
    loading() {
      return this.$store.getters['ip/loading'];
    },
    canAddProofManualy() {
      if (this.proofs.lenght == 0) {
        return true;
      }
      let hasNoPendingProof = true;
      this.proofs.forEach(proof => {
        if (proof.status == 1 || proof.status == 2) {
          hasNoPendingProof = false
        }
      });
      if (hasNoPendingProof) {
        return true;
      }
      return false;
    }
  },
  watch: {
    loading(val) {
      if (!val && this.id !== null && this.validate !== null) {
        this.closeDialog();
      }
    }
  },
  methods: {
    getProofColor(val) {
      switch (val) {
      case 0: 
      case 4:
        return 'default';
      case 1: return 'warning';
      case 2: return 'success';
      case 3: return 'error';
      }
    },
    getProofIcon(val) {
      switch (val) {
      case 0: 
      case 4:
        return 'mdi-cancel';
      case 1: return 'mdi-timer-sand';
      case 2: return 'mdi-check';
      case 3: return 'mdi-close';
      }
    },
    getStatus(val) {
      const statuses = [ 
        { text: this.$t('u.identity.items.validated.name'), value: parseInt(this.$t('u.identity.items.validated.value')) }, 
        { text: this.$t('u.identity.items.rejected.name'), value: parseInt(this.$t('u.identity.items.rejected.value')) },
        { text: this.$t('u.identity.items.pending.name'), value: parseInt(this.$t('u.identity.items.pending.value')) },
        { text: this.$t('u.identity.items.none.name'), value: parseInt(this.$t('u.identity.items.none.value')) },
        { text: this.$t('u.identity.items.canceled.name'), value: parseInt(this.$t('u.identity.items.canceled.value')) },
      ];
      return statuses.filter( value => value.value == val)[0].text;
    },
    validateProof(id,validate) {
      this.id = id;
      this.validate = validate;
      if (validate) {
        this.dialogTitle = this.$t('identity.validateProofTitle');
        this.dialogText = this.$t('identity.validateProofText');
        this.dialogColor = 'primary';
      } else {
        this.dialogTitle = this.$t('identity.unvalidateProofTitle');
        this.dialogText = this.$t('identity.unvalidateProofText');
        this.dialogColor = 'error';
      } 
      this.dialog = true;
    },
    validateExternalProof() {
      this.$store.dispatch('ip/postItem',{
          user: '/users/'+this.userId
        }
      );
      this.$emit('validated');
    },
    doValidate() {
      this.$store.dispatch('ip/patchItem', { 
        id: this.id, 
        item: {
          validate: this.validate
        }
      });
    },
    closeDialog() {
      this.dialog = false;
      this.dialogTitle = null;
      this.dialogText = null;
      this.dialogColor = null;
      this.validate = null;
      this.id = null;
      this.$emit('validated');
    }
  }
};
</script>