<template>
  <div class="user">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn
          v-if="item" 
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="item"
        >
          <h2>
            {{ $t('hitch_hiker_show') }} 
            <v-chip
              class="ma-2"
              outlined
              color="primary"
              label
            >
              <v-avatar left>
                <v-img 
                  v-if="item.avatar"
                  :src="item.avatar"
                />
                <v-icon
                  v-else
                >
                  mdi-account-circle-outline
                </v-icon>
              </v-avatar>
              {{ item.givenName }} {{ item.familyName }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <!-- edit item -->
          <v-btn
            v-if="item && hitchhikingAdmin"
            text
            color="green"
            :to="editItem()"
          >
            {{ $t('edit') }}
            <v-icon right>
              mdi-pencil
            </v-icon>
          </v-btn>
          <!-- refresh -->
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="hardRefresh()"
          >
            {{ $t('refresh') }}
            <v-icon>
              mdi-refresh
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail tabs -->
      <v-container
        v-if="item"
      >
        <v-row>
          <v-col
            :cols="12"
          >
            <v-card
              flat
            >
              <!-- tabs list -->
              <v-tabs
                v-if="tabs().length>=1"
                v-model="mtab"
              >
                <v-tab
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  {{ tab.label }}
                </v-tab>
              </v-tabs>
              <v-divider />

              <!-- tabs content -->
              <v-tabs-items 
                v-model="mtab"
              >
                <v-tab-item
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  <!-- container for regular fields -->
                  <v-container
                    v-if="tab.rows"
                  >
                    <v-row 
                      v-for="row in tab.rows"
                      :key="row.id"
                    >
                      <v-col
                        v-for="field in row.fields"
                        :key="field.name"
                        :cols="field.cols"
                        :sm="field.cols"
                        :md="field.cols"
                      >
                        <field-choice
                          :resource="resource"
                          :field="field"
                          :read-only="true"
                        />
                      </v-col>
                    </v-row>
                  </v-container>
                  <!-- special fields, handled by their dedicated component -->
                  <component 
                    :is="tab.component"
                    v-else-if="tab.component"
                    :proofs="item.identityProofs"
                    :read-only="true"
                  />
                </v-tab-item>
              </v-tabs-items>
            </v-card> 
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import FieldChoice from '@/components/field/FieldChoice.vue';
import ResourceShowMixin from '@/mixins/ResourceShow';
import PageTitleMixin from '@/mixins/PageTitle';
import DateFormatMixin from '@/mixins/DateFormat';
import HitchHikerIdentityProofs from '@/components/hitchHiker/HitchHikerIdentityProofs.vue';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Users/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_models_en, messages_models_fr} from '@/translations/models/User/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, routes: {...messages_routes_en }, user: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, routes: {...messages_routes_fr }, user: { ...messages_models_fr }};

export default {
  components: {
    FieldChoice,
    HitchHikerIdentityProofs
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceShowMixin,
    PageTitleMixin,
    DateFormatMixin
  ],
  data() {
    return {
      hitchhikingAdmin: this.$store.getters['auth/authorized']('hitchhiking_administrator'),
      // define the store module used
      resource: 'h',
      // selected items in the members datatable
      selected: []
    };
  },
  computed:{
    territoryStatusLabel(){
      if(this.item && this.item.territoryStatus){
        return this.$t('user.territoryStatus.status.'+this.item.territoryStatus);
      }
      return this.$t('user.territoryStatus.status.loading');
    },
    territoryStatusIcon(){
      if(this.item && this.item.territoryStatus){
        return this.$t('user.territoryStatus.icons.'+this.item.territoryStatus);
      }
      return this.$t('user.territoryStatus.icons.loading');
    }
  },
  methods: {
    tabs() {
      let ltabs = [];
      let identity_rows = [
        {
          id: 1,
          fields: [
            { label: this.$t('user.territoryStatus.label'), name: 'territoryStatus', type: 'text', cols: '4', value: this.territoryStatusLabel, icon: this.territoryStatusIcon },
          ]
        },
        {
          id: 2,
          fields:
            [
              { label: this.$t('user.id'), name: 'id', type: 'text', cols: '1', disabled: true },
              { label: '', name: 'spacer', type: 'spacer', cols: '3' },
              { label: this.$t('user.email'), name: 'email', type: 'text', cols: '4', required: true, nullable: false, icon: 'mdi-email', validation: { required: this.$t('user.emailRequired'), valid: this.$t('user.emailValid'), rule: 'email' } },
              { label: this.$t('user.newsSubscription'), name: 'newsSubscription', type: 'switch', cols: '4' }
            ]
        },
        {
          id: 3,
          fields: [
            { label: this.$t('user.givenName'), name: 'givenName', type: 'text', cols: '4', required: true, nullable: false, validation: { required: this.$t('user.givenNameRequired'), rule: 'limit', counter: 255, valid: this.$t('user.givenNameLimit') } },
            { label: this.$t('user.familyName'), name: 'familyName', type: 'text', cols: '4', required: true, nullable: false, validation: { required: this.$t('user.familyNameRequired'), rule: 'limit', counter: 255, valid: this.$t('event.familyNameLimit') } }
          ]
        },
        {
          id: 4,
          fields: [
            {
              label: this.$t('user.gender.label'), name: 'gender', type: 'select',
              values: [
                { text: this.$t('user.gender.items.other.name'), value: parseInt(this.$t('user.gender.items.other.value')) },
                { text: this.$t('user.gender.items.female.name'), value: parseInt(this.$t('user.gender.items.female.value')) },
                { text: this.$t('user.gender.items.male.name'), value: parseInt(this.$t('user.gender.items.male.value')) }
              ], cols: '4', required: true, nullable: false, validation: { required: this.$t('user.genderRequired') }
            },
            { label: this.$t('user.birthDate'), name: 'birthDate', type: 'date', cols: '4', nullable: false },
          ]
        },
        {
          id: 5,
          fields: [
            { label: this.$t('user.homeAddress'), name: 'homeAddress', type: 'geocomplete', cols: '8', nullable: true, icon: 'mdi-home-map-marker' },
          ]
        },
        {
          id: 6,
          fields: [
            { label: this.$t('user.hitchHikerPassenger'), name: 'hitchHikePassenger', type: 'switch', cols: '4' },
            { label: this.$t('user.hitchHikerDriver'), name: 'hitchHikeDriver', type: 'switch', cols: '4' }
          ]
        },
        {
          id: 7,
          fields: [
            { label: this.$t('user.rezoKit.label'), name: 'rezoKit', type: 'switch', cols: '4' },
            { label: this.$t('user.cardLetter.label'), name: 'cardLetter', type: 'switch', cols: '4' }
          ]
        }
      ];
      ltabs.push(
        {
          label: this.$t('user.tab.identity'), id: 1,
          rows: identity_rows
        }
      );
      if (this.$store.getters['auth/authorized']('identity_proofs_manage') && this.item?.identityProofs?.length >= 0) {
        ltabs.push({
          label: this.$t('user.tab.identityProof'), id: 2,
          component: 'HitchHikerIdentityProofs'
        });
      }
      return ltabs;     
    }
  }
};
</script>