<template>
  <div>
    <v-card outlined :loading="loading" loader-height="8">
      <v-toolbar flat>
        <!-- title -->
        <v-toolbar-title>
          <h2>{{ $t("hitch_hiker_list") }}</h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <!-- add item -->
          <v-btn
            v-if="$store.getters['auth/authorized']('user_create')"
            text
            color="green"
            :to="addItem()"
            :disabled="loading"
          >
            {{ $t("add") }}
            <v-icon right> mdi-account-plus </v-icon>
          </v-btn>

          <!-- mass mailing -->
          <v-menu v-if="showCampaignButton" close-on-click down offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                text
                color="green"
                v-bind="attrs"
                :disabled="loading"
                v-on="on"
              >
                {{ $t("mass_mailing") }}
                <v-icon right> mdi-email-multiple </v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item-group color="green">
                <v-list-item two-line @click="emailAll()">
                  <v-list-item-icon>
                    <v-icon>mdi-account-group</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ $t("mass_mailing_all") }}
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      {{ $t("mass_mailing_accepters") }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item
                  v-if="!emptyFilter"
                  two-line
                  @click="emailFiltered()"
                >
                  <v-list-item-icon>
                    <v-icon>mdi-account-group</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ $tc("mass_mailing_filtered", total, { nb: total }) }}
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      {{
                        $tc("mass_mailing_accepters_filtered", total, {
                          nb: total,
                        })
                      }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item
                  v-if="selected.length > 0"
                  two-line
                  @click="emailSelected()"
                >
                  <v-list-item-icon>
                    <v-icon>mdi-account-multiple-check</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{
                        $tc("mass_mailing_selected", selected.length, {
                          nb: selected.length,
                        })
                      }}
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      {{
                        $tc(
                          "mass_mailing_accepters_selected",
                          selected.length,
                          { nb: selected.length }
                        )
                      }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-menu>

          <!-- export -->
          <v-menu
            v-if="canExport && exportAllRight"
            close-on-click
            down
            offset-y
          >            <template v-slot:activator="{ on, attrs }">
              <v-btn
                text
                color="green"
                v-bind="attrs"
                :disabled="loading"
                v-on="on"
              >
                {{ $t("export") }}
                <v-icon right> mdi-download </v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item-group color="green">
                <v-list-item @click="exportAll()">
                  <v-list-item-icon>
                    <v-icon>mdi-account-group</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ $t("export_all") }}
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item
                  v-if="!emptyFilter"
                  two-line
                  @click="exportFiltered()"
                >
                  <v-list-item-icon>
                    <v-icon>mdi-account-group</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ $tc("export_filtered", total, { nb: total }) }}
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item
                  v-if="selected.length > 0"
                  @click="exportSelected()"
                >
                  <v-list-item-icon>
                    <v-icon>mdi-account-multiple-check</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{
                        $tc("export_selected", selected.length, {
                          nb: selected.length,
                        })
                      }}
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-menu>

          <!-- refresh -->
          <v-btn text color="green" :loading="loading" @click="getItems()">
            {{ $t("refresh") }}
            <v-icon right> mdi-table-refresh </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- data table -->
      <v-data-table
        v-model="selected"
        class="row-pointer"
        :headers="headers()"
        :items="items"
        show-select
        multi-sort
        :options.sync="options"
        :server-items-length="total"
        :footer-props="footerProps"
        @click:row="pushTo"
      >
        <template v-slot:top>
          <!-- filters -->
          <v-container>
            <v-row>
              <v-col
                v-for="onFilter in alwaysOnFilters()"
                :key="onFilter.name"
                :cols="onFilter.cols"
                :sm="onFilter.cols"
                :md="onFilter.cols"
              >
                <filter-choice
                  :filter="filter"
                  :on-filter="onFilter"
                  @filterChanged="filterChanged"
                />
              </v-col>
              <v-col v-if="optionalFilters().length > 0" cols="4" sm="4" md="4">
                <filter-list
                  v-model="selectedOptionalFilters"
                  :list="optionalFilters()"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col
                v-for="onFilter in displayedOptionalFilters()"
                :key="onFilter.name"
                :cols="onFilter.cols"
                :sm="onFilter.cols"
                :md="onFilter.cols"
              >
                <filter-choice
                  :filter="filter"
                  :on-filter="onFilter"
                  @filterChanged="filterChanged"
                />
              </v-col>
            </v-row>
          </v-container>
          <!-- end filters -->
        </template>

        <!-- overload the columns data format -->
        <template v-slot:[`item.newsSubscription`]="{ item }">
          <v-simple-checkbox
            v-if="item.newsSubscription"
            v-model="item.newsSubscription"
            disabled
          />
        </template>
        <template v-slot:[`item.rezoKit`]="{ item }">
          <v-simple-checkbox
            v-if="item.rezoKit"
            v-model="item.rezoKit"
            disabled
          />
        </template>
        <template v-slot:[`item.cardLetter`]="{ item }">
          <v-simple-checkbox
            v-if="item.cardLetter"
            v-model="item.cardLetter"
            disabled
          />
        </template>
        <template v-slot:[`item.createdDate`]="{ item }">
          <span>{{ asSimpleDate(item.createdDate) }}</span>
        </template>
        <template v-slot:[`item.lastActivityDate`]="{ item }">
          <span>{{ asSimpleDate(item.lastActivityDate) }}</span>
        </template>
        <template v-slot:[`item.identityStatus`]="{ item }">
          <span v-if="item.identityProofs.length">{{
            getIdentityStatus(
              item.identityProofs[item.identityProofs.length - 1].status
            )
          }}</span>
        </template>
        <template v-slot:[`item.hikerType`]="{ item }">
          <v-icon v-for="(icon, key) in getHikerTypeIcons(item)" :key="key">
            >
            {{ icon }}
          </v-icon>
        </template>
        <!-- end column overload -->

        <!-- action column -->
        <template v-slot:[`item.actions`]="{ item }">
          <v-btn
            v-if="loginDelegate"
            class="ma-2"
            color="warning"
            text
            :href="loginDelegatePath(item)"
            target="_blank"
          >
            {{ $t("login_delegate") }}
            <v-icon right> mdi-account-supervisor-circle-outline </v-icon>
          </v-btn>
          <v-btn
            v-if="hitchhikingAdmin"
            class="ma-2"
            color="primary"
            text
            :to="editItem(item)"
          >
            {{ $t("edit") }}
            <v-icon right> mdi-account-edit </v-icon>
          </v-btn>
        </template>
        <!-- end action column -->
      </v-data-table>
    </v-card>

    <!-- emailing action dialog -->
    <v-dialog v-model="dialog" persistent max-width="800">
      <v-card>
        <v-card-title class="text-h5">
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>
          {{ dialogText }}
          <campaign-field v-model="campaign" />
        </v-card-text>
        <v-card-subtitle
          ><h3>{{ $t("dialog.mass_mailing.gpdr_title") }}</h3></v-card-subtitle
        >
        <v-card-text>
          <p
            class="text-justify"
            v-html="
              $t('dialog.mass_mailing.gpdr_text', { instance: platformName })
            "
          />
        </v-card-text>
        <v-card-text>
          <v-checkbox
            v-model="gpdr"
            :label="$t('dialog.mass_mailing.gpdr_label')"
          />
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="
              gpdr = false;
              dialog = false;
            "
          >
            {{ $t("cancel") }}
          </v-btn>
          <v-btn
            :disabled="campaign === null || campaign === undefined || !gpdr"
            :color="dialogColor"
            text
            @click="associateCampaign"
          >
            {{ $t("dialog.mass_mailing.associateCampaign") }}
            <v-icon right> mdi-link </v-icon>
          </v-btn>
          <v-btn
            :disabled="!gpdr"
            :color="dialogColor"
            text
            @click="newCampaign"
          >
            {{ $t("dialog.mass_mailing.newCampaign") }}
            <v-icon right> mdi-plus </v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import getEnv from "@/utils/env";
import ResourceListMixin from "@/mixins/ResourceList";
import PageTitleMixin from "@/mixins/PageTitle";
import DateFormatMixin from "@/mixins/DateFormat";
import FilterList from "@/components/filter/FilterList.vue";
import FilterChoice from "@/components/filter/FilterChoice.vue";
import CampaignField from "@/components/field/CampaignField.vue";
// ---

// import the translations
import { messages_routes_en, messages_routes_fr } from "@/translations/routes/";
import {
  messages_views_en,
  messages_views_fr,
} from "@/translations/views/Users/";
import {
  messages_dates_en,
  messages_dates_fr,
} from "@/translations/views/Dates/";
import {
  messages_models_en,
  messages_models_fr,
} from "@/translations/models/User/";

let messages_en = {
  ...messages_views_en,
  dates: { ...messages_dates_en },
  routes: { ...messages_routes_en },
  user: { ...messages_models_en },
};
let messages_fr = {
  ...messages_views_fr,
  dates: { ...messages_dates_fr },
  routes: { ...messages_routes_fr },
  user: { ...messages_models_fr },
};

export default {
  components: {
    FilterList,
    FilterChoice,
    CampaignField,
  },
  i18n: {
    messages: {
      en: messages_en,
      fr: messages_fr,
    },
  },
  mixins: [ResourceListMixin, PageTitleMixin, DateFormatMixin],
  data() {
    return {
      // define the store module used
      resource: "h",
      loginDelegate:
        getEnv("VUE_APP_LOGIN_DELEGATE") &&
        this.$store.getters["auth/authorized"]("login_delegate"),
      canExport:
        getEnv('VUE_APP_EXPORT') == 'true' && this.$store.getters['auth/authorized']('export'),
      hitchhikingAdmin:
        this.$store.getters["auth/authorized"]("hitchhiking_administrator"),
      exportAllRight: this.$store.getters["auth/authorized"](
        "admin_user_export_all"
      ),  
      // dialog
      dialog: false,
      dialogTitle: "",
      dialogText: "",
      dialogAction: "",
      dialogColor: "",
      campaign: null,
      gpdr: null,
      platformName: getEnv("VUE_APP_PLATFORM_NAME"),
      // associate campaign loader
      associateLoading: false,
    };
  },
  computed: {
    associated: {
      get: function () {
        return this.$store.getters[this.resource + "/associated"];
      },
      set: function (val) {
        this.$store.dispatch(this.resource + "/saveAssociated", val);
      },
    },
    showCampaignButton() {
      return (
        this.$store.getters["auth/authorized"]("campaign_create") &&
        getEnv("VUE_APP_CAMPAIGN") === "true"
      );
    },
    canExport() {
      return (
        getEnv("VUE_APP_EXPORT") == "true" &&
        this.$store.getters["auth/authorized"]("export") &&
        this.$store.getters["auth/authorized"]("admin_hitchHiker_export_all")
      );
    },
  },
  watch: {
    associated(val) {
      if (val == 1) {
        // campaign was associated
        this.endAssociateLoad();
        this.associated = null;
        this.$store.dispatch("cp/clearDeliveries", val);
        this.dialog = false;
        this.$router.push(
          this.$router.options.routes
            .find((proute) => proute.name === "campaign_send")
            .path.replace(":id", this.campaign)
        );
      }
      this.endAssociateLoad();
    },
  },
  methods: {
    // mass mailing all items action (=filtered without filter)
    emailAll() {
      this.dialog = true;
      this.dialogTitle = this.$t("dialog.mass_mailing.all.title");
      this.dialogText = this.$t("dialog.mass_mailing.all.text");
      this.$store.dispatch("cp/saveDeliveries", {
        deliveries: [],
        source: 1,
        filterType: 2,
        filters: this.filter,
        count: this.total,
      });
    },
    // mass mailing filtered items action
    emailFiltered() {
      this.dialog = true;
      this.dialogTitle = this.$t("dialog.mass_mailing.filtered.title");
      this.dialogText = this.$t("dialog.mass_mailing.filtered.text");
      this.$store.dispatch("cp/saveDeliveries", {
        deliveries: [],
        source: 1,
        filterType: 2,
        filters: this.filter,
        count: this.total,
      });
    },
    // mass mailing selected items action
    emailSelected() {
      this.dialog = true;
      this.dialogTitle = this.$t("dialog.mass_mailing.selection.title");
      this.dialogText = this.$t("dialog.mass_mailing.selection.text");
      this.$store.dispatch("cp/saveDeliveries", {
        deliveries: this.selected
          .filter((user) => user.newsSubscription)
          .map((user) => user.id),
        source: 1,
        filterType: 1,
        count: this.selected.length,
      });
    },
    associateCampaign() {
      this.$store.dispatch(this.resource + "/associate", {
        campaign: this.campaign,
        filterType: this.$store.getters["cp/deliveryFilterType"],
        deliveries: this.$store.getters["cp/deliveries"],
      });
    },
    newCampaign() {
      this.dialog = false;
      this.$router.push(
        this.$router.options.routes.find(
          (proute) => proute.name === "campaign_create"
        )
      );
    },
    loginDelegatePath(item) {
      return (
        getEnv("VUE_APP_LOGIN_DELEGATE_PATH") +
        "/" +
        this.$store.getters["auth/email"] +
        "/" +
        item.email
      );
    },
    // define the fields (used for guessing headers and filters)
    fields() {
      return [
        {
          label: this.$t("user.id"),
          name: "id",
          filter: { type: "number", cols: "2", alwaysOn: true },
        },
        {
          label: this.$t("user.givenName"),
          name: "givenName",
          filter: { type: "text", cols: "2", alwaysOn: false },
        },
        {
          label: this.$t("user.familyName"),
          name: "familyName",
          filter: { type: "text", cols: "2", alwaysOn: true },
        },
        {
          label: this.$t("user.gender.label"),
          name: "gender",
          hidden: true,
          filter: {
            type: "selectMultiple",
            values: [
              {
                text: this.$t("user.gender.items.other.name"),
                value: this.$t("user.gender.items.other.value"),
              },
              {
                text: this.$t("user.gender.items.female.name"),
                value: this.$t("user.gender.items.female.value"),
              },
              {
                text: this.$t("user.gender.items.male.name"),
                value: this.$t("user.gender.items.male.value"),
              },
            ],
            cols: "2",
            alwaysOn: false,
          },
        },
        {
          label: this.$t("user.email"),
          name: "email",
          filter: { type: "text", cols: "2", alwaysOn: true },
        },
        {
          label: this.$t("user.identity.label"),
          name: "identityStatus",
          filter: {
            type: "selectMultiple",
            values: [
              {
                text: this.$t("user.identity.items.validated.name"),
                value: this.$t("user.identity.items.validated.value"),
              },
              {
                text: this.$t("user.identity.items.rejected.name"),
                value: this.$t("user.identity.items.rejected.value"),
              },
              {
                text: this.$t("user.identity.items.pending.name"),
                value: this.$t("user.identity.items.pending.value"),
              },
              {
                text: this.$t("user.identity.items.none.name"),
                value: this.$t("user.identity.items.none.value"),
              },
              {
                text: this.$t("user.identity.items.canceled.name"),
                value: this.$t("user.identity.items.canceled.value"),
              },
            ],
            cols: "2",
            alwaysOn: true,
          },
        },
        {
          label: this.$t("user.newsSubscription"),
          name: "newsSubscription",
          sortable: false,
        },
        {
          label: this.$t("user.rezoKit.label"),
          name: "rezoKit",
          sortable: true,
          filter: {
            type: "select",
            values: [
              {
                text: this.$t("user.rezoKit.items.sent.name"),
                value: this.$t("user.rezoKit.items.sent.value"),
              },
              {
                text: this.$t("user.rezoKit.items.notSent.name"),
                value: this.$t("user.rezoKit.items.notSent.value"),
              },
            ],
            cols: "2",
            alwaysOn: false,
          },
        },
        {
          label: this.$t("user.cardLetter.label"),
          name: "cardLetter",
          sortable: true,
          filter: {
            type: "select",
            values: [
              {
                text: this.$t("user.cardLetter.items.sent.name"),
                value: this.$t("user.cardLetter.items.sent.value"),
              },
              {
                text: this.$t("user.cardLetter.items.notSent.name"),
                value: this.$t("user.cardLetter.items.notSent.value"),
              },
            ],
            cols: "2",
            alwaysOn: false,
          },
        },
        {
          label: this.$t("user.createdDate"),
          name: "createdDate",
          filter: {
            type: "date",
            interval: "after",
            cols: "2",
            alwaysOn: false,
          },
        },
        {
          label: this.$t("user.lastActivityDate"),
          name: "lastActivityDate",
          filter: {
            type: "date",
            interval: "after",
            cols: "2",
            alwaysOn: false,
          },
        },
        {
          label: this.$t("user.hikerType"),
          name: "hikerType",
          sortable: false,
        },
        {
          label: this.$t("user.territories"),
          name: "homeAddressODTerritory",
          hidden: true,
          filter: {
            type: "autocompleteMultiple",
            resource: "t",
            cols: "4",
            alwaysOn: false,
          },
        },
        {
          label: this.$t("user.range"),
          name: "range",
          hidden: true,
          filter: {
            type: "component",
            componentType: "CarpoolRangeFilter",
            cols: "12",
            alwaysOn: false,
          },
        },
        { label: this.$t("actions"), name: "actions", sortable: false },
      ];
    },
    // stop the associate loading
    endAssociateLoad() {
      this.associateLoading = false;
    },
    getHikerTypeIcons(val) {
      if (val.hitchHikeDriver && val.hitchHikePassenger) {
        return ["mdi-steering", "mdi-walk"];
      } else if (val.hitchHikeDriver) {
        return ["mdi-steering"];
      } else if (val.hitchHikePassenger) {
        return ["mdi-walk"];
      } else {
        return [];
      }
    },
    getIdentityStatus(val) {
      return this.fields()
        .filter((field) => field.name == "identityStatus")[0]
        .filter.values.filter((value) => value.value == val)[0].text;
    },
  },
};
</script>

<style>
@import "../../styles/ResourceList.scss";
</style>
